@using System
@using System.Globalization
@using System.Linq
@using DealnetPortal.Api.Common.Enumeration
@using DealnetPortal.Api.Common.Helpers
@model System.Collections.Generic.IList<DealnetPortal.Web.Models.SummaryAndConfirmationViewModel>
<div id="label-steps">
	@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "dealnet-action-link" }) &gt; <div class="dealnet-action-link">Contracts</div>  &gt;
</div>
<div class="form-container">
	<div class="form-section">
		<div class="dealnet-large-header">Report for contracts</div>
		<div class="row credit-check-info-hold without-divider no-top-margin">
			<div class="col-md-6 grid-column">
				<div class="dealnet-credit-check-section">
					<div class="dealnet-large-header">@Model.Select(x => $"#{x.BasicInfo?.ContractId}").ConcatWithComma()</div>
				</div>
			</div>
			<div class="col-md-6 grid-column">
				<div class="dealnet-credit-check-section common-contract-information">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-9 dealnet-field-caption">TOTAL MONTHLY PAYMENT (TAX INCL.)</div>
							<div class="col-xs-12 col-sm-3 dealnet-field-holder">
								<div class="control-group">
                                    $ @($"{Model.Sum(c => c.EquipmentInfo == null ? 0 : c.EquipmentInfo.AgreementType == AgreementType.LoanApplication ? c.LoanCalculatorOutput.TotalMonthlyPayment : (c.EquipmentInfo?.TotalMonthlyPayment ?? 0) + (c.EquipmentInfo?.TotalMonthlyPayment ?? 0)*c.ProvinceTaxRate/100 ):0.00}")
								</div>
							</div>
						</div>
					</div>
				    @if (Model.Any(x => x.EquipmentInfo != null && x.EquipmentInfo.AgreementType == AgreementType.LoanApplication))
				    {
				        <div class="form-group">
				            <div class="row">
				                <div class="col-xs-12 col-sm-9 dealnet-field-caption">TOTAL VALUE</div>
				                <div class="col-xs-12 col-sm-3 dealnet-field-holder">
				                    <div class="control-group">
				                        $ @($"{Model.Where(x => x.EquipmentInfo != null && x.EquipmentInfo.AgreementType == AgreementType.LoanApplication).Sum(c => c.LoanCalculatorOutput.TotalBorowingCost):0.00}")
				                    </div>
				                </div>
				            </div>
				        </div>
				    }
                </div>
			</div>
		</div>
	</div>
	<hr>

    @foreach (var contract in Model)
    {
	<div class="form-container reports-contract-item">
		<div class="form-section contract-visible-info">
			<div class="dealnet-large-header">Report for contract #@contract.BasicInfo.ContractId</div>
			<div class="dealnet-large-header">Documents</div>
			<div class="row credit-check-info-hold">
				<div class="col-md-6 grid-column">
					<div class="dealnet-credit-check-section">
						<div class="row">
							<label class="dealnet-field-caption col-xs-4">12/10/2015</label>
							<div class="dealnet-field-holder col-xs-8">
								<ul class="report-documents-list list-unstyled">
									<li class="document-item block-item"><a href="#" class="dealnet-info-link text-semibold"><svg aria-hidden="true" class="icon icon-audio"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-audio")"></use></svg>456789.mp3</a></li>
									<li class="document-item block-item"><a href="#" class="dealnet-info-link text-semibold"><svg aria-hidden="true" class="icon icon-pdf"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-pdf")"></use></svg>123456.pdf</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row credit-check-info-hold">
				<div class="col-md-6 col-md-push-6 grid-column">
					<div class="dealnet-credit-check-section">
						<h3 class="dealnet-section-title empty-title">&nbsp;</h3>
					    @if (contract.EquipmentInfo != null && contract.EquipmentInfo.AgreementType == AgreementType.LoanApplication)
					    {
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">TOTAL VALUE</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        $ @($"{contract.LoanCalculatorOutput.TotalBorowingCost:0.00}")
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Loan Term</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(contract.EquipmentInfo?.LoanTerm)
					                    </div>
					                </div>
					            </div>
					        </div>
					    }
					    else
					    {
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Requested Term</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(contract.EquipmentInfo?.RequestedTerm)
					                    </div>
					                </div>
					            </div>
					        </div>
					    }
                        <div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Sales Rep</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										@(contract.EquipmentInfo?.SalesRep)
									</div>
								</div>
							</div>
						</div>
                        @if (contract.BasicInfo.SubDealers?.Any() ?? false)
                        {
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Sub-Dealer</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                       @(contract.BasicInfo.SubDealers.FirstOrDefault(x => x.Id == contract.BasicInfo.SubmittingDealerId)?.DisplayName)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
				</div>
				<div class="col-md-6 col-md-pull-6 grid-column">
					<div class="dealnet-credit-check-section">
						<h3 class="dealnet-section-title">Deal Information</h3>
						<div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Status</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										@(contract.AdditionalInfo?.ContractState.GetEnumDescription())
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Type</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										@(contract.EquipmentInfo?.AgreementType.GetEnumDescription())
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Date</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										@(contract.AdditionalInfo?.LastUpdateTime?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Type of Equipment</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										@(contract.EquipmentInfo?.NewEquipment?.Select(eq => eq.Type).ConcatWithComma())
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="dealnet-field-caption col-xs-6">Sub Dealer</label>
								<div class="dealnet-field-holder col-xs-6">
									<div class="control-group">
										Dealer Name
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right">
				<a href="#" class="dealnet-info-link show-full-conract-link">Show more information</a>
			</div>
		</div>
		<div class="contract-hidden-info">
			<hr>
			<div class="form-section">
				<div class="row credit-check-info-hold">
					<div class="col-md-6 grid-column">
						<div class="dealnet-credit-check-section">
							<h3 class="dealnet-section-title">Home Owner Information</h3>
							<div class="form-group">
								<div class="row">
									<label class="dealnet-field-caption col-xs-6">First Name</label>
									<div class="dealnet-field-holder col-xs-6">
										<div class="control-group">
											@(contract.BasicInfo?.HomeOwner?.FirstName)
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="dealnet-field-caption col-xs-6">Last Name</label>
									<div class="dealnet-field-holder col-xs-6">
										<div class="control-group">
											@(contract.BasicInfo?.HomeOwner?.LastName)
										</div>
									</div>
								</div>
							</div>
						    <div class="form-group">
						        <div class="row">
						            <label class="dealnet-field-caption col-xs-6">Date of Birth</label>
						            <div class="dealnet-field-holder col-xs-6">
						                <div class="control-group">
						                    @(contract.BasicInfo?.HomeOwner?.BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
						                </div>
						            </div>
						        </div>
						    </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Driver License Number</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.DriverLicenseNumber)
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">Address Information</h3>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Installation Address</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.AddressInformation?.Street)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Unit #</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.AddressInformation?.UnitNumber)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">City</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.AddressInformation?.City)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Province</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.AddressInformation?.Province)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Postal Code</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            <span class="postal-code">@(contract.BasicInfo?.HomeOwner?.AddressInformation?.PostalCode)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Residence</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo?.HomeOwner?.AddressInformation?.ResidenceType.GetEnumDescription())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (contract.BasicInfo?.HomeOwner?.MailingAddressInformation != null)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                                <h3 class="dealnet-section-title">Mailing Address</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Mailing Address</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(contract.BasicInfo?.HomeOwner?.MailingAddressInformation.Street)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Unit #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(contract.BasicInfo?.HomeOwner?.MailingAddressInformation.UnitNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">City</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(contract.BasicInfo?.HomeOwner?.MailingAddressInformation.City)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Province</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(contract.BasicInfo?.HomeOwner?.MailingAddressInformation.Province)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Postal Code</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <span class="postal-code">@(contract.BasicInfo?.HomeOwner?.MailingAddressInformation.PostalCode)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">Contact Information</h3>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Home Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.HomeOwnerContactInfo?.HomePhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Cell Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.HomeOwnerContactInfo?.CellPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Business Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.HomeOwnerContactInfo?.BusinessPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Email Address</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.HomeOwnerContactInfo?.EmailAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row credit-check-info-hold">
                    @if (contract.ContactAndPaymentInfo?.CoBorrowersContactInfo != null)
                    {
                        for (var i = 0; i < contract.ContactAndPaymentInfo.CoBorrowersContactInfo.Count; i++)
                        {
					<hr style="clear: both">
                    <div class="col-md-6 grid-column">
						<div class="dealnet-credit-check-section">
							<h3 class="dealnet-section-title">Additional Applicant</h3>
							<div class="form-group">
								<div class="row">
									<label class="dealnet-field-caption col-xs-6">First Name</label>
									<div class="dealnet-field-holder col-xs-6">
										<div class="control-group">
											@contract.BasicInfo.AdditionalApplicants[i].FirstName
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="dealnet-field-caption col-xs-6">Last Name</label>
									<div class="dealnet-field-holder col-xs-6">
										<div class="control-group">
											@contract.BasicInfo.AdditionalApplicants[i].LastName
										</div>
									</div>
								</div>
							</div>
						    <div class="form-group">
						        <div class="row">
						            <label class="dealnet-field-caption col-xs-6">Date of Birth</label>
						            <div class="dealnet-field-holder col-xs-6">
						                <div class="control-group">
						                    @(contract.BasicInfo.AdditionalApplicants[i].BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
						                </div>
						            </div>
						        </div>
						    </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Driver License Number</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @contract.BasicInfo.AdditionalApplicants[i].DriverLicenseNumber
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">Mailing Address</h3>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Mailing Address</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Street)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Unit #</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.UnitNumber)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">City</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.City)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Province</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Province)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Postal Code</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            <span class="postal-code">@(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.PostalCode)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Residence</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.ResidenceType.GetEnumDescription())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">Contact Information</h3>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Home Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.HomePhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Cell Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.CellPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Business Phone</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.BusinessPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="dealnet-field-caption col-xs-6">Email Address</label>
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(contract.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.EmailAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    }
				</div>
			</div>

		<div class="form-section">
			@if (contract.EquipmentInfo?.NewEquipment != null)
			{
			    var i = 0;
				<hr style="clear: both">
                <div class="row credit-check-info-hold equipment-info">
                    @foreach (var equipment in contract.EquipmentInfo.NewEquipment)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                                @if (i == 0)
                                {
                                    <h3 class="dealnet-section-title">Equipment Information</h3>
                                }
                                else
                                {
                                    <h3 class="dealnet-section-title">&nbsp;</h3>
                                }
                                <div class="form-group">
                                    <div class="row">
                                        <div class="dealnet-field-caption col-xs-12">#@(++i)</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Type</label>
                                        <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                            <div class="control-group">
                                                @equipment.Type
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Description</label>
                                        <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                            <div class="control-group">
                                                @equipment.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (contract.EquipmentInfo?.AgreementType == AgreementType.LoanApplication)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Cost</label>
                                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                                <div class="control-group">
                                                    @equipment.Cost
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Monthly Cost</label>
                                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                                <div class="control-group">
                                                    @equipment.MonthlyCost
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Estimated Installation Date</label>
                                        <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                            <div class="control-group">
                                                @equipment.EstimatedInstallationDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
			    </div>
			}
			@if (contract.EquipmentInfo != null)
			{
			    <div class="row">
			        <div class="col-md-12">
			            <div class="form-group summary-payment-info well">
			                <div class="row">
			                    <div class="col-md-4 col-lg-3 col-xs-12 summary-payment-info-item">
			                        <div class="row">
			                            <div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
			                                MONTHLY PAYMENT
			                            </div>
			                            <div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
			                                @if (contract.EquipmentInfo?.AgreementType == AgreementType.LoanApplication)
			                                {
			                                    <text>$</text>
			                                    @(Math.Round(contract.LoanCalculatorOutput.TotalMonthlyPayment, 2))

			                                }
			                                else
			                                {
			                                    <text>$</text>
			                                    @(contract.EquipmentInfo?.TotalMonthlyPayment)
			                                }
			                            </div>
			                        </div>
			                    </div>
			                    @if (contract.EquipmentInfo != null && contract.EquipmentInfo?.AgreementType != AgreementType.LoanApplication)
			                    {
			                        <div class="col-md-2 col-lg-2 col-xs-12 summary-payment-info-item">
			                            <div class="row">
			                                <div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
			                                    HST
			                                </div>
			                                <div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
			                                    $@(Math.Round((contract.EquipmentInfo?.TotalMonthlyPayment ?? 0)*contract.ProvinceTaxRate/100, 2))
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-6 col-lg-7 col-xs-12 summary-payment-info-item">
			                            <div class="row">
			                                <div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
			                                    TOTAL MONTHLY PAYMENT (TAX INCL.)
			                                </div>
			                                <div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
			                                    $@(Math.Round((contract.EquipmentInfo?.TotalMonthlyPayment ?? 0) + (contract.EquipmentInfo?.TotalMonthlyPayment ?? 0)*contract.ProvinceTaxRate/100, 2))
			                                </div>
			                            </div>
			                        </div>
			                    }
			                </div>
			            </div>
			        </div>
			    </div>
			}

				@if (contract.ContactAndPaymentInfo?.PaymentInfo != null)
                {
                    <div class="row credit-check-info-hold">
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                                <h3 class="dealnet-section-title">Payment Information</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Payment Type</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(contract.ContactAndPaymentInfo.PaymentInfo.PaymentType.GetEnumDescription())
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @switch (contract.ContactAndPaymentInfo.PaymentInfo.PaymentType)
                                {
                                    case PaymentType.Enbridge:
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="dealnet-field-caption col-xs-6">Enbridge Acct #</label>
                                                <div class="dealnet-field-holder col-xs-6">
                                                    <div class="control-group">
                                                        @(contract.ContactAndPaymentInfo.PaymentInfo.EnbridgeGasDistributionAccount)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="dealnet-field-caption col-xs-6">Meter #</label>
                                                <div class="dealnet-field-holder col-xs-6">
                                                    <div class="control-group">
                                                        @(contract.ContactAndPaymentInfo.PaymentInfo.MeterNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case PaymentType.Pap:
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="dealnet-field-caption col-xs-6">Account #</label>
                                                <div class="dealnet-field-holder col-xs-6">
                                                    <div class="control-group">
                                                        @(contract.ContactAndPaymentInfo.PaymentInfo.AccountNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="dealnet-field-caption col-xs-6">Bank #</label>
                                                <div class="dealnet-field-holder col-xs-6">
                                                    <div class="control-group">
                                                        @(contract.ContactAndPaymentInfo.PaymentInfo.BlankNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="dealnet-field-caption col-xs-6">Transit #</label>
                                                <div class="dealnet-field-holder col-xs-6">
                                                    <div class="control-group">
                                                        @(contract.ContactAndPaymentInfo.PaymentInfo.TransitNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                }
				@if (contract.EquipmentInfo?.ExistingEquipment != null && contract.EquipmentInfo.ExistingEquipment.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="summary-return-equipment">
                                <h3 class="dealnet-section-title">Existing Equipment Information</h3>
                                @foreach (var equipment in contract.EquipmentInfo.ExistingEquipment)
                    {
                                    <div class="summury-return-equip-item">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Is rental?
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @(equipment.IsRental ? "Yes" : "No")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Rental Company
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.RentalCompany
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    General Condition
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.GeneralCondition
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Estimated Age
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.EstimatedAge
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Make
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.Make
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Model
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.Model
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Serial Number
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    @equipment.SerialNumber
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                                    Notes
                                                </div>
                                                <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                                    <span style="white-space: pre-wrap">@equipment.Notes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }


			<hr>
			<div class="form-section">
				<div class="row">
					<div class="credit-check-info-hold">
						<div class="col-md-6 grid-column" id="edit-add-contract-section">
							<div class="dealnet-credit-check-section">
								<h3 class="dealnet-section-title">
									Additional Contract Information
								</h3>
								<div class="form-group">
									<div class="row">
										<label for="" class="dealnet-field-caption col-xs-12">Contract Notes</label>
										<div class="dealnet-field-holder col-xs-12">
											<span style="white-space: pre-wrap">@(contract.EquipmentInfo?.Notes)</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<hr>
	</div>
    }
</div>

<div class="text-center back-to-top-hold">
	<a href="#" class="dealnet-info-link" onClick="backToTop()"><svg aria-hidden="true" class="icon icon-back-to-top"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-back-to-top")"></use></svg>Back to top</a>
</div>