@using System
@using System.Globalization
@using System.Linq
@using DealnetPortal.Api.Common.Enumeration
@using DealnetPortal.Api.Common.Helpers
@model DealnetPortal.Web.Models.SummaryAndConfirmationViewModel
<div id="label-steps">
	@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "dealnet-action-link" }) &gt; <div class="dealnet-action-link">Contract #@Model.BasicInfo.ContractId</div>  &gt;
</div>

<div class="form-container">
	<div class="form-section">
		<div class="dealnet-large-header">Report for contract #@Model.BasicInfo.ContractId</div>
		<div class="dealnet-large-header">Documents</div>
		<div class="text-md">There are no uploaded documents, yet</div>
	</div>
	<hr>
	<div class="form-section">
		<div class="row credit-check-info-hold">
			<div class="col-md-6 col-md-push-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title empty-title">&nbsp;</h3>
				    @if (Model.EquipmentInfo.AgreementType != AgreementType.RentalApplication &&
                        Model.EquipmentInfo.AgreementType != AgreementType.RentalApplicationHwt)
				    {
				        <div class="form-group">
				            <div class="row">
				                <label class="dealnet-field-caption col-xs-6">TOTAL VALUE</label>
				                <div class="dealnet-field-holder col-xs-6">
				                    <div class="control-group">
				                        $ @($"{Model.EquipmentInfo?.NewEquipment.Sum(e => e.Cost):0,00.00}")
				                    </div>
				                </div>
				            </div>
				        </div>
				    }
                    <div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Requested Term</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.RequestedTerm) 
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Sales Rep</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.SalesRep)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Deal Information</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Status</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.AdditionalInfo.ContractState.GetEnumDescription())
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Type</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.AgreementType.GetEnumDescription())
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Date</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.AdditionalInfo.LastUpdateTime?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Type of Equipment</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.NewEquipment?.Select(eq => eq.Type).ConcatWithComma())
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
		<div class="row credit-check-info-hold">
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Home Owner Information</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">First Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.FirstName)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Last Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.LastName)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Date of Birth</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            @if (Model.BasicInfo?.AdditionalApplicants != null)
            {
                foreach (var applicant in Model.BasicInfo.AdditionalApplicants)
                {
                     <div class="col-md-6">
                         <div class="dealnet-credit-check-section">
                             <h3 class="dealnet-section-title">Additional Applicant</h3>
                             <div class="form-group">
                                 <div class="row">
                                     <label class="dealnet-field-caption col-xs-6">First Name</label>
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @applicant.FirstName
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="row">
                                     <label class="dealnet-field-caption col-xs-6">Last Name</label>
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @applicant.LastName
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="row">
                                     <label class="dealnet-field-caption col-xs-6">Date of Birth</label>
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @(applicant.BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 }
            }   
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Address Information</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Installation Address</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.AddressInformation.InstallationAddress)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Unit #</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.AddressInformation.UnitNumber)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">City</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.AddressInformation.City)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Province</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.AddressInformation.Province)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Postal Code</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.AddressInformation.PostalCode)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		@if (Model.BasicInfo?.MailingAddressInformation != null)
        {
            <div class="col-md-6">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">Mailing Address</h3>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Installation Address</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.MailingAddressInformation.InstallationAddress)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Unit #</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.MailingAddressInformation.UnitNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">City</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.MailingAddressInformation.City)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Province</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.MailingAddressInformation.Province)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Postal Code</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.MailingAddressInformation.PostalCode)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Contact Information</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Home Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo.HomePhone)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Cell Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo.CellPhone)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Business Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo.BusinessPhone)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Email Address</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo.EmailAddress)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
	@if (Model.EquipmentInfo?.NewEquipment != null)
	{
	    var i = 0;
	    <div class="row credit-check-info-hold equipment-info">
	        @foreach (var equipment in Model.EquipmentInfo.NewEquipment)
	        {
	            <div class="col-md-6">
	                <div class="dealnet-credit-check-section">
	                    @if (i == 0)
	                    {
	                        <h3 class="dealnet-section-title">Equipment Information</h3>
                        }
                        else
                        {
                            <h3 class="dealnet-section-title">&nbsp;</h3>
                        }
	                    <div class="form-group">
	                        <div class="row">
	                            <div class="dealnet-field-caption col-xs-12">#@(++i)</div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="row">
	                            <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Type</label>
	                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
	                                <div class="control-group">
	                                    @equipment.Type
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="row">
	                            <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Description</label>
	                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
	                                <div class="control-group">
	                                    @equipment.Description
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="row">
	                            <label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Estimated Installation Date</label>
	                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
	                                <div class="control-group">
	                                    @equipment.EstimatedInstallationDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        }
	    </div>
	}
        <div class="row">
			<div class="col-md-12">
				<div class="form-group summary-payment-info well">
					<div class="row">
						<div class="col-md-4 col-lg-3 col-xs-12 summary-payment-info-item">
							<div class="row">
								<div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
									MONTHLY PAYMENT
								</div>
								<div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
									$@(Model.EquipmentInfo?.TotalMonthlyPayment)
								</div>
							</div>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-12 summary-payment-info-item">
							<div class="row">
								<div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
									HST
								</div>
								<div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
                                    $@(Math.Round((Model.EquipmentInfo?.TotalMonthlyPayment ?? 0) * Model.ProvinceTaxRate / 100, 2))
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-7 col-xs-12 summary-payment-info-item">
							<div class="row">
								<div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
									TOTAL MONTHLY PAYMENT (TAX INCL.)
								</div>
								<div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
									$@(Math.Round((Model.EquipmentInfo?.TotalMonthlyPayment ?? 0) + (Model.EquipmentInfo?.TotalMonthlyPayment ?? 0) * Model.ProvinceTaxRate / 100, 2))
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        @if (Model.ContactAndPaymentInfo?.PaymentInfo != null)
        {
            <div class="row credit-check-info-hold">
                <div class="col-md-6">
                    <div class="dealnet-credit-check-section">
                        <h3 class="dealnet-section-title">Payment Information</h3>
                        <div class="form-group">
                            <div class="row">
                                <label class="dealnet-field-caption col-xs-6">Payment Type</label>
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.ContactAndPaymentInfo.PaymentInfo.PaymentType.GetEnumDescription())
                                    </div>
                                </div>
                            </div>
                        </div>
                        @switch (Model.ContactAndPaymentInfo.PaymentInfo.PaymentType)
                        {
                            case PaymentType.Enbridge:
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Enbridge Acct #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.EnbridgeGasDistributionAccount)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Meter #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.MeterNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            case PaymentType.Pap:
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Account #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.AccountNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Bank #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.BlankNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">Transit #</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.TransitNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                        }
                    </div>
                </div>
            </div>
        }
	@if (Model.EquipmentInfo?.ExistingEquipment != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="summary-return-equipment">
                    <h3 class="dealnet-section-title">Return Equipment</h3>
                    @foreach (var equipment in Model.EquipmentInfo.ExistingEquipment)
                    {
                        <div class="summury-return-equip-item">
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Is rental?
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @(equipment.IsRental ? "Yes" : "No")
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Rental Company
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.RentalCompany
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        General Condition
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.GeneralCondition
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Estimated Age
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.EstimatedAge
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Make
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.Make
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Model
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.Model
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Serial Number
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.SerialNumber
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        Notes
                                    </div>
                                    <div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.Notes
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
        
	</div>
</div>
<div class="text-center back-to-top-hold">
	<a href="#" class="dealnet-info-link" onClick="backToTop()"><svg aria-hidden="true" class="icon icon-back-to-top"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-back-to-top")"></use></svg>Back to top</a>
</div>