@using System
@using System.Globalization
@using System.Linq
@using DealnetPortal.Api.Common.Helpers
@using DealnetPortal.Web.Common.Enumeration
@model DealnetPortal.Web.Models.ContractViewModel
<div id="label-steps">
	@Html.ActionLink(Resources.Reports, "Index", "Reports", null, new { @class = "dealnet-action-link" }) &gt; <div class="dealnet-action-link">@Resources.Contract #@(Model.AdditionalInfo.TransactionId ?? Model.BasicInfo.ContractId.ToString())</div>  &gt;
</div>

<div class="form-container">
	<div class="form-section">
		<div class="dealnet-large-header">@Resources.ReportForContract #@(Model.AdditionalInfo.TransactionId ?? Model.BasicInfo.ContractId.ToString())</div>
        <br />
        <div class="documents-container">
	        <div class="row">
		        <div class="col-md-6">
			        <h3 class="dealnet-section-title">@Resources.FundingChecklist
				        <span class="mandatory-title"><i class="mandatory-icon">*</i> &mdash; @Resources.MandatoryDocuments</span>
			        </h3>
		        </div>
	        </div>
            <div class="tabs tabs-vertical row responsive-tabs">
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-stacked documents-pills">
                        @for (var i = 0; i < Model.UploadDocumentsInfo.DocumentTypes.Count; i++)
                        {
                            var document = Model.UploadDocumentsInfo.ExistingDocuments.FirstOrDefault(x => x.DocumentTypeId.ToString() == Model.UploadDocumentsInfo.DocumentTypes[i].Value);
                            <li class="@(i == 0 ? "active" : "") @(document != null ? "uploaded" : "") documents-pills-item">
                                <a href="#tab@(i+1)" class="documents-pills-link" aria-controls="tab@(i+1)" role="tab" data-toggle="tab">
                                    @if (Model.UploadDocumentsInfo.DocumentTypes[i].Value == "7")
                                    {
                                        <text>@Resources.OtherDocuments</text>
                                    }
                                    else
                                    {
		                                @(Model.UploadDocumentsInfo.DocumentTypes[i].Text)
		                                if(Model.UploadDocumentsInfo.MandatoryDocumentTypes.Any(md => md.ToString() == Model.UploadDocumentsInfo.DocumentTypes[i].Value))
		                                {
		                                <i class="mandatory-icon">*</i>
		                                }
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="tab-content doc-tab-content documents-pills" role="tablist">
                        @for (var i = 0; i < Model.UploadDocumentsInfo.DocumentTypes.Count; i++)
                        {
                            if (Model.UploadDocumentsInfo.DocumentTypes[i].Value == "7")
                            {
                                continue;
                            }
		                    var document = Model.UploadDocumentsInfo.ExistingDocuments.FirstOrDefault(x => x.DocumentTypeId.ToString() == Model.UploadDocumentsInfo.DocumentTypes[i].Value);
		                    <div class="@(i == 0 ? "active" : "") @(document != null ? "uploaded" : "") @(Model.UploadDocumentsInfo.MandatoryDocumentTypes.Any(md => md.ToString() == Model.UploadDocumentsInfo.DocumentTypes[i].Value) ? "mandatory" : "" ) documents-pills-item tab-container-@(i+1)">
		                    <a href="#tab@(i+1)" class="documents-pills-link" aria-controls="tab@(i+1)" role="tab" data-toggle="tab">
			                    @(Model.UploadDocumentsInfo.DocumentTypes[i].Text)
			                    @if(Model.UploadDocumentsInfo.MandatoryDocumentTypes.Any(md => md.ToString() == Model.UploadDocumentsInfo.DocumentTypes[i].Value))
			                    {
			                    <i class="mandatory-icon">*</i>
			                    }
		                    </a>
	                    </div>
                            <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : "")" id="tab@(i + 1)">
                                <h3 class="document-pane-header">
                                    @(Model.UploadDocumentsInfo.DocumentTypes[i].Text)
                                </h3>
                                @if (document != null)
                                {
                                    <div class="documents-list">
                                        <div class="document-item block-item">
                                            <svg aria-hidden="true" class="icon icon-pdf"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-pdf")"></use></svg>
                                            <span class="document-naming">@(document.DocumentName)</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        <div class="@(Model.UploadDocumentsInfo.ExistingDocuments.Any(x => x.DocumentTypeId == 7) ? "uploaded" : "") documents-pills-item">
                            <a href="#tab7" class="documents-pills-link" aria-controls="tab7" role="tab" data-toggle="tab">
                                @Resources.OtherDocuments
                            </a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab7">
                            <h3 class="document-pane-header">
                                @Resources.OtherDocuments
                            </h3>
                            <div class="documents-list" id="other-documents-list">
                                @foreach (var document in Model.UploadDocumentsInfo.ExistingDocuments.Where(x => x.DocumentTypeId == 7))
                                {
                                    <div class="document-item block-item">
                                        <svg aria-hidden="true" class="icon icon-pdf"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-pdf")"></use></svg>
                                        <span class="document-naming">@document.DocumentName</span>
                                    </div>
                                    <hr>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<hr>
	<div class="form-section">
        @if (Model.BasicInfo.SubDealers?.Any() ?? false)
        {
            <div class="row credit-check-info-hold">
                <div class="col-md-6 grid-column">
                    <div class="dealnet-credit-check-section">
                        <div class="dealnet-section-title">@Resources.SubDealer</div>
                        <div class="form-group">
                            <div class="row">
                                <label for="" class="dealnet-field-caption col-xs-6">@Resources.DealerName</label>
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.BasicInfo.SubDealers.FirstOrDefault(x => x.Id == Model.BasicInfo.SubmittingDealerId)?.DisplayName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
		<h3 class="dealnet-section-title">@Resources.DealInformation</h3>
        <div class="row credit-check-info-hold no-top-margin">
			<div class="col-md-6 col-md-push-6 grid-column">
				<div class="dealnet-credit-check-section">
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">@Resources.TotalValue</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    $ @($"{Model.EquipmentInfo?.ValueOfDeal:0.00}")
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.EquipmentInfo?.AgreementType == AgreementType.LoanApplication)
				    {
				        <div class="form-group">
				            <div class="row">
				                @Html.LabelFor(m => m.EquipmentInfo.LoanTerm, new { @class = "dealnet-field-caption col-xs-6" })
				                <div class="dealnet-field-holder col-xs-6">
				                    <div class="control-group">
				                        @(Model.EquipmentInfo?.LoanTerm)
				                    </div>
				                </div>
				            </div>
				        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.EquipmentInfo.LoanDeferralType, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.EquipmentInfo?.LoanDeferralType.GetEnumDescription())
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
				        <div class="form-group">
				            <div class="row">
				                @Html.LabelFor(m => m.EquipmentInfo.RequestedTerm, new { @class = "dealnet-field-caption col-xs-6" })
				                <div class="dealnet-field-holder col-xs-6">
				                    <div class="control-group">
				                        @(Model.EquipmentInfo?.RequestedTerm)
				                    </div>
				                </div>
				            </div>
				        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.EquipmentInfo.RentalDeferralType, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.EquipmentInfo?.RentalDeferralType.GetEnumDescription())
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
						<div class="row">
                            @Html.LabelFor(m => m.EquipmentInfo.SalesRep, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.SalesRep)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6 grid-column">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.AdditionalInfo.Status, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.AdditionalInfo?.Status)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.EquipmentInfo.AgreementType, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.AgreementType.GetEnumDescription())
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.AdditionalInfo.LastUpdateTime, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.AdditionalInfo?.LastUpdateTime?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">@Resources.TypeOfEquipment</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.EquipmentInfo?.NewEquipment?.Select(eq => eq.TypeDescription).ConcatWithComma())
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
		<div class="row credit-check-info-hold">
			<div class="col-md-6 grid-column">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">@Resources.InstallationAddressInformation</h3>
					<div class="form-group">
					    <div class="row">
					        @Html.LabelFor(m => m.BasicInfo.HomeOwner.AddressInformation.Street, new { @class = "dealnet-field-caption col-xs-6" })
					        <div class="dealnet-field-holder col-xs-6">
					            <div class="control-group">
					                @(Model.BasicInfo?.HomeOwner?.AddressInformation?.Street)
					            </div>
					        </div>
					    </div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.AddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.AddressInformation?.UnitNumber)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.AddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.AddressInformation?.City)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.AddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.AddressInformation?.Province)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.AddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<span class="postal-code">@(Model.BasicInfo?.HomeOwner?.AddressInformation?.PostalCode)</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row credit-check-info-hold">
			<div class="col-md-6 grid-column">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">@Resources.BorrowerInformation</h3>
					<div class="form-group">
					    <div class="row">
					        @Html.LabelFor(m => m.BasicInfo.HomeOwner.FirstName, new { @class = "dealnet-field-caption col-xs-6" })
					        <div class="dealnet-field-holder col-xs-6">
					            <div class="control-group">
					                @(Model.BasicInfo?.HomeOwner?.FirstName)
					            </div>
					        </div>
					    </div>
					</div>
					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.LastName, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@(Model.BasicInfo?.HomeOwner?.LastName)
								</div>
							</div>
						</div>
					</div>
				    <div class="form-group">
				        <div class="row">
				            @Html.LabelFor(m => m.BasicInfo.HomeOwner.BirthDate, new { @class = "dealnet-field-caption col-xs-6" })
				            <div class="dealnet-field-holder col-xs-6">
				                <div class="control-group">
				                    @(Model.BasicInfo?.HomeOwner?.BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
				                </div>
				            </div>
				        </div>
				    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => m.BasicInfo.HomeOwner.DriverLicenseNumber, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.BasicInfo?.HomeOwner?.DriverLicenseNumber)
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="form-group">
						<div class="row">
							@Html.LabelFor(m => m.BasicInfo.HomeOwner.IsHomeOwner, new { @class = "dealnet-field-caption col-xs-6" })
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									@Html.HiddenFor(m => m.BasicInfo.HomeOwner.IsHomeOwner)
                                    <input type="text" readonly="readonly" class="dealnet-disabled-input" value=@(Model.BasicInfo.HomeOwner.IsHomeOwner ? Resources.Yes : Resources.No )>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col-md-6 grid-column">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">@Resources.PreviousAddressInformation</h3>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Street</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
	                                Rita Ave
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Unit #</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
	                                80
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">City</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
	                                Ottawa
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Province</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
	                                Nepean
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="dealnet-field-caption col-xs-6">Postal Code</label>
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    <span class="postal-code">ON K2G 2H1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.BasicInfo?.HomeOwner?.MailingAddressInformation != null)
            {
                <div class="col-md-6 grid-column">
                    <div class="dealnet-credit-check-section">
                        <h3 class="dealnet-section-title">@Resources.MailingAddress</h3>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.BasicInfo.HomeOwner.MailingAddressInformation.Street, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.BasicInfo?.HomeOwner?.MailingAddressInformation.Street)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.BasicInfo.HomeOwner.MailingAddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.BasicInfo?.HomeOwner?.MailingAddressInformation.UnitNumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.BasicInfo.HomeOwner.MailingAddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.BasicInfo?.HomeOwner?.MailingAddressInformation.City)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.BasicInfo.HomeOwner.MailingAddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.BasicInfo?.HomeOwner?.MailingAddressInformation.Province)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.BasicInfo.HomeOwner.MailingAddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        <span class="postal-code">@(Model.BasicInfo?.HomeOwner?.MailingAddressInformation.PostalCode)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-6 grid-column">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">@Resources.ContactInformation</h3>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => m.ContactAndPaymentInfo.HomeOwnerContactInfo.HomePhone, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo?.HomePhone)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => m.ContactAndPaymentInfo.HomeOwnerContactInfo.CellPhone, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo?.CellPhone)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => m.ContactAndPaymentInfo.HomeOwnerContactInfo.BusinessPhone, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo?.BusinessPhone)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => m.ContactAndPaymentInfo.HomeOwnerContactInfo.EmailAddress, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.ContactAndPaymentInfo?.HomeOwnerContactInfo?.EmailAddress)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
		    @if (Model.ContactAndPaymentInfo?.CoBorrowersContactInfo != null)
            {
                for (var i = 0; i < Model.ContactAndPaymentInfo.CoBorrowersContactInfo.Count; i++)
                {
				<hr style="clear: both">
				<div class="credit-check-info-hold">
                     <div class="col-md-6 grid-column">
                         <div class="dealnet-credit-check-section">
                             <h3 class="dealnet-section-title">@Resources.AdditionalApplicant</h3>
                             <div class="form-group">
                                 <div class="row">
                                     @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].FirstName, new { @class = "dealnet-field-caption col-xs-6" })
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @Model.BasicInfo.AdditionalApplicants[i].FirstName
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="row">
                                     @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].LastName, new { @class = "dealnet-field-caption col-xs-6" })
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @Model.BasicInfo.AdditionalApplicants[i].LastName
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="row">
                                     @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].BirthDate, new { @class = "dealnet-field-caption col-xs-6" })
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @(Model.BasicInfo.AdditionalApplicants[i].BirthDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="row">
                                     @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].DriverLicenseNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                     <div class="dealnet-field-holder col-xs-6">
                                         <div class="control-group">
                                             @Model.BasicInfo.AdditionalApplicants[i].DriverLicenseNumber
                                         </div>
                                     </div>
                                 </div>
                             </div>

	                         <div class="form-group">
		                         <div class="row">
			                         @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].IsHomeOwner, new { @class = "dealnet-field-caption col-xs-6" })
			                         <div class="dealnet-field-holder col-xs-6">
				                         <div class="control-group">
					                        @Html.HiddenFor(m => m.BasicInfo.AdditionalApplicants[i].IsHomeOwner)
                                            <input type="text" readonly="readonly" class="dealnet-disabled-input" value=@(Model.BasicInfo.AdditionalApplicants[i].IsHomeOwner ? Resources.Yes : Resources.No )>
				                         </div>
			                         </div>
		                         </div>
	                         </div>
                         </div>
                     </div>
					<div class="col-md-6 grid-column">
					    <div class="dealnet-credit-check-section">
								<h3 class="dealnet-section-title">@Resources.PreviousAddressInformation</h3>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Street</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(Model.BasicInfo?.HomeOwner?.AddressInformation?.Street)
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Unit #</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(Model.BasicInfo?.HomeOwner?.AddressInformation?.UnitNumber)
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">City</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(Model.BasicInfo?.HomeOwner?.AddressInformation?.City)
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Province</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        @(Model.BasicInfo?.HomeOwner?.AddressInformation?.Province)
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="row">
					                <label class="dealnet-field-caption col-xs-6">Postal Code</label>
					                <div class="dealnet-field-holder col-xs-6">
					                    <div class="control-group">
					                        <span class="postal-code">@(Model.BasicInfo?.HomeOwner?.AddressInformation?.PostalCode)</span>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
                    @if (Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation != null)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">@Resources.MailingAddress</h3>
                                <div class="form-group">
                                    <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Street, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Street)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.UnitNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.City)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.Province)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <span class="postal-code">@(Model.BasicInfo.AdditionalApplicants[i].MailingAddressInformation.PostalCode)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">@Resources.ContactInformation</h3>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].HomePhone, new { @class = "dealnet-field-caption col-xs-6" })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(Model.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.HomePhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].CellPhone, new { @class = "dealnet-field-caption col-xs-6" })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(Model.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.CellPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].BusinessPhone, new { @class = "dealnet-field-caption col-xs-6" })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(Model.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.BusinessPhone)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].EmailAddress, new { @class = "dealnet-field-caption col-xs-6" })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @(Model.ContactAndPaymentInfo?.CoBorrowersContactInfo[i]?.EmailAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                }
            }
            
			
		</div>
	</div>
    <hr>
	<div class="form-section">
	@if (Model.EquipmentInfo?.NewEquipment != null)
	{
	    var i = 0;
	    <div class="row credit-check-info-hold equipment-info no-top-margin">
	        @foreach (var equipment in Model.EquipmentInfo.NewEquipment)
	        {
	            <div class="col-md-6 grid-column">
	                <div class="dealnet-credit-check-section">
	                    @if (i == 0)
	                    {
	                        <h3 class="dealnet-section-title">@Resources.EquipmentInformation</h3>
                        }
                        else
                        {
                            <h3 class="dealnet-section-title">&nbsp;</h3>
                        }
	                    <div class="form-group">
	                        <div class="row">
	                            <div class="dealnet-field-caption col-xs-12">#@(++i)</div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="row">
	                            @Html.LabelFor(x => equipment.TypeDescription, new { @class = "dealnet-field-caption col-xs-5 col-sm-4 col-md-5" })
	                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
	                                <div class="control-group">
	                                    @equipment.TypeDescription
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="row">
	                            @Html.LabelFor(x => equipment.Description, new { @class = "dealnet-field-caption col-xs-5 col-sm-4 col-md-5" })
	                            <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
	                                <div class="control-group">
	                                    @equipment.Description
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    @if (Model.EquipmentInfo?.AgreementType == AgreementType.LoanApplication)
                        {
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.Cost, new { @class = "dealnet-field-caption col-xs-5 col-sm-4 col-md-5" })
                                    <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                        <div class="control-group">
                                            @equipment.Cost
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.MonthlyCost, new { @class = "dealnet-field-caption col-xs-5 col-sm-4 col-md-5" })
                                    <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
                                        <div class="control-group">
                                            @equipment.MonthlyCost
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
	                </div>
	            </div>
	        }
		    <div class="clearfix">
			    <div class="col-md-6 grid-column">
				    <div class="dealnet-credit-check-section">
					    <div class="form-group">
						    <div class="row">
	                            @Html.LabelFor(x => Model.EquipmentInfo.EstimatedInstallationDate, new { @class = "dealnet-field-caption col-xs-5 col-sm-4 col-md-5" })
							    <div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								    <div class="control-group">
									   @(Model.EquipmentInfo.EstimatedInstallationDate?.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))
								    </div>
							    </div>
						    </div>
				        </div>
					</div>
			    </div>
		    </div>
	    </div>
	}
        <div class="row">
			<div class="col-md-12">
				<div class="form-group summary-payment-info well">
					<div class="row">
						<div class="col-md-4 col-lg-3 col-xs-12 summary-payment-info-item">
							<div class="row">
								<div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
									@Resources.MonthlyPayment
								</div>
								<div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
                                    @if (Model.EquipmentInfo?.AgreementType == AgreementType.LoanApplication)
                                    {
                                        <text>$</text>@(Math.Round(Model.LoanCalculatorOutput.TotalMonthlyPayment, 2))
                                    }
                                    else
                                    {
                                        <text>$</text>@(Model.EquipmentInfo?.TotalMonthlyPayment)
                                    }
								</div>
							</div>
						</div>
					    @if (Model.EquipmentInfo != null && Model.EquipmentInfo?.AgreementType != AgreementType.LoanApplication)
					    {
					        <div class="col-md-2 col-lg-2 col-xs-12 summary-payment-info-item">
					            <div class="row">
					                <div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
                                        @(Model.ProvinceTaxRate?.Description ?? @Resources.Tax)
					                </div>
					                <div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
					                    $@(Math.Round((Model.EquipmentInfo?.TotalMonthlyPayment ?? 0)* (Model.ProvinceTaxRate?.Rate ?? 0) / 100, 2))
					                </div>
					            </div>
					        </div>
					        <div class="col-md-6 col-lg-7 col-xs-12 summary-payment-info-item">
					            <div class="row">
					                <div class="dealnet-field-caption col-xs-12 col-sm-7 col-md-12">
					                    @Resources.TotalMonthlyPaymentWithTaxes
					                </div>
					                <div class="dealnet-field-holder col-xs-12 col-sm-5 col-md-12">
					                    $@(Math.Round((Model.EquipmentInfo?.TotalMonthlyPayment ?? 0) + (Model.EquipmentInfo?.TotalMonthlyPayment ?? 0)* (Model.ProvinceTaxRate?.Rate ?? 0) / 100, 2))
					                </div>
					            </div>
					        </div>
					    }
                    </div>
				</div>
			</div>
		</div>

        @if (Model.ContactAndPaymentInfo?.PaymentInfo != null)
        {
            <div class="row credit-check-info-hold">
                <div class="col-md-6 grid-column">
                    <div class="dealnet-credit-check-section">
                        <h3 class="dealnet-section-title">@Resources.PaymentInformation</h3>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.PaymentType, new { @class = "dealnet-field-caption col-xs-6" })
                                <div class="dealnet-field-holder col-xs-6">
                                    <div class="control-group">
                                        @(Model.ContactAndPaymentInfo.PaymentInfo.PaymentType.GetEnumDescription())
                                    </div>
                                </div>
                            </div>
                        </div>
                        @switch (Model.ContactAndPaymentInfo.PaymentInfo.PaymentType)
                        {
                            case DealnetPortal.Web.Common.Enumeration.PaymentType.Enbridge:
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.EnbridgeGasDistributionAccount, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.EnbridgeGasDistributionAccount)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.MeterNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.MeterNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            case DealnetPortal.Web.Common.Enumeration.PaymentType.Pap:
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.AccountNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.AccountNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.BlankNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.BlankNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.ContactAndPaymentInfo.PaymentInfo.TransitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @(Model.ContactAndPaymentInfo.PaymentInfo.TransitNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                        }
                    </div>
                </div>
            </div>
        }
	@if (Model.EquipmentInfo?.ExistingEquipment != null && Model.EquipmentInfo.ExistingEquipment.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="summary-return-equipment">
                    <h3 class="dealnet-section-title">@Resources.ExistingEquipmentInformation</h3>
                    @foreach (var equipment in Model.EquipmentInfo.ExistingEquipment)
                    {
                        <div class="summury-return-equip-item">
                            <div class="form-group">
                                <div class="row">
                                    <div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                        @Resources.IsRental
                                    </div>
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @(equipment.IsRental ? Resources.Yes : Resources.No)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.RentalCompany, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.RentalCompany
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.GeneralCondition, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.GeneralCondition
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.EstimatedAge, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.EstimatedAge
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.Make, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.Make
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.Model, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.Model
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.SerialNumber, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        @equipment.SerialNumber
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(x => equipment.Notes, new { @class = "dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2" })
                                    <div class="dealnet-field-holder text-left col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
                                        <span style="white-space: pre-wrap">@equipment.Notes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

		<hr>
		<div class="form-section">
			<div class="row">
				<div class="credit-check-info-hold">
					<div class="col-md-6 grid-column" id="edit-add-contract-section">
						<div class="dealnet-credit-check-section">
							<h3 class="dealnet-section-title">
								@Resources.AdditionalContractInformation
							</h3>
							<div class="form-group">
							    <div class="row">
							        @Html.LabelFor(m => m.EquipmentInfo.Notes, new { @class = "dealnet-field-caption col-xs-12" })
							        <div class="dealnet-field-holder text-left col-xs-12">
							            <span style="white-space: pre-wrap">@(Model.EquipmentInfo?.Notes)</span>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
	</div>
</div>
<div class="text-center back-to-top-hold">
	<a href="#" class="dealnet-info-link" onClick="backToTop()"><svg aria-hidden="true" class="icon icon-back-to-top"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-back-to-top")"></use></svg>@Resources.BackToTop</a>
</div>