@using DealnetPortal.Api.Core.Enums
@using DealnetPortal.Api.Core.Types
@{
    var errors = (List<Alert>)ViewBag.Errors;
}
<div class="customer-success-page">
    <div class="customer-success-page-inner">
        <div class="text-center">
            <div class="customer-success-page-content">
                <p>
                  <strong>@Resources.UnableToProcessApplicationAutomatically</strong>
                  @if (errors?.Any(a => a.Type == AlertType.Error) ?? false)
                  {
                    var errorAlerts = errors.Where(a => a.Type == AlertType.Error).ToList();
                    for (int i = 0; i < errorAlerts.Count; i++)
                    {
                              <p><strong>@errorAlerts[i].Message</strong></p>
                    }
                  }
                </p>
                <p class="customer-decline-address">
                    @Resources.InCaseQuestionsContactSupport<br>
                    <span class="text-lowercase">@Resources.Phone:</span> 1-866-382-7468 <br>
                    <span class="text-lowercase">@Resources.Email:</span> <a class="link-color-inherit" href="mailto: info@ecohomefinancial.com">info@ecohomefinancial.com</a>
                </p>
            </div>
            <div class="btn-container">
                <a href="@Url.Action("MyClients", "MortgageBroker")" class="btn dealnet-button dealnet-link-button">@Resources.MyClients</a>
            </div>
        </div>
    </div>
</div>