<div class="customer-success-page">
	<div class="customer-success-page-inner">
		<div class="text-center">
			<div class="customer-success-page-content">
			    <h4 class="header">@Resources.CreditCheckProceedSuccessfully</h4>
			    <h4 class="page-heading">@Html.Raw(Resources.CongratulationsYouBeenPreApprovedFor.Replace("{0}", $"<span class=\"amount\">{ViewBag.CreditAmount:0,00}</span>"))</h4>
			</div>
			<div class="btn-container">
				<a href="@Url.Action("MyClients", "MortgageBroker")" class="btn dealnet-button dealnet-link-button">@Resources.MyClients</a>
			</div>
		</div>
	</div>
</div>
@section scripts
{
	<script type="text/javascript">
	$(document).ready(function () {
			ga('send', 'event', 'PreApproved', 'Success Message Displayed', '@(User.IsInRole(DealnetPortal.Api.Common.Enumeration.UserRole.Dealer.ToString())? "Dealer" : "Broker" ) : @User.Identity.Name');
		});
	</script>
}