<div id="label-steps">
	<div class="dealnet-action-link">My Clients</div>
</div>

<div class="expand-filter-template">
	<div class="reset-form-inline">
		<div class="row">
			<div class="col-md-3 col-sm-3 ">
				<div class="form-group">
                    <a class="btn dealnet-button dealnet-success-button block-button add-customer-btn" href="@Url.Action("NewClient", "MortgageBroker")">
                        <span class="button-inner">
                            <span>+ Add Client</span>
                        </span>
                    </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label for="">Status</label>
					<div class="control-group">
						<select id="deal-status" class="form-control select-filter filter-input"></select>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label for="">Sales Agent</label>
					<div class="control-group">
						<select id="" class="form-control select-filter filter-input">
							<option value="">- not selected-</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="form-group">
					<label for="">@Resources.DateFrom</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control filter-input" id="date-from">
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="form-group">
					<label for="">@Resources.DateTo</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control filter-input" id="date-to">
					</div>
				</div>
			</div>

			<div class="col-md-offset-0 col-md-2 col-sm-offset-6 col-sm-6 text-right">
				<div class="form-group">
					<button class="btn dealnet-button dealnet-success-button block-button filter-button">@Resources.Filter</button>
				</div>
			</div>
		</div>
	</div>
</div>

<table id="work-items-table" class="display responsive my-customers-table  my-deals-table" width="100%">
	<thead>
		<tr>
			<th class="all contract-cell">@Resources.ApplicationNumber</th>
			<th class="all data-cell">@Resources.AddedOn</th>
			<th class="all client-cell">Client</th>
			<th class="min-mobile-l status-cell">@Resources.Status</th>
			<th class="min-desktop email-cell">@Resources.Email</th>
			<th class="all customer-cell">@Resources.Client</th>
			<th class="min-mobile-l email-cell">@Resources.ClientEmail</th>
			<th class="min-desktop phone-cell">@Resources.Phone</th>
			<th class="min-desktop improvement-cell">@Resources.HomeImprovement</th>
			<th class="min-desktop email-cell">@Resources.SalesAgent</th>
			<th class="min-desktop status-cell text-center">@Resources.Status</th>
		</tr>
	</thead>
</table>

@section Translations
{
    translations['NotSelected'] = "@Resources.NotSelected";
    translations['Search'] = "@Resources.Search";
    translations['Show'] = "@Resources.Show";
    translations['Entries'] = "@Resources.Entries";
    translations['NoMatchingRecordsFound'] = "@Resources.NoMatchingRecordsFound";
    translations['MyCustomers'] = "@Resources.MyCustomers";
    translations['Leads'] = "@Resources.Leads";
}

<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@section Styles
{
    @Styles.Render("~/bundles/data-tables-content")
}


@section scripts
{
    <script type="text/javascript">
    	var itemsUrl = '@Url.Action("GetCreatedContracts", "MortgageBroker")';
    </script>
    
    @Scripts.Render("~/bundles/data-tables-scripts")
    @Scripts.Render("~/bundles/my-customers")
}