<div id="label-steps">
	<div class="dealnet-action-link">My Customers</div> >
</div>

<div class="expand-filter-template">
	<div class="reset-form-inline">
		<div class="row">
			<div class="col-md-3 col-sm-3 ">
				<div class="form-group">
					<button class="btn dealnet-button dealnet-success-button block-button">+ Add Customer</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label for="">@Resources.DealStatus</label>
					<div class="control-group">
						@*@Html.EnumDropDownListFor(s => dealStatus, null, new { @class = "form-control", id = "deal-status" })*@
						<select id="deal-status" class = "form-control select-filter filter-input"></select>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="form-group">
					<label for="">@Resources.DateFrom</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control filter-input" id="date-from">
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="form-group">
					<label for="">@Resources.DateTo</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control filter-input" id="date-to">
					</div>
				</div>
			</div>

			<div class="col-md-offset-3 col-md-2 col-sm-6 text-right">
				<div class="form-group">
					<button class="btn dealnet-button dealnet-success-button block-button filter-button">@Resources.Filter</button>
				</div>
			</div>
		</div>
	</div>
</div>

<table id="work-items-table" class="display responsive my-customers-table" width="100%">
	<thead>
		<tr>
			<th class="all contract-cell">@Resources.Contract&nbsp;#</th>
			<th class="all customer-cell">Added on</th>
			<th class="all customer-cell">@Resources.Customer</th>
			<th class="min-mobile-l status-cell">@Resources.Status</th>
			<th class="min-desktop email-cell">@Resources.Email</th>
			<th class="min-desktop phone-cell">@Resources.Phone</th>
		</tr>
	</thead>
</table>


<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@section Styles
{
@Styles.Render("~/bundles/data-tables-content")
}


@section scripts
{
<script type="text/javascript">
	var itemsUrl = '@Url.Action("GetWorkItems", "Home")';
	var editContractUrl = '@Url.Action("ContractEdit", "NewRental")';
</script>

@Scripts.Render("~/bundles/data-tables-scripts")

<script>
	$(document).ready(function(){
		var data = [
			{
				"TransactionId":       "1654",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Mickey Mouse",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			},
			{
				"TransactionId":       "2345",
				"AddedOn":   "2015/10/01",
				"CustomerName":     "Fred Flintstone",
				"Status": "Declined",
				"Email":     "mmouse@email.com",
				"Phone":       "555-555-1234"
			}
		];
		var table = $('#work-items-table')
			.DataTable({
			data: data,
			responsive: {
				breakpoints: [
					{ name: 'desktop-lg', width: Infinity },
					{ name: 'desktop',  width: 1169 },
					{ name: 'tablet-l',  width: $('body').is('.tablet-device') ? 1025 : 1023 },
					{ name: 'tablet',  width: 1023 },
					{ name: 'mobile',   width: 767 },
					{ name: 'mobile-l',   width: 767 },
					{ name: 'mobile-p',   width: 480 },
				]
			},
			oLanguage: {
				"sSearch": '<span class="label-caption">' + translations['Search'] + '</span> <span class="icon-search"><i class="glyphicon glyphicon-search"></i></span>',
				"oPaginate": {
					"sNext": '<i class="glyphicon glyphicon-menu-right"></i>',
					"sPrevious": '<i class="glyphicon glyphicon-menu-left"></i>'
				},
				"sLengthMenu": translations['Show'] + " _MENU_ " + translations['Entries'],
				"sZeroRecords": translations['NoMatchingRecordsFound']
			},
			columns: [
				{ "data": "TransactionId", className: 'contract-cell'},
				{ "data": "AddedOn", className: '' },
				{ "data": "CustomerName", className: 'customer-cell' },
				{ "data": "Status", className: 'status-cell' },
				{ "data": "Email", className: 'email-cell' },
				{ "data": "Phone", className: 'phone-cell' },
			],
			dom:
			"<'row'<'col-md-8''<'#table-title.dealnet-caption'>'><'col-md-4 col-sm-6'f>>" +
			"<'row'<'col-md-12''<'#expand-table-filter'>'>>" +
			"<'row'<'col-md-12 col-sm-6'l>>" +
			"<'row'<'col-md-12'tr>>" +
			"<'row'<'col-md-12'p>>" +
			"<'row'<'col-md-12'i>>",
			renderer: 'bootstrap',
			order: []
		});
		var iconFilter = '<span class="icon-filter-control"><svg aria-hidden="true" class="icon icon-filter"><use xlink:href="'+urlContent+'Content/images/sprite/sprite.svg#icon-filter"></use></svg></span>';
		var iconSearch = '<span class="icon-search-control"><i class="glyphicon glyphicon-search"></i></span>';
		$('#table-title').html('<div class="dealnet-large-header">My Customers<div class="filter-controls hidden">' + iconFilter + ' ' + iconSearch + '</div></div>');
		$('#table-title .icon-search-control').on('click', function () {
			$(this).toggleClass('active');
			$('#work-items-table_filter').slideToggle();
		});
		$('#table-title .icon-filter-control').on('click', function () {
			$(this).toggleClass('active');
			$('#expand-table-filter').slideToggle();
		});
		$('#expand-table-filter').html($('.expand-filter-template').detach());
		$('.filter-button').click(function () {
			table.draw();
		});

		table.on('draw.dt', function(){
			redrawDataTablesSvgIcons();
			resetDataTablesExpandedRows(table);
		});
		$('#clear-filters').click(function () {
			$('.filter-input').val("");
			table.search('').draw();
		});
	});
</script>


}