@model DealnetPortal.Web.Models.NewCustomerViewModel

<div id="label-steps">
	<div class="dealnet-action-link">New Customer</div> &gt;
</div>

<div class="accordion-panels-hold">
	<div class="main-heading customer-heading">New Client</div>
	<div class="panel accordion-panel active-panel">
		<div class="panel-heading">
			<h3 class="panel-title dealnet-middle-header">1. Client Information</h3>
			<span class="arrow"><i class="glyphicon"></i></span>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<button class="file-upload btn dealnet-button dealnet-success-button">
					<svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
					<span>@Resources.ScanLicense</span>
				</button>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="form-group">
						<label for="" class="mandatory-field">First Name</label>
						<div class="control-group">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="form-group">
						<label for="" class="mandatory-field">Last Name</label>
						<div class="control-group">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6">
					<div class="form-group">
						<label for="" class="mandatory-field">Date of Birth</label>
						<div class="control-group date-group">
							<input type="text" class="form-control dealnet-input" placeholder="mm/dd/yyyy">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 col-clear-md-4">
					<div class="form-group">
						<label for="">SIN (Social insurance number)</label>
						<div class="control-group control-group-pass">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 col-clear-lg-3 col-clear-sm-6">
					<div class="form-group">
						<label for="">Driver License Number</label>
						<div class="control-group control-group-pass">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel accordion-panel panel-collapsed">
		<div class="panel-heading">
			<h3 class="panel-title dealnet-middle-header">2. Address Information</h3>
			<span class="arrow"><i class="glyphicon"></i></span>
		</div>
		<div class="panel-body">
			<div id="address-section">
				<h3 class="dealnet-section-title">Current Address</h3>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Street</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="form-group">
							<label for="">Unit #</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6">
						<div class="form-group">
							<label for="" class="mandatory-field">City</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-md-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Province</label>
							<div class="control-group">
								<select name="" id="" class="form-control">
									<option value="">Please select</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-lg-3 col-clear-sm-6">
						<div class="form-group">
							<label for="" class="mandatory-field">Postal Code</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="#" class="dealnet-disabled-text clear-address">
							<svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearAddress</span>
						</a>
					</div>
				</div>
			</div>
			<!--Living time-->
			<br>
			<div id="living-time" class="form-group">
				<label for="living-time-checkbox" class="align-middle custom-checkbox">
					<input type="checkbox" class="dealnet-checkbox address-checkbox" id="living-time-checkbox"/>
					<span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
					<span>Client lived at current address for less than 6 month</span>
				</label>
			</div>
			<div id="previous-address" style="display: none;">
				<h3 class="dealnet-section-title">Previous Address</h3>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Street</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="form-group">
							<label for="">Unit #</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6">
						<div class="form-group">
							<label for="" class="mandatory-field">City</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-md-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Province</label>
							<div class="control-group">
								<select name="" id="" class="form-control">
									<option value="">Please select</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6 col-clear-lg-3">
						<div class="form-group">
							<label for="" class="mandatory-field">Postal Code</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="#" class="dealnet-disabled-text clear-address">
							<svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearAddress</span>
						</a>
					</div>
				</div>
			</div>
			<!--End Living time-->

		</div>
	</div>
	<div class="panel accordion-panel panel-collapsed">
		<div class="panel-heading">
			<h3 class="panel-title dealnet-middle-header">3. Contact Information</h3>
			<span class="arrow"><i class="glyphicon"></i></span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-lg-3">
					<div class="form-group">
						<label for="">Home Phone</label>
						<div class="control-group">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-3">
					<div class="form-group">
						<label for="" class="mandatory-field">Cell Phone</label>
						<div class="control-group">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-3 col-clear-sm-6">
					<div class="form-group">
						<label for="">Business Phone</label>
						<div class="control-group">
							<input type="text" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-3 col-clear-md-4">
					<div class="form-group">
						<label for="" class="mandatory-field">Email Address</label>
						<div class="control-group">
							<input type="email" class="form-control dealnet-input">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-3 col-clear-sm-6 col-clear-lg-3">
					<div class="form-group">
						<label for="" class="mandatory-field">Preferred contact method</label>
						<div class="control-group">
							<select name="" id="" class="form-control">
								<option value="">Please select</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel accordion-panel panel-collapsed">
		<div class="panel-heading">
			<h3 class="panel-title dealnet-middle-header">4. Home improvements</h3>
			<span class="arrow"><i class="glyphicon"></i></span>
		</div>
		<div class="panel-body">
			<div class="text-md-sm">
				<div class="form-group">Where will the home improvement project take place?</div>
				<div class="form-group">
					<label for="currentAddressIsMortgage" class="align-middle custom-radio">
						<input type="radio" name="improvement" id="currentAddressIsMortgage" checked="checked">
						<span class="custom-radio-icon"></span>
						<span>At current address.</span>
					</label>
				</div>
				<div class="form-group">
					<label for="houseCustomerChosen" class="align-middle custom-radio">
						<input type="radio" name="improvement" id="houseCustomerChosen">
						<span class="custom-radio-icon"></span>
						<span>At other address.</span>
					</label>
				</div>
			</div>
			<div id="installation-address" style="display: none;">
				<div id="addressUnknown" class="form-group">
					<label for="addressUnknownCheckbox" class="align-middle custom-checkbox">
						<input type="checkbox" class="dealnet-checkbox address-checkbox" id="addressUnknownCheckbox"/>
						<span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
						<span>Address unknown.  Client is shopping for other property.</span>
					</label>
				</div>
				<h3 class="dealnet-section-title">Location of Property Improvement</h3>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Street</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
								asdf
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="form-group">
							<label for="">Unit #</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6">
						<div class="form-group">
							<label for="" class="mandatory-field">City</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-md-4">
						<div class="form-group">
							<label for="" class="mandatory-field">Province</label>
							<div class="control-group">
								<select name="" id="" class="form-control">
									<option value="">Please select</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6 col-clear-lg-3">
						<div class="form-group">
							<label for="" class="mandatory-field">Postal Code</label>
							<div class="control-group">
								<input type="text" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="form-group">
							<label for="" class="mandatory-field">Estimated move in date</label>
							<div class="control-group date-group">
								<input type="text" placeholder="mm/dd/yyyy" class="form-control dealnet-input">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-clear-sm-6">
						<label for="" class="hidden visible-lg">&nbsp;</label>
						<div class="control-group">
							<a href="#" class="dealnet-disabled-text clear-address">
								<svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearAddress</span>
							</a>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-lg-3">
					<div class="form-group">
						<label for="">Home Improvement type</label>
						<div class="control-group">
							<select name="" id="" class="form-control">
								<option value="">Please select</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-6 col-lg-6">
					<div class="form-group">
						<label for="" class="hidden-xs">&nbsp;</label>

					<ul class="customer-needs-list tags-list">
						<li>Air Conditioner <span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
						<li>Air Handler <span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
					</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-8 col-lg-6">
					<div class="form-group">
						<label for="">At other address.</label>
						<div class="control-group">
							<textarea name="" id="" placeholder="Please describe your home improvement project (please don't provide any contact or address information in this field)" class="form-control" style="height: 120px;"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel accordion-panel panel-collapsed">
		<div class="panel-heading">
			<h3 class="panel-title dealnet-middle-header">5. Customer Consents</h3>
			<span class="arrow"><i class="glyphicon"></i></span>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="agreement-checkbox-data1" class="align-middle custom-checkbox">
					<input type="checkbox" class="dealnet-checkbox address-checkbox" id="agreement-checkbox-data1"/>
					<span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
					<span class="mandatory-field">Client agrees to send his/her personal data to credit check</span>
				</label>
			</div>
			<div class="form-group">
				<label for="agreement-checkbox-data2" class="align-middle custom-checkbox">
					<input type="checkbox" class="dealnet-checkbox address-checkbox" id="agreement-checkbox-data2"/>
					<span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
					<span class="mandatory-field"> Client agrees to pass his personal information to DealNet Capital and agrees that DealNet Capital or its representatives may contact him/her by email or phone</span>
				</label>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<br>
		<button class="btn dealnet-button dealnet-success-button btn-form-common">Add Client</button>
	</div>
</div>

@section scripts
{
	<script>
		$(document).ready(function(){
			$('#living-time-checkbox').on('change', function(){
				if($(this).is(':checked')){$('#previous-address').show()}else{$('#previous-address').hide()}
			});


			$("input[name$='improvement']").on('click', function() {
				if($(this).is("#houseCustomerChosen")){
					$('#installation-address').show()
				}else{
					$('#installation-address').hide()
				}
			});
		})
	</script>
}