@using DealnetPortal.Api.Common.Helpers
@using DealnetPortal.Web.Models.Enumeration
@model DealnetPortal.Web.Models.SummaryAndConfirmationViewModel

@{
    Func<string, string> formatIncome = str =>
                                        {
                                            if(str.Contains('<'))
                                            {
                                                return str.Replace("<", Resources.LessThan + " $");
                                            }
                                            if(str.Contains('-'))
                                            {
                                                return "$" + str.Replace("-", " - $");
                                            }
                                            return "$" + str;
                                        };
}

<div class="clearfix">
    <div class="row">
        @for(var i = 0; i < Model.ContactAndPaymentInfo.CoBorrowersContactInfo.Count; i++)
        {
            using(Html.BeginForm(null, null, FormMethod.Post, new { id = "additional-basic-info-form-" + (i + 1), @class = "grid-parent" }))
            {
                <hr style="clear: both">
                <input type="hidden" name="BasicInfo.AdditionalApplicants.Index" value="@i" />
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BasicInfo.ContractId)
                @Html.HiddenFor(m => m.BasicInfo.AdditionalApplicants[i].CustomerId)
                @Html.HiddenFor(m => m.BasicInfo.SubmittingDealerId)
                <div class="credit-check-info-hold fit-to-next-grid">
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section" id="additional@(i + 1)-section">
                            <h3 class="dealnet-section-title">
                                @Resources.AdditionalApplicant
                                <a href="@Url.Action("BasicInfo", "NewRental", new {contractId = Model.BasicInfo.ContractId})"
                                   class="dealnet-section-edit-link pull-right editToStep1"
                                   data-step="1">@Resources.Edit</a>
                            </h3>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].FirstName, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].FirstName, new
                                            {
                                                id = "",
                                                @readonly = "readonly",
                                                @class = "dealnet-disabled-input"
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].LastName, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].LastName, new
                                            {
                                                id = "",
                                                @readonly = "readonly",
                                                @class = "dealnet-disabled-input"
                                            })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].BirthDate, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group date-group">
                                            @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].BirthDate, @"{0:MM'/'dd'/'yyyy}", new
                                            {
                                                id = "",
                                                @readonly = "readonly",
                                                @class = "dealnet-disabled-input"
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].DriverLicenseNumber, new { @class = "dealnet-field-caption col-xs-6" })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].DriverLicenseNumber, new
                                            {
                                                id = "",
                                                @readonly = "readonly",
                                                @class = "dealnet-disabled-input"
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if(!string.IsNullOrEmpty(Model.BasicInfo.AdditionalApplicants[i].RelationshipToMainBorrower))
                            {
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].RelationshipToMainBorrower, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].RelationshipToMainBorrower, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].IsHomeOwner, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @Html.HiddenFor(m => m.BasicInfo.AdditionalApplicants[i].IsHomeOwner)
                                            <input type="text" readonly="readonly"
                                                   class="dealnet-disabled-input"
                                                   value=@(Model.BasicInfo.AdditionalApplicants[i].IsHomeOwner ? Resources.Yes : Resources.No )>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if(Model.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation != null)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section" id="additional-prev-address-section-@(i+1)">
                                <h3 class="dealnet-section-title">
                                    @Resources.PreviousAddressInformation
                                    @if(Model.IsEditAvailable &&
                                        !(Model.BasicInfo.ContractWasDeclined &&
                                        (Model.BasicInfo.AdditionalApplicants[i]?.IsInitialCustomer ?? false)))
                                    {
                                        <a href="#"
                                           onclick="copyFormData($('#additional-prev-address-section-@(i + 1)'), $('#additional-prev-address-section-modal-@(i + 1)'), false); $('#additional-prev-address-modal-@(i + 1)').modal();"
                                           class="dealnet-section-edit-link pull-right">@Resources.Edit</a>
                                    }
                                </h3>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.Street, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.Street, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.UnitNumber, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.UnitNumber, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.City, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.City, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.Province, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.Province, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.PostalCode, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].PreviousAddressInformation.PostalCode, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input postal-code"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if(Model.BasicInfo.AdditionalApplicants[i].AddressInformation != null)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section" id="additional-mailing-address-section-@(i + 1)">
                                <h3 class="dealnet-section-title">
                                    @Resources.AdditionalApplicantAddressInfo
                                    @if(Model.IsEditAvailable &&
                                        !(Model.BasicInfo.ContractWasDeclined &&
                                        (Model.BasicInfo.AdditionalApplicants[i]?.IsInitialCustomer ?? false)))
                                    {
                                        <a href="#"
                                           onclick="copyFormData($('#additional-mailing-address-section-@(i + 1)'), $('#additional-mailing-address-section-modal-@(i + 1)'), false); $('#additional-mailing-address-modal-@(i + 1)').modal();"
                                           class="dealnet-section-edit-link pull-right">@Resources.Edit</a>
                                    }
                                </h3>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.Street, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.Street, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.UnitNumber, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.UnitNumber, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.City, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.City, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.Province, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.Province, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.PostalCode, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].AddressInformation.PostalCode, new
                                                {
                                                    id = "",
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input postal-code"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <div class="credit-check-info-hold">
                <div class="col-md-6 grid-column">
                    @using(Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-info-coborrowers-form-" + (i + 1), @class = "" }))
                    {
                        <input type="hidden" name="ContactAndPaymentInfo.CoBorrowersContactInfo.Index" value="@i" />
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ContactAndPaymentInfo.ContractId)

                        <div class="dealnet-credit-check-section" id="contact-info-section@(i + 1)-coborrower">
                            @Html.HiddenFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].CustomerId)
                            @Html.HiddenFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].AllowCommunicate)
                            <h3 class="dealnet-section-title">
                                @Resources.ContactInformation
                                <a href="#"
                                   onclick="copyFormData($('#contact-info-section@(i + 1)-coborrower'), $('#contact-info-section@(i + 1)-coborrower-modal'), false); $('#contact-info-coborrower@(i + 1)-modal').modal();"
                                   class="dealnet-section-edit-link pull-right">@Resources.Edit</a>
                            </h3>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].HomePhone, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        @Html.TextBoxFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].HomePhone, new
                                        {
                                            @readonly = "readonly",
                                            @class = "dealnet-disabled-input",
                                            id = ""
                                        })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].CellPhone, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        @Html.TextBoxFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].CellPhone, new
                                        {
                                            id = "",
                                            @readonly = "readonly",
                                            @class = "dealnet-disabled-input"
                                        })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].BusinessPhone, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        @Html.TextBoxFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].BusinessPhone, new
                                        {
                                            id = "",
                                            @readonly = "readonly",
                                            @class = "dealnet-disabled-input"
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].EmailAddress, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        @Html.TextBoxFor(m => m.ContactAndPaymentInfo.CoBorrowersContactInfo[i].EmailAddress, new
                                        {
                                            id = "",
                                            @readonly = "readonly",
                                            @class = "dealnet-disabled-input"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation != null)
            {
                <div class="credit-check-info-hold">
                    <div class="col-md-6 grid-column">
                        <div class="dealnet-credit-check-section">
                            <h3 class="dealnet-section-title">
                                @Resources.AdditionalApplicant @Resources.EmploymentInformation
                                <a href="@Url.Action("BasicInfo", "NewRental", new {contractId = Model.BasicInfo.ContractId})"
                                   class="dealnet-section-edit-link pull-right editToStep1"
                                   data-step="1">@Resources.Edit</a>
                            </h3>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.MonthlyMortgagePayment, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.MonthlyMortgagePayment, new
                                            {
                                                @class = "dealnet-disabled-input has-cost-sign "
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus, new
                                    {
                                        @class = "dealnet-field-caption col-xs-6"
                                    })
                                    <div class="dealnet-field-holder col-xs-6">
                                        <div class="control-group">
                                            <input readonly="readonly" class="dealnet-disabled-input"
                                                   id="@Html.IdFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus)"
                                                   name="@Html.NameFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus)"
                                                   value="@Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus.GetEnumDescription()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.IncomeType.HasValue)
                            {
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.IncomeType, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <input readonly="readonly" class="dealnet-disabled-input"
                                                       id="@Html.IdFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.IncomeType)"
                                                       name="@Html.NameFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.IncomeType)"
                                                       value="@Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.IncomeType.GetEnumDescription()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if(!string.IsNullOrWhiteSpace(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.AnnualSalary))
                            {
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.AnnualSalary, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <input readonly="readonly" class="dealnet-disabled-input"
                                                       id="@Html.IdFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.AnnualSalary)"
                                                       name="@Html.NameFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.AnnualSalary)"
                                                       value="@formatIncome(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.AnnualSalary)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if(!string.IsNullOrWhiteSpace(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.HourlyRate))
                            {
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.HourlyRate, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <input readonly="readonly" class="dealnet-disabled-input"
                                                       id="@Html.IdFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.HourlyRate)"
                                                       name="@Html.NameFor(m=>m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.HourlyRate)"
                                                       value="@formatIncome(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.HourlyRate)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.Employed || Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.SelfEmployed)
                            {
                                <div class="form-group">
                                    <div class="row">
                                        <label class="dealnet-field-caption col-xs-6">@Resources.LengthOfEmployment</label>
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                <div class="dealnet-disabled-input">
                                                    <span>
                                                        @Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.YearsOfEmployment
                                                        @(Model.BasicInfo.HomeOwner.EmploymentInformation.YearsOfEmployment == "1" ?
                                            Resources.Year :
                                            Resources.Years)
                                                    </span>
                                                    @if(!string.IsNullOrEmpty(Model?.BasicInfo.AdditionalApplicants[i]?.EmploymentInformation?.MonthsOfEmployment))
                                                    {
                                                        <span>
                                                            @Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.MonthsOfEmployment
                                                            @(Model.BasicInfo.HomeOwner.EmploymentInformation.MonthsOfEmployment == "1" ?
                                                                                                            Resources.Month : Resources.Months)
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.Employed || Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.SelfEmployed)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                                <h3 class="dealnet-section-title">
                                    &nbsp;
                                    <a href="@Url.Action("BasicInfo", "NewRental", new {contractId = Model.BasicInfo.ContractId})"
                                       class="dealnet-section-edit-link pull-right editToStep1"
                                       data-step="1">@Resources.Edit</a>
                                </h3>
                                @if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.Employed)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentType, new
                                            {
                                                @class = "dealnet-field-caption col-xs-6"
                                            })
                                            <div class="dealnet-field-holder col-xs-6">
                                                <div class="control-group">
                                                    <input readonly="readonly" class="dealnet-disabled-input"
                                                           id="@Html.IdFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentType)"
                                                           name="@Html.NameFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentType)"
                                                           value="@Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentType.GetEnumDescription()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if(!string.IsNullOrWhiteSpace(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.JobTitle))
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.JobTitle, new
                                            {
                                                @class = "dealnet-field-caption col-xs-6"
                                            })
                                            <div class="dealnet-field-holder col-xs-6">
                                                <div class="control-group">
                                                    @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.JobTitle, new
                                                    {
                                                        @readonly = "readonly",
                                                        @class = "dealnet-disabled-input"
                                                    })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if(!string.IsNullOrWhiteSpace(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyName))
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyName, new
                                            {
                                                @class = "dealnet-field-caption col-xs-6"
                                            })
                                            <div class="dealnet-field-holder col-xs-6">
                                                <div class="control-group">
                                                    @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyName, new
                                                    {
                                                        @readonly = "readonly",
                                                        @class = "dealnet-disabled-input"
                                                    })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if(!string.IsNullOrWhiteSpace(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyPhone))
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyPhone, new
                                            {
                                                @class = "dealnet-field-caption col-xs-6"
                                            })
                                            <div class="dealnet-field-holder col-xs-6">
                                                <div class="control-group">
                                                    @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyPhone, new
                                                    {
                                                        @readonly = "readonly",
                                                        @class = "dealnet-disabled-input"
                                                    })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if(Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.Employed ||
                        Model.BasicInfo.AdditionalApplicants[i].EmploymentInformation.EmploymentStatus == EmploymentStatus.SelfEmployed)
                    {
                        <div class="col-md-6 grid-column">
                            <div class="dealnet-credit-check-section">
                                <h3 class="dealnet-section-title">
                                    @Resources.CompanyAddress
                                    <a href="@Url.Action("BasicInfo", "NewRental", new {contractId = Model.BasicInfo.ContractId})"
                                       class="dealnet-section-edit-link pull-right editToStep1"
                                       data-step="1">@Resources.Edit</a>
                                </h3>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.Street, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.Street, new
                                                {
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.UnitNumber, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.UnitNumber, new
                                                {
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.City, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.City, new
                                                {
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.Province, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.Province, new
                                                {
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        @Html.LabelFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.PostalCode, new
                                        {
                                            @class = "dealnet-field-caption col-xs-6"
                                        })
                                        <div class="dealnet-field-holder col-xs-6">
                                            <div class="control-group">
                                                @Html.TextBoxFor(m => m.BasicInfo.AdditionalApplicants[i].EmploymentInformation.CompanyAddress.PostalCode, new
                                                {
                                                    @readonly = "readonly",
                                                    @class = "dealnet-disabled-input postal-code"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>