@model DealnetPortal.Web.Models.SummaryAndConfirmationViewModel
<div id="label-steps">
	<div class="dealnet-action-link">Reports</div> > <div class="dealnet-action-link">Contract #2345</div>  >
</div>

<div class="form-container">
	<div class="form-section">
		<div class="dealnet-large-header">Report for contract #2345</div>
		<div class="dealnet-large-header">Documents</div>
		<div class="documents-container">
			<div class="row">
				<div class="col-md-6">
					<div class="no-documents">There are no uploaded documents, yet</div>
				</div>

				<div class="col-md-6">
					<a href="#" onClick="$('#upload-documents-modal').modal();" class="file-upload btn dealnet-button dealnet-success-button">
						<span>Upload Documents</span>
					</a>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<label class="dealnet-field-caption col-xs-4">12/10/2015</label>
						<div class="dealnet-field-holder col-xs-8">
							<ul class="report-documents-list editable-list list-unstyled">
								<li><a href="#" class="dealnet-info-link text-semibold"><svg aria-hidden="true" class="icon icon-audio"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-audio")"></use></svg>456789.mp3</a>
									<a href="#" class="remove-link"><i class="glyphicon glyphicon-remove"></i></a></li>
								<li><a href="#" class="dealnet-info-link text-semibold"><svg aria-hidden="true" class="icon icon-pdf"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-pdf")"></use></svg>123456.pdf</a>
									<a href="#" class="remove-link"><i class="glyphicon glyphicon-remove"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<a href="#" onClick="$('#upload-documents-modal').modal();" class="file-upload btn dealnet-button dealnet-success-button">
						<span>Upload Documents</span>
					</a>
				</div>
			</div>
			<div class="well success-well">
				<svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>Your documents were successfully uploaded
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
		<h3 class="dealnet-section-title">Deal Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#deal-info-modal').modal();">Edit</a></h3>
		<div class="row credit-check-info-hold no-top-margin">
			<div class="col-md-6 col-md-push-6">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">TOTAL VALUE</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="$ 5 000.03">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Requested Term</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="60">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Sales Rep</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="<Name> <FName>">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Status</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Waiting for Documents">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Type</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Rental">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Date</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="2015/10/01">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Type of Equipment</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="FURNACE, AIR CONDITIONER">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
		<div class="row credit-check-info-hold">
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Home Owner Information</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">First Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="<Name>">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Last Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="<FName>">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Date of Birth</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="18/02/1987">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Additional Applicant</h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">First Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="<Name>">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Last Name</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="<FName>">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Date of Birth</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="18/02/1987">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Address Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#address-modal').modal();">Edit</a></h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Installation Address</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Rita Ave">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Unit #</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="80">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">City</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Ottawa">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Province</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Nepean">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Postal Code</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="ON K2G 2H1">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Mailing Address <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#mailing-address-modal').modal();">Edit</a></h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Installation Address</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Rita Ave">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Unit #</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="80">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">City</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Ottawa">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Province</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Nepean">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Postal Code</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="ON K2G 2H1">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<h3 class="dealnet-section-title">Contact Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#contact-info-modal').modal()">Edit</a></h3>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Home Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="555-444-1234">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Cell Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="555-444-1234">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Business Phone</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="555-444-1234">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Email Address</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="email@email.com">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-section">
		<h3 class="dealnet-section-title">Equipment Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#equipment-info-modal').modal()">Edit</a></h3>
		<div class="row credit-check-info-hold equipment-info no-top-margin">
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							<div class="dealnet-field-caption col-xs-12">#1</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Qty</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="1">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Type</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="FURNACE">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Description</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Goodman 40000 - 36840 - GMSS960402BN">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Estimated	Installation Date</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="6 months">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							<div class="dealnet-field-caption col-xs-12">#2</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Qty</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="1">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Type</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group text-uppercase">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="AIR CONDITIONER">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Description</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group text-uppercase">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Everest 16 SEER - ESX130181">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-5 col-sm-4 col-md-5">Estimated	Installation Date</label>
							<div class="dealnet-field-holder col-xs-7 col-sm-6 col-md-7">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="6 months">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="summary-payment-info well">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xs-12 summary-payment-info-item">
					<div class="row">
						<div class="dealnet-field-caption col-xs-12 col-sm-8 col-md-12">
							MONTHLY PAYMENT
						</div>
						<div class="dealnet-field-holder col-xs-12 col-sm-4 col-md-12">
							$84.98
						</div>
					</div>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-12 summary-payment-info-item">
					<div class="row">
						<div class="dealnet-field-caption col-xs-12 col-sm-8 col-md-12">
							HST
						</div>
						<div class="dealnet-field-holder col-xs-12 col-sm-4 col-md-12">
							$11.05
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 col-xs-12 summary-payment-info-item">
					<div class="row">
						<div class="dealnet-field-caption col-xs-12 col-sm-8 col-md-12">
							TOTAL MONTHLY PAYMENT (TAX INCL.)
						</div>
						<div class="dealnet-field-holder col-xs-12 col-sm-4 col-md-12">
							$96.03
						</div>
					</div>
				</div>
			</div>
		</div>

		<h3 class="dealnet-section-title">Payment Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#payment-info-modal').modal()">Edit</a></h3>
		<div class="row credit-check-info-hold no-top-margin">
			<div class="col-md-6">
				<div class="dealnet-credit-check-section">
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Payment Type</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<select name="" id="" class="dealnet-disabled-input" readonly="readonly">
										<option value="">ENBRIDGE</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Enbridge Acct #</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="234456345345">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="dealnet-field-caption col-xs-6">Meter #</label>
							<div class="dealnet-field-holder col-xs-6">
								<div class="control-group">
									<input type="text" class="dealnet-disabled-input" readonly="readonly" value="1234567">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="summary-return-equipment">
			<h3 class="dealnet-section-title">Existing Equipment Information <a href="#" class="dealnet-section-edit-link pull-right" onclick="$('#existing-equipment-modal').modal()">Edit</a></h3>
			<div class="summury-return-equip-item">
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Is rental?
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<select name="" id="" class="dealnet-disabled-input" readonly="readonly">
								<option value="">Yes</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Rental Company
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="ABC Rentals">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							General Condition
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Equipment in good condition">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Estimated Age
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="5 years">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Make
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="Amana">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Model
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="ASX160181">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Serial Number
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<input type="text" class="dealnet-disabled-input" readonly="readonly" value="44323432X">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="dealnet-field-caption col-xs-4 col-sm-3 col-md-3 col-lg-2">
							Notes
						</div>
						<div class="dealnet-field-holder col-xs-8 col-sm-9 col-md-9 col-lg-10 ">
							<textarea class="dealnet-disabled-input">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua
							</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comments-widget">
			<h3 class="dealnet-section-title">Comments</h3>
			<div class="form-group">
				<label for="">Add comment</label>
				<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Write a reply..."></textarea>
			</div>
			<div class="row">
				<div class="col-sm-5 col-md-3">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button">Reply</button>
				</div>
			</div>
			<div class="comment">
				<div class="commetn-header">
					<span class="comment-user">
						<svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
						&lt;FName&gt; &lt;LName&gt;
					</span>
					<span class="comment-update">
						<span class="comment-update-time">11:35 AM</span>
						<span class="comment-update-date">01/11/2015</span>
					</span>
					<span class="owner-comment">your comment</span>
				</div>
				<div class="comment-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="#" class="comment-remove-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
				</div>
				<div class="comment-footer">
					<a href="#" class="show-comments-answers">3 answers</a>
					<a href="#" class="dealnet-success-link write-reply-link">Write a reply</a>
				</div>
			</div>
			<ul class="child-comments-list list-unstyled">
				<li>
					<div class="comment">
						<div class="commetn-header">
							<span class="comment-user">
								<svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
								&lt;FName&gt; &lt;LName&gt;
							</span>
							<span class="comment-update">
								<span class="comment-update-time">11:35 AM</span>
								<span class="comment-update-date">01/11/2015</span>
							</span>
							<!--<span class="owner-comment">your comment</span>-->
						</div>
						<div class="comment-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<a href="#" class="comment-remove-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
						</div>
						<div class="comment-footer">
							<a href="#" class="show-comments-answers">3 answers</a>
							<a href="#" class="dealnet-success-link write-reply-link">Write a reply</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="comment">
				<div class="commetn-header">
					<span class="comment-user">
						<svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
						&lt;FName&gt; &lt;LName&gt;
					</span>
					<span class="comment-update">
						<span class="comment-update-time">11:35 AM</span>
						<span class="comment-update-date">01/11/2015</span>
					</span>
					<!--<span class="owner-comment">your comment</span>-->
				</div>
				<div class="comment-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="#" class="comment-remove-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
				</div>
				<div class="comment-footer">
					<a href="#" class="show-comments-answers">1 answer</a>
					<a href="#" class="dealnet-success-link write-reply-link">Write a reply</a>
				</div>
			</div>
			<ul class="child-comments-list list-unstyled">
				<li>
					<div class="comment">
						<div class="commetn-header">
							<span class="comment-user">
								<svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
								&lt;FName&gt; &lt;LName&gt;
							</span>
							<span class="comment-update">
								<span class="comment-update-time">11:35 AM</span>
								<span class="comment-update-date">01/11/2015</span>
							</span>
							<span class="owner-comment">your comment</span>
						</div>
						<div class="comment-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<a href="#" class="comment-remove-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
						</div>
						<div class="comment-footer">
							<a href="#" class="show-comments-answers">3 answers</a>
							<a href="#" class="dealnet-success-link write-reply-link">Write a reply</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="text-center back-to-top-hold">
	<br />
	<a href="#" class="dealnet-info-link" onClick="backToTop()"><svg aria-hidden="true" class="icon icon-back-to-top"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-back-to-top")"></use></svg>Back to top</a>
</div>


<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="deal-info-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Deal Information</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="deal-info-section-modal">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">TOTAL VALUE</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="TOTAL VALUE" value="$ 5 000.03">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Requested Term</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Requested Term" value="60">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Sales Rep</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Sales Rep" value="<Name> <FName>">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Status</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Status" value="Waiting for Documents">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Type</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Type" value="Rental">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Date</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Date" value="2015/10/01">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="dealnet-field-caption">Type of Equipment</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Type of Equipment" value="FURNACE, AIR CONDITIONER">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="address-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Address Information</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="address-section-modal">
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Installation Address</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Installation Address">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Unit #</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Unit #">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">City</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="City">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Province</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Province">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Postal Code</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Postal Code">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="mailing-address-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Mailing Address</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="address-section-modal">
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Installation Address</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Installation Address">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Unit #</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Unit #">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">City</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="City">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Province</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Province">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Postal Code</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Postal Code">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="contact-info-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Contact Information</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="contact-info-section-modal">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Home Phone</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="tel" class="form-control dealnet-input" placeholder="Home Phone">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Cell Phone</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="tel" class="form-control dealnet-input" placeholder="Cell Phone">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Business Phone</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="tel" class="form-control dealnet-input" placeholder="Business Phone">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Email Address</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="email" class="form-control dealnet-input" placeholder="Email Address">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="equipment-info-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Equipment Information</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="new-equipment-info-section-modal">
						<div class="dealnet-middle-header">#1</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Qty</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Qty">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Type</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Type">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Description</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Description">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Estimated Installation Date</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Estimated Installation Date">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="payment-info-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Payment Information</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="payment-info-section-modal">
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Payment Type</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Payment Type">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-5" style="display: none;">
								<div class="form-group">
									<div class="dealnet-label dealnet-field-caption">Photo of Void Cheque</div>
									<div class="equip-photo-group" style="position: relative;">
										<div class="equip-photo-hold">
											<div class="photo-pic">
												<img src="" alt="">
											</div>
										</div>
										<a href="#" class="remove-link"><i class="glyphicon glyphicon-remove"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-7" style="display: none;">
								<div class="form-group">
									<div class="file-upload btn dealnet-button dealnet-success-button">
										<svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
										<span>Add New Photo</span>
										<input type="file" accept="image/*" class="upload" id="upload-new-photo"/>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Enbridge Acct #</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Enbridge Acct #">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Meter #</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Meter #">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="existing-equipment-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Editing Existing Equipment</div>
			</div>
			<div class="modal-body">
				<div class="dealnet-credit-check-section dealnet-modal-section">
					<form id="payment-info-section-modal">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Is rental?</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<select name="" id="" class="form-control">
												<option value="">Yes</option>
												<option value="">No</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Rental Company</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Rental Company">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">General Condition</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="General Condition">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Estimated Age</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Estimated Age">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Make</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Make">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Model</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Model">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Serial Number</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Serial Number">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="" class="dealnet-field-caption">Notes</label>
									<div class="dealnet-field-holder">
										<div class="control-group">
											<input type="text" class="form-control dealnet-input" placeholder="Notes">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade editor-modal modal-wide" tabindex="-1" role="dialog" id="upload-documents-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title dealnet-large-header">Upload New Documents</div>
			</div>
			<div class="modal-body">
				<div class="upload-documents-container">
					<h3 class="dealnet-section-title">Upload main documents</h3>
					<div class="documents-main-group">
						<div class="form-group main-document-template">
							<div class="row">
								<div class="col-md-6">
									<label for="">Choose type of a document</label>
									<select name="" id="" class="form-control">
										<option value="">Signed contract</option>
										<option value="">Signed Installation Certificate</option>
										<option value="">Invoice</option>
										<option value="">Copy of Void Personal Cheque</option>
										<option value="">Extended Warranty Form</option>
										<option value="">Third party verification call</option>
									</select>
								</div>
								<div class="col-md-6">
									<div class="dealnet-label">&nbsp;</div>
									<div class="file-upload btn dealnet-button dealnet-success-button block-button">
										<span>Choose file and upload</span>
										<input type="file" accept="image/*" class="upload" id="upload-new-photo"/>
									</div>
								</div>
							</div>
							<div class="progress-container">
								<span class="progress-bar-value" style="left: 25%">25%</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
								</div>
								<div class="text-center">123456.pdf</div>
								<a href="#" class="clear-data-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
							</div>
						</div>
					</div>
					<a href="#" class="dealnet-info-link add-main-document">Add new main document</a>
				</div>
				<div class="upload-documents-container">
					<h3 class="dealnet-section-title">Or other documents</h3>
					<div class="documents-other-group">
						<div class="form-group other-document-template">
							<div class="row">
								<div class="col-md-6">
									<label for="">Name of a document</label>
									<div class="control-group">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="dealnet-label">&nbsp;</div>
									<div class="file-upload btn dealnet-button dealnet-success-button block-button">
										<span>Choose file and upload</span>
										<input type="file" accept="image/*" class="upload" id="upload-new-photo"/>
									</div>
								</div>
							</div>
							<div class="progress-container">
								<span class="progress-bar-value" style="left: 25%">25%</span>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
								</div>
								<div class="text-center">123456.pdf</div>
								<a href="#" class="clear-data-link"><svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg></a>
							</div>
						</div>
					</div>
					<a href="#" class="dealnet-info-link add-other-document">Add new other document</a>
				</div>
				<div class="btn-container">
					<button type="button" class="btn dealnet-button dealnet-success-button block-button big-button">Save changes</button>
					<button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hidden">
	<div class="comment-reply-form">
		<label for="">Add comment</label>
		<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Write a reply..."></textarea>
		<div class="row">
			<div class="col-sm-5 col-md-3">
				<button type="button" class="btn dealnet-button dealnet-success-button block-button">Reply</button>
			</div>
		</div>
	</div>
</div>
@section scripts
{
<script type="text/javascript">
	$(document)
		.ready(function () {
			$('.comment .show-comments-answers').on('click', function(){
				$(this).toggleClass('active');
				$(this).parents('.comment').toggleClass('active');
				return false;
			});


			$('.comment .write-reply-link').on('click', function(){
				var currComment = $(this).parents('.comment');
				var commentForm = $('.comment-reply-form').detach();
				commentForm.appendTo(currComment);
				return false;
			});

			$(".add-main-document").on('click', function(){
				var newDocForm = $('.main-document-template').clone(true).removeClass('main-document-template').removeClass('file-uploaded');
				newDocForm.appendTo($('#upload-documents-modal .modal-body .documents-main-group'));
			});
			$(".add-other-document").on('click', function(){
				var newDocForm = $('.other-document-template').clone(true).removeClass('other-document-template').removeClass('file-uploaded');
				newDocForm.appendTo($('#upload-documents-modal .modal-body .documents-other-group'));
			});
			$('#upload-documents-modal .file-upload').on('click', function(){
				console.log('click');
				$(this).parents('.form-group').addClass('file-uploaded');
				return false;
			});
			$('.progress-container .clear-data-link').on('click', function(){
				$(this).parents('.form-group').removeClass('file-uploaded');
			});
		});
</script>
}