@using ApiEnum = DealnetPortal.Api.Common.Enumeration
@using DealnetPortal.Web.Models.Enumeration
@model DealnetPortal.Web.Models.ContractEditViewModel

@{
    var document = Model.UploadDocumentsInfo.ExistingDocuments.FirstOrDefault(x => x.DocumentTypeId.ToString() == "1");
    var contractState = Model.AdditionalInfo.ContractState;
}
<div class="signed-contract">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#digital-contract" role="tab" class="contract-tab">@Resources.DigitalContract</a></li>
        <li role="presentation"><a href="#paper-contract" role="tab" class="contract-tab">@Resources.PaperContract</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="digital-contract">
            <div class="signature-notification">
                @Resources.OneSignerDeclinedRemainingCanceled
            </div>
            <div class="sent-contract-secton">
                @Html.Partial("_EsignatureStatus", Model)
                @if (@Model.ESignature.Status == ApiEnum.SignatureStatus.Completed)
                {
                    <a href="#" id="print-signed-button" class="dealnet-info-link doc-tab-print-link">
                        <svg aria-hidden="true" class="icon icon-printer"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-printer")"></use></svg> @Resources.DownloadSignedContract
                    </a>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="paper-contract">
            @using (Html.BeginForm("UploadDocument", "MyDeals", FormMethod.Post, new { enctype = "multipart/form-data", data_container = "tab-container-1" }))
            {
                <div class="well danger-well error-descr collapse">
                    <svg aria-hidden="true" class="icon icon-error">
                        <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use>
                    </svg>
                    <span class="error-message"></span>
                </div>

                <div class="documents-list">
                    <div class="document-item block-item @(document != null ? " " : "collapse" )">
                        <svg aria-hidden="true" class="icon icon-pdf">
                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-pdf")"></use>
                        </svg>
                        <span class="document-naming">@(document?.DocumentName)</span>
                        <br />
                        <span class="document-lastUpdateTime">@(document?.LastUpdateTime)</span>
                    </div>
                </div>

                <div class="progress-container collapse">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <div class="progress-bar-value text-center">0%</div>
                    <a href="#" class="clear-data-link">
                        <svg aria-hidden="true" class="icon icon-remove">
                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use>
                        </svg>
                    </a>
                </div>
                @Html.AntiForgeryToken()
                @Html.Hidden("OperationGuid")
                @Html.HiddenFor(m => m.BasicInfo.ContractId, new { Name = "ContractId" })
                @Html.HiddenFor(m => m.UploadDocumentsInfo.DocumentTypes[0].Value, new { Name = "DocumentTypeId" })
                <div class="form-group clearfix">
                    <div @if (contractState == ContractState.SentToAudit || contractState == ContractState.CreditCheckDeclined) { <text> disabled="disabled" </text>                                          }
                         class="file-upload btn dealnet-button dealnet-success-button disablable @if (contractState == ContractState.SentToAudit || contractState == ContractState.CreditCheckDeclined) {<text>disabled</text>}">
                        <span>@Resources.Upload</span>
                        <input type="file" name="File" class="upload main-document-upload" />
                    </div>
                </div>
            }
            <a href="#" id="print-button" class="dealnet-info-link doc-tab-print-link @if (contractState == ContractState.CreditCheckDeclined)
                               { <text>disabled</text> } ">
                <svg aria-hidden="true" class="icon icon-printer"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-printer")"></use></svg>@Resources.PrintTheContract
            </a>

            <div class="well danger-well error-descr collapse" id="print-error-message">
                <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
                @Resources.CannotGetAgreementForPrint
            </div>
        </div>
    </div>
</div>