@{
    ViewBag.Title = Resources.MyDeals;

    Func<string, string> capitlizeFirstLetter = str =>
    {
        var lower = str.ToLower();
        var mid = char.ToUpper(lower[0]);
        return mid + lower.Substring(1);
    };
}
<div id="my-deals-page" data-bind="with:table">

    @*<div class="margin-block">
            <div class="row">
                <!-- ko if: showLearnMore -->
                <div class="new-notification-wp">
                    <div class="new-notification-blank">
                        <span class="new-notification-blank__text">
                            @Resources.LearnMoreHomePage
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>*@

    <div class="margin-block">
        <div class="row">
            <div class="filters my-deals-page">
                <div class="filters-head">
                    <div class="filters-head__title">@Resources.MyDeals</div>
                    <!-- ko if:  list().length > 0 -->
                    @*<div class="filters-head__learn-more" data-bind="click:function(){showLearnMore(!showLearnMore());}">
                            <i class="lamp-ico"></i>
                            <a>
                                <!-- ko if: showLearnMore -->
                                @Resources.Hide
                                <!-- /ko-->
                                <!-- ko ifnot: showLearnMore -->
                                @Resources.LearnMoreAboutThisPage
                                <!-- /ko -->
                            </a>
                        </div>*@
                    <div class="filters-head__export-excel" data-bind="click: exportAll">
                        <i class="excel-ico"></i>
                        <a>@Resources.ExportAllToExcel</a>
                    </div>
                    <div class="filters-head__search new-input-group">
                        <div class="custom-text-input-group">
                            <input type="text" name="search" data-bind="textInput: search" required>
                            <label>@Resources.Search</label>
                            <span class="search-ico"></span>
                        </div>
                    </div>

                    <div class="filters-head__clear-btn new-btn-grey" data-bind="click: clearFilters, visible: showFilters() || showSorters()">
                        <span>@Resources.Clear</span>
                    </div>
                    <div class="filters-head__save-btn" data-bind="click: saveFilters, visible: showFilters() || showSorters()" style="display:none;">
                        <div class="new-btn-green">
                            <span>@Resources.Save</span>
                        </div>
                        <span class="save-btn-status">
                            <i class="checked-ico"></i>(@Resources.ForNextTime)
                        </span>
                    </div>

                    <div class="filters-head__divider"></div>
                    <div class="filters-head__filter-btn new-btn-red-filter" data-bind="click: toggleFilters">
                        <!-- ko if: showFilters -->
                        <span>
                            @Resources.Hide
                        </span>
                        <!-- /ko -->
                        <!-- ko ifnot: showFilters -->
                        <i class="filter-ico filter-ico--red"></i>
                        <span>
                            @Resources.Filters
                        </span>
                        <!-- /ko -->
                    </div>
                    <div class="filters-head__sort-btn new-sort-btn-red" data-bind="click: toggleSorters">
                        <!-- ko if: showSorters -->
                        <span>
                            @Resources.Hide
                        </span>
                        <!-- /ko -->
                        <!-- ko ifnot: showSorters -->
                        <i class="sort-button-red-ico"></i>
                        <span>
                            @Resources.Sort
                        </span>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>

                <div class="filters-type" data-bind="visible: list().length > 0 && showFilters() || showSorters()" style="display:none;">
                    <div class="filters-type__tab" data-bind="css:{active:!showDetailedView()}, click:function(){showDetailedView(false)}">@Resources.DealInfo</div>
                    <div class="filters-type__tab" data-bind="css:{active:showDetailedView}, click:function(){showDetailedView(true)}">@Resources.DetailedInfo</div>
                </div>
                <div class="filters-advanced" data-bind="css:{ 'detailed-mod':showDetailedView, 'deal-mod': !showDetailedView() }, visible: list().length > 0 && showFilters() || showSorters()" style="display:none;">

                    <div class="filters-advanced__type new-input-group" data-bind="visible: showFilters" style="display:none;">
                        <div class="custom-select-wrap">
                            <label for="project-type">@Resources.DealType</label>
                            <select name="project-type" id="agreement-type" data-bind="options:agreementOptions, selectric:agreementType"></select>
                        </div>
                    </div>
                    <div class="filters-advanced__status new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">@Resources.DealStatus</label>
                            <select name="project-type" id="status" data-bind="foreach:statusOptions, selectric:status">
                                <option data-bind="value: $data.text, text: $data.text, attr:{class:$data.icon && 'deal-status-ico deal-status-ico--'+$data.icon}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="filters-advanced__date-from new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" class="date-input" required data-bind="datePicker: dateFrom, datePickerOptions:datePickerOptions">
                            <label>@Resources.DateFrom</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__date-to new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" class="date-input" required data-bind="datePicker:dateTo, datePickerOptions: datePickerOptions">
                            <label>@Resources.DateTo</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__deal-from new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" data-bind="value: valueFrom" required>
                            <label>@Resources.DealValueFrom</label>
                            <span class="ic-nw-dollar-small"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__deal-to new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" data-bind="value: valueTo" required>
                            <label>@Resources.DealValueTo</label>
                            <span class="ic-nw-dollar-small"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__created-by new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">@Resources.CreatedBy</label>
                            <select id="created-by" data-bind="selectric: createdBy">
                                <option value=""></option>
                                <option value="true">@Resources.Customer</option>
                                <option value="false">@Resources.Dealer</option>
                            </select>
                        </div>
                    </div>

                    <div class="filters-advanced__sales-rep new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">@Resources.SalesRep</label>
                            <select id="sales-rep" data-bind="options: salesRepOptions, selectric: salesRep"></select>
                        </div>
                    </div>

                    <div class="filters-advanced__project new-input-group">
                        <div class="custom-text-input-group">
                            <input type="text" data-bind="value: equipment">
                            <label>@Resources.ProjectType</label>
                        </div>
                    </div>

                    <div class="filters-advanced__sort-by new-input-group" data-bind="visible: showSorters" style="display:none;">
                        <div class="custom-select-wrap">
                            <label>@Resources.SortBy</label>
                            <select id="sort" data-bind="selectric: sorter">
                                <option value=""></option>
                                <option value="transactionIdAsc">
                                    @Resources.ContractNumber - @Resources.Ascending
                                </option>
                                <option value="transactionIdDesc">
                                    @Resources.ContractNumber - @Resources.Descending
                                </option>
                                <option value="applicantNameAsc">
                                    @Resources.ApplicantNameAtoZ
                                </option>
                                <option value="applicantNameAscDesc">
                                    @Resources.ApplicantNameZtoA
                                </option>
                                <option value="dateAsc">
                                    @Resources.LastActivity - @Resources.Latest
                                </option>
                                <option value="dateDesc">
                                    @Resources.LastActivity - @Resources.Oldest
                                </option>
                                @*<option value="creditExpiryAsc">
                                        @Resources.CreditExpiryAsc
                                    </option>
                                    <option value="creditExpiryDesc">
                                        @Resources.CreditExpiryDesc
                                    </option>*@
                            </select>
                        </div>
                    </div>

                    <div class="filters-advanced__filters-cloud" data-bind="visible: showSorters">
                        <div class="filters-advanced__contract-number" data-bind="visible: sortedColumn() == sortFields.transactionId">
                            @Resources.ContractNumber -
                            <!-- ko if: sortDirection() == sortDirections.asc --> @Resources.Ascending <!-- /ko -->
                            <!-- ko if: sortDirection() == sortDirections.desc --> @Resources.Descending <!-- /ko -->
                            <i class="cross-ico" data-bind="click: clearSort"></i>
                        </div>
                        <div class="filters-advanced__deal-status" data-bind="visible: sortedColumn() == sortFields.status">
                            @Resources.DealStatus -
                            <!-- ko if: sortDirection() == sortDirections.asc -->
                            <i class="info-ico info-ico--red"></i> @Resources.To <i class="info-ico info-ico--grey"></i>
                            <!-- /ko -->
                            <!-- ko if: sortDirection() == sortDirections.desc -->
                            <i class="info-ico info-ico--grey"></i> @Resources.To <i class="info-ico info-ico--red"></i>
                            <!-- /ko -->
                            <i class="cross-ico" data-bind="click: clearSort"></i>
                        </div>
                        <div class="filters-advanced__e-sign" data-bind="visible: sortedColumn() == sortFields.sign">
                            @Resources.EsignStatus -
                            <!-- ko if: sortDirection() == sortDirections.asc -->
                            <i class="sign-ico sign-ico--red"></i> to <i class="sign-ico sign-ico--grey"></i>
                            <!-- /ko -->
                            <!-- ko if: sortDirection() == sortDirections.desc -->
                            <i class="sign-ico sign-ico--grey"></i> to <i class="sign-ico sign-ico--red"></i>
                            <!-- /ko -->
                            <i class="cross-ico" data-bind="click: clearSort"></i>
                        </div>
                        <div class="filters-advanced__applicant-name" data-bind="visible: sortedColumn() == sortFields.applicantName">
                            <!-- ko if: sortDirection() == sortDirections.asc -->
                            @Resources.ApplicantNameAtoZ
                            <!-- /ko -->
                            <!-- ko if: sortDirection() == sortDirections.desc -->
                            @Resources.ApplicantNameZtoA
                            <!-- /ko -->
                            <i class="cross-ico" data-bind="click: clearSort"></i>
                        </div>
                        <div class="filters-advanced__last-activity" data-bind="visible: sortedColumn() == sortFields.date">
                            @Resources.LastActivity —
                            <!-- ko if: sortDirection() == sortDirections.asc -->
                            @Resources.Latest
                            <!-- /ko -->
                            <!-- ko if: sortDirection() == sortDirections.desc -->
                            @Resources.Oldest
                            <!-- /ko -->
                            <i class="cross-ico" data-bind="click: clearSort"></i>
                        </div>
                        @*<div class="filters-advanced__days-left" data-bind="visible: sortedColumn() == sortFields.creditExpiry">
                                <!-- ko if: sortDirection() == sortDirections.asc -->
                                @Resources.CreditExpiryAsc
                                <!-- /ko -->
                                <!-- ko if: sortDirection() == sortDirections.desc -->
                                @Resources.CreditExpiryDesc
                                <!-- /ko -->
                                <i class="cross-ico" data-bind="click: clearSort"></i>
                            </div>*@
                    </div>

                    <div class="filters-advanced__clear-btn new-btn-grey" data-bind="click: clearFilters">
                        <span>@Resources.Clear</span>
                    </div>
                    <div class="filters-advanced__apply-btn new-btn-solid-red" data-bind="click: filterList">
                        <span>@Resources.Apply</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="margin-block" data-bind="visible: list().length > 0" style="display:none">
        <div class="row">

            <div class="main-table">
                <div class="main-table__block main-table__block--header">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__cell checkbox-cell">
                            <label class="customized-checkbox-icon">
                                <input id="checkBox" type="checkbox" />
                                <span class="customized-checkbox-icon__image"></span>
                            </label>
                        </div>
                        <div class="main-table__block__row__cell contract-number" data-bind="click:configureSortClick(sortFields.transactionId)">
                            <span>@Resources.ContractNumber</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.transactionId)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell deal-status">
                            @*<span class="icon">
                                <i class="info-ico info-ico--green"></i>
                            </span>*@
                            <span>@Resources.DealStatus</span>
                        </div>
                        <div class="main-table__block__row__cell e-sign">
                            <span>@Resources.Esign</span>
                        </div>
                        <div class="main-table__block__row__cell last-activity" data-bind="click:configureSortClick(sortFields.date)">
                            <span>@Resources.LastActivity</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.date)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell applicant-name" data-bind="click:configureSortClick(sortFields.applicantName)">
                            <span>@Resources.ApplicantName</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.applicantName)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        @*<div class="main-table__block__row__cell days-left" data-bind="click:configureSortClick(sortFields.creditExpiry)">
                                <span>@Resources.CreditApprovalExpiry</span>
                                <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.creditExpiry)}">
                                    <i class="sort-arrow-top"></i>
                                    <i class="sort-arrow-bottom"></i>
                                </span>
                            </div>*@
                        <div class="main-table__block__row__cell program-option">
                            <span>@Resources.ProgramOption</span>
                        </div>
                        <div class="main-table__block__row__cell loan-amount" data-bind="click:configureSortClick(sortFields.loanAmount)">
                            <span>@Resources.LoanAmount</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.loanAmount)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell term" data-bind="click:configureSortClick(sortFields.term)">
                            <span>@Resources.Term</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.term)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell amort" data-bind="click:configureSortClick(sortFields.amort)">
                            <span>@Resources.Amort</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.amort)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell payment-amount" data-bind="click:configureSortClick(sortFields.payment)">
                            <span>@Resources.MonthlyPayment</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.payment)}">
                                <i class="sort-arrow-top"></i>
                                <i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell project-desc">
                            <span>@Resources.ProjectType</span>
                        </div>
                        <div class="main-table__block__row__cell address">
                            <span>@Resources.Address</span>
                        </div>
                        <div class="main-table__block__row__cell email">
                            <span>@Resources.Email</span>
                        </div>
                        <div class="main-table__block__row__cell phone">
                            <span>@Resources.Phone</span>
                        </div>
                        <div class="main-table__block__row__cell sales-rep">
                            <span>@Resources.SalesRep</span>
                        </div>
                        @*<div class="main-table__block__row__cell entered-by">
                                <span>@Resources.EnteredBy</span>
                            </div>*@
                        <div class="main-table__block__row__cell icon-cell icon-cell-notes">
                            <span>@Resources.Notes</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-lead">
                            <span>@Resources.Lead</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-gear">
                            <span></span>
                        </div>
                    </div>
                </div>
                <!-- ko foreach: pager.pagedList -->
                <div class="main-table__block main-table__block--body">
                    <div class="main-table__block__row" data-bind="css:{ 'new-deal': $data.IsNewlyCreated,'expired-deal':$data.isExpired }">
                        <div class="main-table__block__row__cell checkbox-cell">
                            <label class="customized-checkbox-icon" data-bind="if:!$data.IsInternal && $data.Id!=0">
                                <input id="checkBox" type="checkbox" data-bind="checked: $data.isSelected" />
                                <span class="customized-checkbox-icon__image"></span>
                            </label>
                        </div>
                        <div class="main-table__block__row__cell contract-number">
                            <!-- ko if: $data.IsNewlyCreated -->
                            <span class="contract-number__notification contract-number__notification--blue">@Resources.New</span>
                            <!-- /ko -->
                            @*<!-- ko if: $data.CreditExpiry && $data.CreditExpiry < 20 -->
                                <span class="contract-number__notification contract-number__notification--red" data-bind="text: $parent.getExpiryText($data)"></span>
                                <!-- /ko -->*@
                            <!-- ko ifnot: $data.Id -->
                            <span data-bind="text: $data.TransactionId"></span>
                            <!-- /ko -->
                            <!-- ko if: $data.Id -->
                            <a data-bind="attr: { href: $parent.editUrl($data.Id) }, text: $data.TransactionId "></a>
                            <!-- /ko -->
                        </div>
                        <div class="main-table__block__row__cell deal-status">
                            <span class="icon">
                                <i data-bind="attr:{ class:'info-ico info-ico--'+ ($data.StatusColor||'grey')}"></i>
                            </span>
                            <span data-bind="text: $data.LocalizedStatus"></span>
                        </div>
                        <div class="main-table__block__row__cell e-sign">
                            <!-- ko if: $data.SignatureStatus -->
                            <i data-bind="attr:{class:'sign-ico sign-ico--' +$data.SignatureStatusColor}, click: $parent.openSignaturePopup"></i>
                            <span data-bind="text: $data.SignatureStatus"></span>
                            <!-- /ko -->
                        </div>
                        <div class="main-table__block__row__cell last-activity">
                            <span data-bind="text: $data.Date"></span>
                        </div>
                        <div class="main-table__block__row__cell applicant-name">
                            <span data-bind="text: $data.CustomerName"></span>
                        </div>
                        @*<div class="main-table__block__row__cell days-left">
                                <span data-bind="text: $data.CreditExpiry"></span>
                            </div>*@
                        <div class="main-table__block__row__cell program-option">
                            <span data-bind="text: $data.ProgramOption"></span>
                        </div>
                        <div class="main-table__block__row__cell loan-amount">
                            <span data-bind="text: $data.Value"></span>
                        </div>

                        <div class="main-table__block__row__cell term">
                            <span data-bind="text: $data.Term"></span>
                        </div>
                        <div class="main-table__block__row__cell amort">
                            <span data-bind="text: $data.Amort"></span>
                        </div>
                        <div class="main-table__block__row__cell payment-amount">
                            <span data-bind="text: $data.MonthyPayment"></span>
                        </div>

                        <div class="main-table__block__row__cell project-desc">
                            <span data-bind="text: $data.Equipment"></span>
                        </div>
                        <div class="main-table__block__row__cell address">
                            <span data-bind="text: $data.Address"></span>
                        </div>
                        <div class="main-table__block__row__cell email">
                            <span data-bind="text: $data.Email"></span>
                        </div>
                        <div class="main-table__block__row__cell phone">
                            <span data-bind="text: $data.Phone"></span>
                        </div>
                        <div class="main-table__block__row__cell sales-rep">
                            <span data-bind="text: $data.SalesRep"></span>
                        </div>
                        @*<div class="main-table__block__row__cell entered-by">
                                <span data-bind="text: $data.EnteredBy"></span>
                            </div>*@
                        <div class="main-table__block__row__cell icon-cell icon-cell-notes">
                            <span data-bind="click:function(){$data.showNotes(!$data.showNotes());}">
                                <i data-bind="attr:{class:'notes-ico notes-ico--' + (!$data.CustomerComment ? 'grey' : 'green')}"></i>
                            </span>
                            <!-- ko if: $data.CustomerComment -->
                            <div class="customer-comment-popup" data-bind="css:{opened:$data.showNotes}">
                                <i class="cross-ico" data-bind="click:function(){$data.showNotes(false);}, visible: $data.showNotes"></i>
                                <span class="customer-comment-popup__title">@Resources.CustomerComment:</span>
                                <span class="customer-comment-popup__legend" data-bind="text:$data.CustomerComment"></span>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-lead">
                            <i data-bind="css:{'check-mark-ico':$data.Lead}"></i>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-gear">
                            <i class="gear-ico" data-bind="click:function(){$data.showActions(!$data.showActions());}"></i>
                            <span class="show-details" data-bind="click:function(){$data.isMobileOpen(!$data.isMobileOpen());}">
                                <i class="sort-arrow-bottom sort-arrow-bottom--green"></i>
                            </span>
                            <div class="table-row-settings-popup" data-bind="css:{opened:$data.showActions}">
                                <i class="cross-ico" data-bind="click:function(){$data.showActions(false);}, visible: $data.showActions"></i>
                                <div class="table-row-settings-popup__edit">
                                    <i class="edit-contract-ico"></i>
                                    <span>
                                        <a data-bind="attr:{href:$parent.editUrl($data.Id)}">@Resources.Edit</a>
                                    </span>
                                </div>
                                <div class="table-row-settings-popup__export"
                                     data-bind="visible: !$data.IsInternal, click:function(){$parent.exportToExcel($data.Id);}">
                                    <i class="excel-ico"></i>
                                    <span>
                                        <a>@Resources.ExportToExcel</a>
                                    </span>
                                </div>
                                <div class="table-row-settings-popup__help"
                                     data-bind="visible: !$data.IsInternal, click:function(){$parent.openHelpModal($data.TransactionId)}">
                                    <i class="ask-help-ico"></i>
                                    <span>
                                        <a>@Resources.AskForHelp</a>
                                    </span>
                                </div>
                                <div class="table-row-settings-popup__help"
                                     data-bind="visible: $data.IsInternal,click:function(){$parent.removeContract($data.Id)}">
                                    <i class="delete-ico"></i>
                                    <span>
                                        <a>@Resources.Remove</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-table__block__row">
                        <div class="table-row-details" data-bind="css:{opened:$data.isMobileOpen()}">
                            <div class="table-row-details__left">


                                <div class="table-row-details__left__last-activity">
                                    <span>@Resources.LastActivity</span>
                                    <span class="filter-ico filter-ico--asc">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Date"></div>

                                @*<div class="table-row-details__left__days-left">
                                        <span>@Resources.CreditApprovalExpiry</span>
                                        <span class="filter-ico filter-ico--desc">
                                            <i class="sort-arrow-top"></i>
                                            <i class="sort-arrow-bottom"></i>
                                        </span>
                                    </div>
                                    <div class="table-row-details__left__value" data-bind="text: $data.CreditExpiry"></div>*@

                                <div class="table-row-details__left__loan-amount">
                                    <span>@Resources.LoanAmount</span>
                                    <span class="filter-ico filter-ico--default">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Value"></div>

                                <div class="table-row-details__left__program-option">
                                    <span>@Resources.ProgramOption</span>
                                    <span class="filter-ico filter-ico--default">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Program"></div>

                                <div class="table-row-details__left__term">
                                    <span>@Resources.Term</span>
                                    <span class="filter-ico filter-ico--asc">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Loan"></div>

                                <div class="table-row-details__left__amort">
                                    <span>@Resources.Amort</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Amort"></div>

                                <div class="table-row-details__left__payment-amount">
                                    <span>@Resources.MonthlyPayment</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" dat-bind="text: $data.MonthlyPayment"></div>

                                <div class="table-row-details__left__project-desc">
                                    <span>@Resources.ProjectType</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i>
                                        <i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Equipment"></div>

                                <div class="table-row-details__left__address">
                                    <span>@Resources.Address</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Address"></div>

                            </div>
                            <div class="table-row-details__right">

                                <div class="table-row-details__left__email">
                                    <span>@Resources.Email</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Email"></div>

                                <div class="table-row-details__left__phone">
                                    <span>@Resources.Phone</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text:$data.Phone"></div>

                                <div class="table-row-details__left__sales-rep">
                                    <span>@Resources.SalesRep</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.SalesRep"></div>

                                @*<div class="table-row-details__left__entered-by">
                                        <span>@Resources.EnteredBy</span>

                                    </div>
                                    <div class="table-row-details__left__value" data-bind="text:$data.EnteredBy"></div>*@

                                <div class="table-row-details__left__notes">
                                    <span>@Resources.Notes</span>
                                </div>
                                <div class="table-row-details__left__value">
                                    <div class="table-row-details__left__value">
                                        <i data-bind="attr:{class:'notes-ico notes-ico--' + (!$data.CustomerComment ? 'grey' : 'green')}"></i>
                                    </div>
                                </div>

                                <div class="table-row-details__left__lead">
                                    <span>@Resources.Lead</span>

                                </div>
                                <div class="table-row-details__left__value">
                                    <i data-bind="css:{'check-mark-ico':$data.Lead}"></i>
                                </div>

                                <div class="table-row-details__left__gear">
                                    <i class="gear-ico" data-bind="click:function(){$data.showActions(!$data.showActions());}"></i>
                                    <div class="table-row-settings-popup" data-bind="css:{opened:$data.showActions}">
                                        <i class="cross-ico" data-bind="click:function(){$data.showActions(false);}, visible: $data.showActions"></i>
                                        <div class="table-row-settings-popup__edit">
                                            <i class="edit-contract-ico"></i>
                                            <span>
                                                <a data-bind="attr:{href:$parent.editUrl($data.Id)}">@Resources.Edit</a>
                                            </span>
                                        </div>
                                        <div class="table-row-settings-popup__export"
                                             data-bind="visible: !$data.IsInternal, click:function(){$parent.exportToExcel($data.Id);}">
                                            <i class="excel-ico"></i>
                                            <span>
                                                <a>@Resources.ExportToExcel</a>
                                            </span>
                                        </div>
                                        <div class="table-row-settings-popup__help"
                                             data-bind="visible: !$data.IsInternal, click:function(){$parent.openHelpModal($data.TransactionId)}">
                                            <i class="ask-help-ico"></i>
                                            <span>
                                                <a>@Resources.AskForHelp</a>
                                            </span>
                                        </div>
                                        <div class="table-row-settings-popup__help"
                                             data-bind="visible: $data.IsInternal, click:function(){$parent.removeContract($data.Id)}">
                                            <i class="delete-ico"></i>
                                            <span>
                                                <a>@Resources.Remove</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row-details__left__value"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="main-table__block main-table__block--total">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__grand-total">
                            @Resources.GrandTotal:
                        </div>
                        <div class="main-table__block__row__grand-total-value">
                            <span class="main-table__block__row__grand-total-value__total-container">$ <span data-bind="text: selectedTotal"></span></span>
                            <span>$ <span data-bind="text: grandTotal"></span></span>
                        </div>
                        <div class="main-table__block__row__entries-number new-input-group">
                            <div class="custom-select-wrap">
                                <label for="entries-number">@Resources.NumberOfEntries</label>
                                <select data-bind="options:pager.pageSizes, selectric: pager.pageSize"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-block" data-bind="visible: list().length > 0 && selectedIds().length > 0" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-green col-xs-12" data-bind="click: exportSelectedToExcel">@Resources.ExportToExcel</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-green col-xs-12" data-bind="click: previewContracts">@Resources.Preview</button>
            </div>
        </div>
    </div>

    <div class="margin-block" data-bind="with: pager, visible: list().length > 0" style="display:none;">
        <div class="row">
            <div class="new-pagination-wp">
                <div class="new-pagination">
                    <a data-bind="click: goToPreviousPage, disable: pageIndex() == 1">
                        <i class="pagination-left-ico"></i>
                    </a>
                    <ul class="new-pagination__pages" data-bind="foreach: allPages">
                        <li data-bind="css: { active: $data.active, disabled: $data.disabled}">
                            <a data-bind="text: $data.pageText, enable: !$data.disabled, click: $parent.moveToPage"></a>
                        </li>
                    </ul>
                    <a data-bind="click: goToNextPage, disable: pageIndex() == maxPageIndex()">
                        <i class="pagination-right-ico"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="nw-placeholder" data-bind="visible: list().length < 1" style="display:none;">
        <i class="nw-placeholder__icon my-deals-placeholder-ico"></i>
        <p>
            @Resources.YouDontHaveDealsClickBelowToCreate
        </p>
        <div class="nw-placeholder__links">
            <div class="icon-link-green">
                <i class="lamp-ico"></i>
                @* Change to Resources.CreateNewLoan for phase 4 *@
                @Html.ActionLink(Resources.NewApplication, "BasicInfo", "NewRental")
            </div>
            @*
                    Uncomment in phase 4
                    <div class="icon-link-green">
                    <i class="lamp-ico"></i>
                    @Html.ActionLink(Resources.CreateNewLease, "BasicInfo", "NewRental")
                </div>
            *@
        </div>
    </div>

    @using(Html.BeginForm("ContractRemove", "NewRental", FormMethod.Post, new { id = "remove-contract-form" }))
    {
        <input type="hidden" data-bind="value: singleId" id="remove-contract" />
    }

    @using(Html.BeginForm("GetXlsxReport", "Reports", FormMethod.Post, new { id = "export-form" }))
    {
        <div id="export-all-form">        </div>
    }

    @using(Html.BeginForm("Contract", "Reports", FormMethod.Post, new { id = "single-preview-form" }))
    {
        <input type="hidden" name="contractId" data-bind="value: singleId" />
    }

    @using(Html.BeginForm("Contracts", "Reports", FormMethod.Post, new { id = "preview-form" }))
    {
        <div data-bind="foreach: selectedIds">
            <input name="ids" type="hidden" data-bind="value: $data" />
        </div>
    }

    <div id="contract-signature-modal" class="modal fade modal-wide">
        <div class="modal-dialog esig-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title pull-left">@Resources.DigitalSignatureStatus</h4>
                </div>
                <div class="modal-body" id="signature-body">
                </div>
            </div>
        </div>
    </div>
</div>

@section Translations
{
    translations['NotSelected'] = "@Resources.NotSelected";
    translations['Search'] = "@Resources.Search";
    translations['Edit'] = "@Resources.Edit";
    translations['MyWorkItems'] = "@Resources.MyWorkItems";
    translations['Show'] = "@Resources.Show";
    translations['Entries'] = "@Resources.Entries";
    translations['NoMatchingRecordsFound'] = "@Resources.NoMatchingRecordsFound";
    translations['New'] = "@Resources.New";
    translations['Remove'] = "@Resources.Remove";
    translations['Error'] = "@Resources.Error";
    translations['AreYouSureYouWantToRemoveThisApplication'] = "@Resources.AreYouSureYouWantToRemoveThisApplication";
    translations['Show'] = "@Resources.Show";
    translations['ExportAllToExcel'] = "@Resources.ExportAllToExcel";
    translations['CreditExpiryDesc'] = "@Resources.CreditExpiryDesc";
    translations['CreditExpiryAsc'] = "@Resources.CreditExpiryAsc";
    translations['ExpiresInXdays']="@Resources.ExpiresInXdays";
}

@section scripts
{
    <script type="text/javascript">
        var itemsUrl = '@Url.Action("GetWorkItems", "Home")';

        var editContractUrl = '@Url.Action("ContractEdit", "NewRental")';
        var contractPreviewUrl = '@Url.Action("Contract", "Reports")' + '/';
        var contractSignatureStatusUrl = '@Url.Action("GetEsignatureStatus", "MyDeals")';
    </script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/my-deals")

    <script type="text/javascript">
        $(document).ready(function () {
            module.require('my-deals-index').init();
        });
    </script>
}
