@using DealnetPortal.Api.Common.Enumeration
@using DealnetPortal.Web.Models
@model DealnetPortal.Web.Models.BasicInfoViewModel

@{
    if(Model?.AdditionalApplicants != null && !Model.AdditionalApplicants.Any())
    {
        Model.AdditionalApplicants.Add(new ApplicantPersonalInfo());
    }
}

<div id="label-steps">
    <div class="dealnet-action-link">@Resources.NewApplication</div> &gt;
</div>

<div class="dealnet-large-header" id="basic-info">@Resources.BasicInfo</div>

<div id="steps-line"></div>
<div class="row" id="steps">
    <div class="col-xs-4">
        <a href="@Url.Action("BasicInfo")" class="step-item step-active">1</a>
    </div>
    <div class="col-xs-4">
        <div id="step2" class="step-item">2</div>

        <div id="step3" class="step-item">3</div>
    </div>
    <div class="col-xs-4">
        <div id="step4" class="step-item">4</div>
    </div>
</div>

@{
    var creditCheckError = TempData["CreditCheckErrorMessage"];

    if(creditCheckError != null)
    {
        <div class="well danger-well error-descr">
            <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
            @creditCheckError
        </div>
    }
}

@*@if (Model.ContractWasDeclined)
    {
        @Html.CheckBox("home-owner-agrees", new { id = "home-owner-agrees", @checked = "checked", @class="hidden" })
    <!--Show/hide warning depend on status-deal-submitted-->
        <div class="well well-info position-well">
            <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
            @Resources.YouCantEditBecauseSubmittedYouCanAddAdditional
        </div>

    <!--Show/hide "Installation address information" depend on status-deal-submitted-->
        <div class="row credit-check-info-hold">
            <div class="col-md-6 grid-column">
                <div class="dealnet-credit-check-section" id="address-section">
                    <h3 class="dealnet-section-title">@Resources.InstallationAddressInformation</h3>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.HomeOwner.AddressInformation.Street, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.HomeOwner.AddressInformation.Street)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.HomeOwner.AddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.HomeOwner.AddressInformation.UnitNumber)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.HomeOwner.AddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.HomeOwner.AddressInformation.City)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.HomeOwner.AddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @(Model.HomeOwner.AddressInformation.Province)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.HomeOwner.AddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    <span class="postal-code">@(Model.HomeOwner.AddressInformation.PostalCode)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@

@if(!ViewBag.IsMobileRequest)
{
    <div class="modal fade" id="camera-modal" role="dialog" data-fnToFill="first-name" data-lnToFill="last-name" data-bdToFill="birth-date" data-dlToFill="dl-number" data-stToFill="street" data-ctToFill="locality" data-prToFill="administrative_area_level_1" data-pcToFill="postal_code">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="dealnet-middle-header">@Resources.ScanLicense</div>
                    <div class="dealnet-middle-header-2" id="you-want">@Resources.SelectScanningMethod</div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li id="foldit" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">@Resources.UseCamera</a></li>
                        <li id="foldit" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">@Resources.Upload</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div id="capture-area">
                                <video autoplay class="capture-frame" id="video"></video>
                                <canvas id="capture-canvas" class="capture-frame"></canvas>
                                <canvas id="big-capture-canvas"></canvas>
                                <div id="capture-buttons">
                                    <input type="button" class="btn dealnet-button dealnet-success-button big-button" id="capture-buttons-1" value="@Resources.Capture" onclick="takePhoto()" />
                                    <div id="capture-buttons-2">
                                        <input type="button" class="btn dealnet-button dealnet-success-button big-button" id="upload-capture" value="@Resources.Save" onclick="uploadCaptured('@Url.Action("RecognizeDriverLicense", "NewRental")')" />
                                        <div id="retake" onclick="retakePhoto()">@Resources.Retake</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div id="upload-area">
                                <div id="upload-buttons">
                                    <div class="file-upload btn dealnet-button dealnet-success-button" id="upload-file-button">
                                        <svg aria-hidden="true" class="icon icon-cloud-upload"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-cloud-upload")"></use></svg>
                                        <span>@Resources.Upload Photo</span>
                                        <input type="file" class="upload" id="upload-file" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")')" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="form-container basic-info-form">
    <div class="form-section">
        @using(Html.BeginForm("BasicInfo", "NewRental", FormMethod.Post, new { id = "main-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ContractId)

            <!--If deal is submitted hide info for borrower and additional applicant that is already submitted-->
            <div @* @if (Model.ContractWasDeclined) { <text>class="hidden"</text> } *@>
                @if(Model?.SubDealers?.Any() ?? false)
                {
                    <div class="dealnet-middle-header">@Resources.SubDealer</div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="">@Resources.ChooseSubDealer</label>
                                <div class="control-group">
                                    @Html.DropDownListFor(m => m.SubmittingDealerId,
                                                     Model.SubDealers.Select(x => new SelectListItem { Value = x.Id, Text = x.DisplayName, Selected = Model.SubmittingDealerId == x.Id }),
                                                     new { @class = "form-control", id = "subdealers" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @*@Html.Hidden("SubmittingDealerId", Model.SubDealers.First().Id)*@
                    @*@Html.Hidden("SubmittingDealerId", "")*@
                }

                <div class="well well-info position-well">
                    <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                    @Resources.AtLeastOneHomeOwner
                </div>
                @Html.Partial("BasicInfo/_HomeOwnerInfo", Model)
            </div>

            <!--Add Additional Applicant-->
            @Html.Partial("BasicInfo/_AdditionalApplicants")
            <!--END Add Additional Applicant-->


            <div id="add-additional-applicant">
                <div class="align-middle">
                    <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
                    <span>@Resources.AddAdditionalApplicant</span>
                </div>
            </div>
            @*<div class="well well-info position-well collapse" id="age-warning-message">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                @Resources.AtLeastOne75OrLess
                </div>
                <div class="well danger-well over-aged-well collapse" id="age-error-message">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                @Resources.AtLeastOne75OrLess
                </div>*@
            <!--Warning Section if isn't chosen homeowner checkbox-->
            <div class="well danger-well over-aged-well collapse" id="proceed-homeowner-errormessage">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                @Resources.AtLeastOneHomeOwner
            </div>
            <div class="well danger-well over-aged-well collapse" id="proceed-error-message">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                @Resources.AllAplicantsConsents
            </div>
            <!--End Warning Section if isn't chosen homeowner checkbox-->

            <div class="row save-proceed-btn-hold">
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <button class="btn dealnet-button dealnet-success-button" id="save-and-proceed-button">
                        @Resources.SaveAndProceed
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_AgreementPersonalData")

@section Translations
{
    translations['ProcessingImage'] = "@Resources.ProcessingImage";
    translations['CannotRecognizeDriverLicense'] = "@Html.Raw(Resources.CannotRecognizeDriverLicense)";
    translations['BrowserNotSupportFileUpload'] = "@Html.Raw(Resources.BrowserNotSupportFileUpload)";
    translations['TheDateMustBeInCorrectFormat'] = "@Resources.TheDateMustBeInCorrectFormat";
    translations['TheDateMustBeOver1900'] = "@Resources.TheDateMustBeOver1900";
    translations['Over18'] = "@Resources.TheApplicantNeedsToBeOver18";
    translations['EnterValidDate'] = "@Resources.EnterValidDate";
    translations['ApplicantsShouldBe18']="@Resources.ApplicantsShouldBe18";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/localization")
    @Scripts.Render("~/bundles/basic-info")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["PlacesAutocompleteKey"])&libraries=places&callback=assignAutocompletes" async defer></script>
    <script type="text/javascript">
        $('<option @(Model.SubmittingDealerId == null ? "selected" : "") value="">- @Resources.NotSelected -</option>').prependTo($('#subdealers'));

        var isMobileRequest = @(ViewBag.IsMobileRequest ? "true" : "false");

@if(Model.SubmittingDealerId == null)
        {
<text>$('#subdealers').val($('#subdealers > option:first').val());</text>
}
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        /**/
        /**/
        module.require('basicInfo.index').init(@Html.Raw(Json.Encode(Model)));

        ga('send', 'event', 'New Application Start', 'Basic Info page Displayed', '@(User.IsInRole(DealnetPortal.Api.Common.Enumeration.UserRole.Dealer.ToString()) ? "Dealer" : "Broker") : @User.Identity.Name');
    /**/
    /**/
});
    </script>
}

