@using DealnetPortal.Web.Models
@model DealnetPortal.Web.Models.BasicInfoViewModel

@{
    if (Model?.AdditionalApplicants != null && Model.AdditionalApplicants.Count < 3)
    {
        for (var i = Model.AdditionalApplicants.Count; i < 3; i++)
        {
            Model.AdditionalApplicants.Add(new ApplicantPersonalInfo());
        }
    }
}

<div id="label-steps">
    <div class="dealnet-action-link">New Application</div> &gt;
</div>

<div class="dealnet-large-header" id="basic-info">Basic Info</div>

<div id="steps-line"></div>
<div class="row" id="steps">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="@Url.Action("BasicInfo")" class="step-item step-active">1</a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step2" class="step-item">2</div>

        <div id="step3" class="step-item">3</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step4" class="step-item">4</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step5" class="step-item">5</div>
    </div>
</div>
<div class="form-container basic-info-form">
    <div class="form-section">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ContractId)

    if (Model?.SubDealers?.Any() ?? false)
    {
        <div class="dealnet-middle-header">Sub-Dealer</div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="">Choose a Sub-Dealer</label>
                    <div class="control-group">
                        @Html.DropDownListFor(m => m.SubmittingDealerId,
                            Model.SubDealers.Select(x => new SelectListItem {Value = x.Id, Text = x.DisplayName, Selected = Model.SubmittingDealerId == x.Id}),
                            new {@class = "form-control", id = "subdealers"})
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @*@Html.Hidden("SubmittingDealerId", Model.SubDealers.First().Id)*@
        @*@Html.Hidden("SubmittingDealerId", "")*@
    }

    <!--Instalation Address-->
    <h2 class="dealnet-middle-header address-info-label">Installation Address Information</h2>
    <div class="row">
        <div class="col-md-12 get-location-section">
            <div class="btn dealnet-button dealnet-success-button" onclick="autodetectAddress()">
                <svg aria-hidden="true" class="icon icon-get-location"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-get-location")"></use></svg>
                <span>Get My Location</span>
            </div>
        </div>
    </div>
    <div class="row address-info1">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="street">Street</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.Street, new { @class = "form-control dealnet-input", id = "street", placeholder = "St." })
                    @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.Street, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2">
            <div class="form-group">
                <label for="unit_number">Unit #</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "unit_number", placeholder = "12345" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.UnitNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="locality">City</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.City, new { @class = "form-control dealnet-input", id = "locality", placeholder = "Ottawa" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.City, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row address-info2">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="administrative_area_level_1">Province</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.Province, new { @class = "form-control dealnet-input", id = "administrative_area_level_1", placeholder = "Nepean" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.Province, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="postal_code">Postal Code</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "postal_code", placeholder = "12345" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.HomeOwner.AddressInformation.ResidenceType)
                        @Html.EnumDropDownListFor(m => m.HomeOwner.AddressInformation.ResidenceType, null, new { @class = "form-control", id = "residence" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.ResidenceType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="#" class="dealnet-disabled-text clear-address">
                        <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END Instalation Address-->

    <!--Borrower Information-->
    <h2 class="dealnet-middle-header">Borrower Information</h2>
        <!--scanlicence-button-->
            if (!ViewBag.IsMobileRequest)
            {
            <div class="row scanlicence-button">
                <div class="col-md-12">
                    <div class="scanlicence-hold">
                        <button type="button" class="btn dealnet-button dealnet-success-button" id="owner-scan-button" data-toggle="modal" data-target="#camera-modal">
                            <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                            <span>Scan License</span>
                        </button>
                        <a href="#" class="scanlicence-info-link">
                            <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                        </a>
                        <div class="scanlicence-info-text well well-info">
                            Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                        </div>
                    </div>
                    <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                </div>
            </div>
            }
            else
            {
            <div class="row scanlicence-button">
                <div class="col-md-12">
                    <div class="scanlicence-hold">
                        <div class="file-upload btn dealnet-button dealnet-success-button" id="owner-scan-button">
                            <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                            <span>Scan License</span>
                            <input type="file" accept="image/*" class="upload" id="owner-upload-file" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")', 'first-name', 'last-name', 'birth-date', 'dl-number', 'street', 'locality', 'administrative_area_level_1', 'postal_code')"/>
                        </div>
                        <a href="#" class="scanlicence-info-link">
                            <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                        </a>
                        <div class="scanlicence-info-text well well-info">
                            Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                        </div>
                    </div>
                    <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                </div>
            </div>
            }
        <!--END scanlicence-button-->

    <div class="row owner-info">
        @Html.HiddenFor(m => m.HomeOwner.CustomerId)
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="first-name">First Name</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.FirstName, new {@class = "form-control dealnet-input", id = "first-name", placeholder = "First Name"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.LastName, new {@class = "form-control dealnet-input", id = "last-name", placeholder = "Last Name"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.LastName, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="birth-date">Date of Birth</label>
                <div class="control-group date-group">
                    @Html.TextBoxFor(m => m.HomeOwner.BirthDate, @"{0:MM'/'dd'/'yyyy}", new {@class = "form-control dealnet-input", id = "birth-date", placeholder = "mm/dd/yyyy", data_val_date = ""})
                    @Html.ValidationMessageFor(m => m.HomeOwner.BirthDate, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="sin-number">SIN</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.Sin, new {@class = "form-control dealnet-input", id = "sin-number", placeholder = "SIN"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.Sin, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="dl-number">Driver License Number</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.DriverLicenseNumber, new { @class = "form-control dealnet-input", id = "dl-number", placeholder = "Driver License Number" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.DriverLicenseNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <!--END Borrower Information-->

    <!--Living time-->
    <div id="living-time" class="form-group">
        <label for="living-time-checkbox" class="align-middle custom-checkbox">
            <input type="checkbox" class="dealnet-checkbox" id="living-time-checkbox" onChange="$(this).is(':checked') ? $('#previous-address').slideDown() : $('#previous-address').slideUp()"/>
            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            <span>Lived at current address less than 6 month</span>
        </label>
    </div>
    <div id="previous-address" style="display: none;">
        <h2 class="dealnet-middle-header address-info-label no-margin-top">Previous Address Information</h2>
        <div class="row address-info1">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="street">Street</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" placeholder="St.">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="unit_number">Unit #</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" placeholder="12345">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="locality">City</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" placeholder="Ottawa">
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-info2">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="administrative_area_level_1">Province</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" placeholder="Nepean">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="postal_code">Postal Code</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" placeholder="12345">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="#" class="dealnet-disabled-text clear-address">
                    <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                </a>
            </div>
        </div>
    </div>
    <!--End Living time-->

    <!--Mailing Address-->
    <div id="mailing-address-different" class="form-group">
        <label for="mailing-address-checkbox" class="align-middle custom-checkbox">
            <input type="checkbox" class="dealnet-checkbox" id="mailing-address-checkbox" @if (Model?.HomeOwner?.MailingAddressInformation != null) { <text> checked</text> } />
            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            <span>Mailing address is not the same as Installation Address</span>
        </label>
    </div>
    <div id="mailing-address">
        <div class="row" id="mailing-address1">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="mailing_street">Mailing Address</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.Street, new { @class = "form-control dealnet-input", id = "mailing_street", placeholder = "St.", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="mailing_unit_number">Unit #</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "mailing_unit_number", placeholder = "12345", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="mailing_locality">City</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.City, new { @class = "form-control dealnet-input", id = "mailing_locality", placeholder = "Ottawa", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="mailing-adress2">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="mailing_administrative_area_level_1">Province</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.Province, new { @class = "form-control dealnet-input", id = "mailing_administrative_area_level_1", placeholder = "Nepean", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="mailing_postal_code">Postal Code</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "mailing_postal_code", placeholder = "12345", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="#" class="dealnet-disabled-text clear-address" id="clear-mailing-address">
                    <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                </a>
            </div>
        </div>
    </div>
    <!--End Mailing Address-->


    <!--Home Owner Information-->
    <div id="borrower-is-homeowner" class="form-group">
        <label for="homeowner-checkbox" class="align-middle custom-checkbox">
            <input type="checkbox" class="dealnet-checkbox" id="homeowner-checkbox" checked="checked"/>
            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            <span>Borrower is homeowner</span>
        </label>
    </div>
    <!--Home Owner Information-->

    <!--Add Additional Applicant-->
    for (var i = 0; i < 3; i++)
    {
        <div id="additional@(i+1)-section" @if (Model?.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 0 && Model.AdditionalApplicants[i]?.FirstName != null) { <text> data-initialized="true" </text>  }>
            <div class="dealnet-middle-header owner-info-label">Additional Applicant Information<div id="additional@(i+1)-remove" class="additional-remove"><i class="glyphicon glyphicon-remove"></i></div></div>
            <input type="hidden" name="AdditionalApplicants.Index" value="@i" />

            @if (!ViewBag.IsMobileRequest)
            {
            <div class="row scanlicence-button">
                <div class="col-md-12">
                    <div class="scanlicence-hold">
                        <button type="button" class="btn dealnet-button dealnet-success-button" id="additional@(i+1)-scan-button" data-toggle="modal" data-target="#camera-modal">
                            <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                            <span>Scan License</span>
                        </button>
                        <a href="#" class="scanlicence-info-link">
                            <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                        </a>
                        <div class="scanlicence-info-text well well-info">
                            Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                        </div>
                    </div>
                    <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                </div>
            </div>
            }
            else
            {
            <div class="row scanlicence-button">
                <div class="col-md-12">
                    <div class="scanlicence-hold">
                        <div class="file-upload btn dealnet-button dealnet-success-button">
                            <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                            <span>Scan License</span>
                            <input type="file" accept="image/*" class="upload" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")', 'additional-first-name-@(i+1)', 'additional-last-name-@(i+1)', 'additional-birth-date-@(i+1)', 'additional-dl-number-@(i+1)', 'additional-street-@(i+1)', 'additional-locality-@(i+1)', 'additional-administrative_area_level_1-@(i+1)', 'additional-postal_code-@(i+1)')" />
                        </div>
                        <a href="#" class="scanlicence-info-link">
                            <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                        </a>
                        <div class="scanlicence-info-text well well-info">
                            Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                        </div>
                    </div>
                    <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                </div>
            </div>
            }

            <div class="row owner-info">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-first-name-@(i+1)">First Name</label>
                        <div class="control-group">
                            @Html.HiddenFor(m => m.AdditionalApplicants[i].CustomerId, new { @class = "form-control dealnet-input", id = "additional-id-" + (i + 1), disabled = "disabled" })
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].FirstName, new { @class = "form-control dealnet-input", id = "additional-first-name-" + (i + 1), placeholder = "First Name", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-last-name-@(i+1)">Last Name</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].LastName, new { @class = "form-control dealnet-input", id = "additional-last-name-" + (i + 1), placeholder = "Last Name", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-birth-date-@(i+1)">Date of Birth</label>
                        <div class="control-group date-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { @class = "form-control dealnet-input", id = "additional-birth-date-" + (i + 1), placeholder = "mm/dd/yyyy", disabled = "disabled", data_val_date = "" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-sin-number-@(i+1)">SIN</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].Sin, new { @class = "form-control dealnet-input", id = "additional-sin-number-" + (i + 1), placeholder = "SIN" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].Sin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="dl-number">Driver License Number</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].DriverLicenseNumber, new { @class = "form-control dealnet-input", id = "additional-dl-number-" + (i + 1), placeholder = "Driver License Number" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].DriverLicenseNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!--Living time-->
            <div id="living-time-add-app@(i+1)" class="form-group">
                <label for="living-time-checkbox-add-app@(i+1)" class="align-middle custom-checkbox">
                    <input type="checkbox" class="dealnet-checkbox" id="living-time-checkbox-add-app@(i+1)" onChange="$(this).is(':checked') ? $('#previous-address-add-app@(i+1)').slideDown() : $('#previous-address-add-app@(i+1)').slideUp()"/>
                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                    <span>Lived at current address less than 6 month</span>
                </label>
            </div>
            <div id="previous-address-add-app@(i+1)" style="display: none;">
                <h2 class="dealnet-middle-header address-info-label no-margin-top">Additional Applicant Previous Address Information</h2>
                <div class="row address-info1">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="St.">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group">
                            <label for="unit_number">Unit #</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="12345">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="locality">City</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Ottawa">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row address-info2">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="administrative_area_level_1">Province</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Nepean">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="postal_code">Postal Code</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="12345">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--End Living time-->

            <!--Mailing Address-->
            <div id="mailing-address-different-add-app@(i+1)" class="form-group">
                <label for="mailing-address-checkbox-add-app@(i+1)" class="align-middle custom-checkbox">
                    <input type="checkbox" class="dealnet-checkbox" id="mailing-address-checkbox-add-app@(i+1)" onChange="$(this).is(':checked') ? $('#mailing-address-add-app@(i+1)').slideDown() : $('#mailing-address-add-app@(i+1)').slideUp()"/>
                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                    <span>Mailing address is not the same as Installation Address</span>
                </label>
            </div>
            <div id="mailing-address-add-app@(i+1)" style="display: none;"}>

                <h2 class="dealnet-middle-header no-margin-top">Additional Applicant Mailing Address Information</h2>


               <!-- <div class="owner-info">
                    <a class="dealnet-info-link" onclick="useHomeOwnerAddress(@(i+1));">Use Home Owner address information</a>
                </div>
-->
                <div class="row address-info1">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="additional-street-@(i+1)">Installation Address</label>
                            <div class="control-group">
                                @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Street, new { @class = "form-control dealnet-input", id = "additional-street-" + (i + 1), placeholder = "St." })
                                @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group">
                            <label for="additional-unit_number-@(i+1)">Unit #</label>
                            <div class="control-group">
                                @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "additional-unit_number-" + (i + 1), placeholder = "12345" })
                                @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="additional-locality-@(i+1)">City</label>
                            <div class="control-group">
                                @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.City, new { @class = "form-control dealnet-input", id = "additional-locality-" + (i + 1), placeholder = "Ottawa" })
                                @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row address-info2">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="additional-administrative_area_level_1-@(i+1)">Province</label>
                            <div class="control-group">
                                @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Province, new { @class = "form-control dealnet-input", id = "additional-administrative_area_level_1-" + (i + 1), placeholder = "Nepean" })
                                @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Province, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="additional-postal_code-@(i+1)">Postal Code</label>
                            <div class="control-group">
                                @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "additional-postal_code-" + (i + 1), placeholder = "12345" })
                                @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AdditionalApplicants[i].MailingAddressInformation.ResidenceType)
                                    @Html.EnumDropDownListFor(m => m.AdditionalApplicants[i].MailingAddressInformation.ResidenceType, null, new { @class = "form-control", id = "additional-residence-" + (i + 1) })
                                    @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.ResidenceType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="dealnet-disabled-text clear-address">
                                    <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Mailing Address-->


            <!--Additional Applicant Information-->
            <div id="add-applicant-is-homeowner@(i+1)" class="form-group">
                <label for="add-applicant-checkbox@(i+1)" class="align-middle custom-checkbox">
                    <input type="checkbox" class="dealnet-checkbox" id="add-applicant-checkbox@(i+1)" checked="checked"/>
                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                    <span>Addtitional Applicant is homeowner</span>
                </label>
            </div>
        </div>
    }
    <!--END Add Additional Applicant-->

    <!--Warning Section If Borrower over 75 year-->
    <div class="well danger-well over-aged-well">
        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
        Borrower is over 75 years, you should add mandatory additional applicant
    </div>
    <!--End Warning Section If Borrower over 75 year-->

    <!--Warning Section if isn't chosen homeowner checkbox-->
    <div class="well danger-well over-aged-well">
        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
        At lest one of the applicants should be home owner
    </div>
    <!--End Warning Section if isn't chosen homeowner checkbox-->

    <div id="add-additional-applicant">
        <div class="align-middle">
            <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
            <span>Add additional applicant</span>
        </div>
    </div>

    <div class="row" id="saveproceed-button">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <button class="btn dealnet-button dealnet-success-button">
                Save and Proceed
            </button>
        </div>
    </div>
}
    </div>
</div>

<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@(!ViewBag.IsMobileRequest ? Scripts.Render("~/bundles/basic-info") : Scripts.Render("~/bundles/basic-info-mobile"))

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaQqymsNuummVv7Yi9I2kgGl0lxDjZri4&libraries=places&callback=initGoogleServices" async defer></script>
    <script type="text/javascript">
        $('<option @(Model.SubmittingDealerId == null ? "selected" : "") value="">- not selected -</option>').prependTo($('#subdealers'));
        @if (Model.SubmittingDealerId == null) {
            <text>$('#subdealers').val($('#subdealers > option:first').val());</text>
        }
    </script>
}

