@using DealnetPortal.Web.Models
@model DealnetPortal.Web.Models.BasicInfoViewModel

@{
    if (Model?.AdditionalApplicants != null && Model.AdditionalApplicants.Count < 3)
    {
        for (var i = Model.AdditionalApplicants.Count; i < 3; i++)
        {
            Model.AdditionalApplicants.Add(new ApplicantPersonalInfo());
        } 
    }
}

<div id="label-steps">
    <div class="dealnet-action-link">New Application</div> >
</div>

<div class="dealnet-large-header" id="basic-info">Basic Info</div>

<div id="steps-line"></div>
<div class="row" id="steps">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="@Url.Action("BasicInfo")" class="step-item step-active">1</a>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step2" class="step-item">2</div>

        <div id="step3" class="step-item">3</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step4" class="step-item">4</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step5" class="step-item">5</div>
    </div>
</div>
<div class="form-container basic-info-form">
    <div class="form-section">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ContractId)

    if (Model?.SubDealers?.Any() ?? false)
    {
        <div class="dealnet-middle-header">Sub-Dealer</div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="">Choose a Sub-Dealer</label>
                    <div class="control-group">
                        @Html.DropDownListFor(m => m.SubmittingDealerId,
                            Model.SubDealers.Select(x => new SelectListItem {Value = x.Id, Text = x.DisplayName, Selected = Model.SubmittingDealerId == x.Id}),
                            new {@class = "form-control", id = "subdealers"})
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @*@Html.Hidden("SubmittingDealerId", Model.SubDealers.First().Id)*@
        @*@Html.Hidden("SubmittingDealerId", "")*@
    }
    <div class="dealnet-middle-header owner-info-label">Home Owner Information</div>

    if (!ViewBag.IsMobileRequest)
    {
        <div class="row scanlicence-button">
            <div class="col-md-12">
                <div class="scanlicence-hold">
                    <button type="button" class="btn dealnet-button dealnet-success-button" id="owner-scan-button" data-toggle="modal" data-target="#camera-modal">
                        <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                        <span>Scan License</span>
                    </button>
                    <a href="#" class="scanlicence-info-link">
                        <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                    </a>
                    <div class="scanlicence-info-text well well-info">
                        Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                    </div>
                </div>
                <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
            </div>
        </div>
    }
    else
    {
        <div class="row scanlicence-button">
            <div class="col-md-12">
                <div class="scanlicence-hold">
                    <div class="file-upload btn dealnet-button dealnet-success-button" id="owner-scan-button">
                        <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                        <span>Scan License</span>
                        <input type="file" accept="image/*" class="upload" id="owner-upload-file" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")', 'first-name', 'last-name', 'birth-date', 'dl-number', 'street', 'locality', 'administrative_area_level_1', 'postal_code')"/>
                    </div>
                    <a href="#" class="scanlicence-info-link">
                        <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                    </a>
                    <div class="scanlicence-info-text well well-info">
                        Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                    </div>
                </div>
                <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
            </div>
        </div>
    }

    if (!ViewBag.IsMobileRequest)
    {
        <div class="modal fade" id="camera-modal" role="dialog" data-fnToFill="first-name" data-lnToFill="last-name" data-bdToFill="birth-date" data-dlToFill="dl-number" data-stToFill="street" data-ctToFill="locality" data-prToFill="administrative_area_level_1" data-pcToFill="postal_code">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="dealnet-middle-header">Scan License</div>
                        <div class="dealnet-middle-header-2" id="you-want">Select scanning method</div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li id="foldit" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Use Camera</a></li>
                            <li id="foldit" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Upload</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <div id="capture-area">
                                    <video autoplay class="capture-frame" id="video"></video>
                                    <canvas id="capture-canvas" class="capture-frame"></canvas>
                                    <canvas id="big-capture-canvas"></canvas>
                                    <div id="capture-buttons">
                                        <input type="button" class="btn dealnet-button dealnet-success-button big-button" id="capture-buttons-1" value="Capture" onclick="takePhoto()"/>
                                        <div id="capture-buttons-2">
                                            <input type="button" class="btn dealnet-button dealnet-success-button big-button" id="upload-capture" value="Save" onclick="uploadCaptured('@Url.Action("RecognizeDriverLicense", "NewRental")')"/>
                                            <div id="retake" onclick="retakePhoto()">Retake</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <div id="upload-area">
                                    <div id="upload-buttons">
                                        <div class="file-upload btn dealnet-button dealnet-success-button" id="upload-file-button">
                                            <span class="icon"><img src="~/content/images/upload.png"></span>
                                            <span>Upload Photo</span>
                                            <input type="file" class="upload" id="upload-file" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")')"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row owner-info">
        @Html.HiddenFor(m => m.HomeOwner.CustomerId)
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="first-name">First Name</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.FirstName, new {@class = "form-control dealnet-input", id = "first-name", placeholder = "First Name"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.LastName, new {@class = "form-control dealnet-input", id = "last-name", placeholder = "Last Name"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.LastName, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="birth-date">Date of Birth</label>
                <div class="control-group date-group">
                    @Html.TextBoxFor(m => m.HomeOwner.BirthDate, @"{0:MM'/'dd'/'yyyy}", new {@class = "form-control dealnet-input", id = "birth-date", placeholder = "mm/dd/yyyy", data_val_date = "Date must be in range 1900 - Today"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.BirthDate, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="sin-number">SIN</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.Sin, new {@class = "form-control dealnet-input", id = "sin-number", placeholder = "SIN"})
                    @Html.ValidationMessageFor(m => m.HomeOwner.Sin, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="dl-number">Driver License Number</label>
                <div class="control-group">
                    @Html.TextBoxFor(m => m.HomeOwner.DriverLicenseNumber, new { @class = "form-control dealnet-input", id = "dl-number", placeholder = "Driver License Number" })
                    @Html.ValidationMessageFor(m => m.HomeOwner.DriverLicenseNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <p class="dealnet-middle-header address-info-label">Address Information</p>

    <div class="row">
        <div class="col-md-12">
            <div class="btn dealnet-button dealnet-success-button" onclick="autodetectAddress()">
                <svg aria-hidden="true" class="icon icon-get-location"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-get-location")"></use></svg>
                <span>Get My Location</span>
            </div>
        </div>
    </div>

        <div class="row address-info1">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="street">Installation Address</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.Street, new { @class = "form-control dealnet-input", id = "street", placeholder = "St." })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="unit_number">Unit #</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "unit_number", placeholder = "12345" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.UnitNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="locality">City</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.City, new { @class = "form-control dealnet-input", id = "locality", placeholder = "Ottawa" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row address-info2">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="administrative_area_level_1">Province</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.Province, new { @class = "form-control dealnet-input", id = "administrative_area_level_1", placeholder = "Nepean" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="postal_code">Postal Code</label>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.HomeOwner.AddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "postal_code", placeholder = "12345" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.AddressInformation.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Residence</label>
                            <select name="" id="" class="form-control">
                                <option value="">Own</option>
                                <option value="">Rental</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="mailing-adress-different" class="form-group">
            <label for="mailing-adress-checkbox" class="align-middle custom-checkbox">
                <input type="checkbox" class="dealnet-checkbox" id="mailing-adress-checkbox" @if (Model?.HomeOwner?.MailingAddressInformation != null) { <text> checked</text> } />
                <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                <span>Mailing address is different</span>
            </label>
        </div>

        <div id="mailing-adress">
            <div class="row" id="mailing-adress1">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="mailing_street">Mailing Address</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.Street, new { @class = "form-control dealnet-input", id = "mailing_street", placeholder = "St.", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="mailing_unit_number">Unit #</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "mailing_unit_number", placeholder = "12345", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="mailing_locality">City</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.City, new { @class = "form-control dealnet-input", id = "mailing_locality", placeholder = "Ottawa", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="mailing-adress2">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="mailing_administrative_area_level_1">Province</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.Province, new { @class = "form-control dealnet-input", id = "mailing_administrative_area_level_1", placeholder = "Nepean", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.Province, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="mailing_postal_code">Postal Code</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.HomeOwner.MailingAddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "mailing_postal_code", placeholder = "12345", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.HomeOwner.MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a href="#" class="dealnet-disabled-text clear-address" id="clear-mailing-address">
                        <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                    </a>
                </div>
            </div>
        </div>

    for (var i = 0; i < 3; i++)
    {
        <div id="additional@(i+1)-section" @if (Model?.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 0 && Model.AdditionalApplicants[i]?.FirstName != null) { <text> data-initialized="true" </text>  }>
            <div class="dealnet-middle-header owner-info-label">Additional Applicant Information<div id="additional@(i+1)-remove" class="additional-remove"><i class="glyphicon glyphicon-remove"></i></div></div>
            <input type="hidden" name="AdditionalApplicants.Index" value="@i" />
            @if (!ViewBag.IsMobileRequest)
            {
                <div class="row scanlicence-button">
                    <div class="col-md-12">
                        <div class="scanlicence-hold">
                            <button type="button" class="btn dealnet-button dealnet-success-button" id="additional@(i+1)-scan-button" data-toggle="modal" data-target="#camera-modal">
                                <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                                <span>Scan License</span>
                            </button>
                            <a href="#" class="scanlicence-info-link">
                                <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                            </a>
                            <div class="scanlicence-info-text well well-info">
                                Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                            </div>
                        </div>
                        <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                    </div>
                </div>
            }
            else
            {
                <div class="row scanlicence-button">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="scanlicence-hold">
                            <div class="file-upload btn dealnet-button dealnet-success-button">
                                <svg aria-hidden="true" class="icon icon-scan-licence"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-scan-licence")"></use></svg>
                                <span>Scan License</span>
                                <input type="file" accept="image/*" class="upload" onchange="submitUpload(this, '@Url.Action("RecognizeDriverLicensePhoto", "NewRental")', 'additional-first-name-@(i+1)', 'additional-last-name-@(i+1)', 'additional-birth-date-@(i+1)', 'additional-dl-number-@(i+1)', 'additional-street-@(i+1)', 'additional-locality-@(i+1)', 'additional-administrative_area_level_1-@(i+1)', 'additional-postal_code-@(i+1)')" />
                            </div>
                            <a href="#" class="scanlicence-info-link">
                                <svg aria-hidden="true" class="icon icon-info-grey"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-grey")"></use></svg>
                            </a>
                            <div class="scanlicence-info-text well well-info">
                                Turn the license over to scan the barcode on the back of the license. Avoid glare and turn off your flash.
                            </div>
                        </div>
                        <span class="scanlicence-notify">Scan license and this info will be filled out automatically</span>
                    </div>
                </div>
            }

            <div class="row owner-info">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-first-name-@(i+1)">First Name</label>
                        <div class="control-group">
                            @Html.HiddenFor(m => m.AdditionalApplicants[i].CustomerId, new { @class = "form-control dealnet-input", id = "additional-id-" + (i + 1), disabled = "disabled" })
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].FirstName, new { @class = "form-control dealnet-input", id = "additional-first-name-" + (i + 1), placeholder = "First Name", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-last-name-@(i+1)">Last Name</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].LastName, new { @class = "form-control dealnet-input", id = "additional-last-name-" + (i + 1), placeholder = "Last Name", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-birth-date-@(i+1)">Date of Birth</label>
                        <div class="control-group date-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { @class = "form-control dealnet-input", id = "additional-birth-date-" + (i + 1), placeholder = "mm/dd/yyyy", disabled = "disabled", data_val_date = "Date must be in range 1900 - Today" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-sin-number-@(i+1)">SIN</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].Sin, new { @class = "form-control dealnet-input", id = "additional-sin-number-" + (i + 1), placeholder = "SIN" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].Sin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="dl-number">Driver License Number</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].DriverLicenseNumber, new { @class = "form-control dealnet-input", id = "additional-dl-number-" + (i + 1), placeholder = "Driver License Number" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].DriverLicenseNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="owner-info">
                <a href="#" class="dealnet-info-link">Use Home Owner address information</a>
            </div>
            <p class="dealnet-middle-header address-info-label">Additional Applicant Mailing Address Information</p>

            <div class="row address-info1">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="additional-street-@(i+1)">Installation Address</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Street, new { @class = "form-control dealnet-input", id = "additional-street-" + (i + 1), placeholder = "St." })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="additional-unit_number-@(i+1)">Unit #</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.UnitNumber, new { @class = "form-control dealnet-input", id = "additional-unit_number-" + (i + 1), placeholder = "12345" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-locality-@(i+1)">City</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.City, new { @class = "form-control dealnet-input", id = "additional-locality-" + (i + 1), placeholder = "Ottawa" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row address-info2">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-administrative_area_level_1-@(i+1)">Province</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Province, new { @class = "form-control dealnet-input", id = "additional-administrative_area_level_1-" + (i + 1), placeholder = "Nepean" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.Province, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="additional-postal_code-@(i+1)">Postal Code</label>
                        <div class="control-group">
                            @Html.TextBoxFor(m => m.AdditionalApplicants[i].MailingAddressInformation.PostalCode, new { @class = "form-control dealnet-input postal-code", id = "additional-postal_code-" + (i + 1), placeholder = "12345" })
                            @Html.ValidationMessageFor(m => m.AdditionalApplicants[i].MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Residence</label>
                                <select name="" id="" class="form-control">
                                    <option value="">Own</option>
                                    <option value="">Rental</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="dealnet-disabled-text clear-address">
                                <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="add-additional-applicant">
            <div class="align-middle">
                <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
                <span>Add additional applicant</span>
            </div>
        </div>

    <div class="row" id="saveproceed-button">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <button class="btn dealnet-button dealnet-success-button">
                Save and Proceed
            </button>
        </div>
    </div>
}
    </div>
</div>

<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@(!ViewBag.IsMobileRequest ? Scripts.Render("~/bundles/basic-info") : Scripts.Render("~/bundles/basic-info-mobile"))

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaQqymsNuummVv7Yi9I2kgGl0lxDjZri4&libraries=places&callback=initGoogleServices" async defer></script>
    <script type="text/javascript">
        $('<option @(Model.SubmittingDealerId == null ? "selected" : "") value="">- not selected -</option>').prependTo($('#subdealers'));
        @if (Model.SubmittingDealerId == null) {
            <text>$('#subdealers').val($('#subdealers > option:first').val());</text>
        }
    </script>
}

