@using DealnetPortal.Api.Common.Enumeration
@model DealnetPortal.Web.Models.CreditRejectedViewModel



<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-3"></div>
    <div class="col-lg-6 col-md-8 col-sm-6">
        <div class="rejected-info">
            <div class="text-center">
                <svg aria-hidden="true" class="icon icon-reject"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-reject")"></use></svg>
            </div>
            <h3 class="text-center">@Resources.Declined</h3>
            <p class="text-center">@Resources.UnableToProcessApplication</p>
            @*<h3 class="text-center">Recommendations</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ol>*@

          <div class="button-container">
            <a href="@Url.Action("BasicInfo", new {contractId = Model.ContractId})" class="btn dealnet-button-declined btn-long-text @if (!Model.CanAddAdditionalApplicants)
                                                                                                                                      {
                                                                                                                                        <text>disabled</text>
                                                                                                                                      } ">
              <span>@Resources.AddAdditionalApplicant</span>
            </a>
            <a href="@Url.Action("CreateNewApplication", new {contractId = Model.ContractId})" class="btn dealnet-button-declined btn-long-text">
              <span>@Resources.CreateAnotherApplicationForThis</span>
            </a>
          </div>
        </div>    
    </div>
    <div class="col-lg-3 col-md-2 col-sm-3"></div>
</div>
@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			ga('send', 'event', 'Decline/Credit Review', 'Error Message Displayed', '@(User.IsInRole(DealnetPortal.Api.Common.Enumeration.UserRole.Dealer.ToString())? "Dealer" : "Broker" ) : @User.Identity.Name');
		});
	</script>
}