@model DealnetPortal.Web.Models.BasicInfoViewModel

<div id="label-steps">
    <div class="dealnet-action-link">New Rental</div> >
</div>

@using (Html.BeginForm("CreditCheckConfirmation", "NewRental", FormMethod.Post, new { id = "credit-check-form" }))
{
    @Html.HiddenFor(m => m.ContractId)
    <div class="dealnet-large-header" id="basic-info">Credit check confirmation</div>

    <div id="steps-line"></div>
    <div class="row" id="steps">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="@Url.Action("BasicInfo", new { contractId = Model.ContractId })" class="step-item">1</a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step2" class="step-item step-active">2</div>

            <div id="step3" class="step-item">3</div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step4" class="step-item">4</div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step5" class="step-item">5</div>
        </div>
    </div>

    <div class="form-container">
    <div class="row credit-check-info-hold">
        <div class="col-md-6">
            <div class="dealnet-credit-check-section">
                <h3 class="dealnet-section-title">Home Owner Information<a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.HomeOwner.FirstName, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="col-xs-6 dealnet-field-holder">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.HomeOwner.FirstName)
                                @Html.ValidationMessageFor(m => m.HomeOwner.FirstName, "", new { @class = "text-danger" })
                            </div>
                       </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.HomeOwner.LastName, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.HomeOwner.LastName)
                                @Html.ValidationMessageFor(m => m.HomeOwner.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        @Html.Label("birth-date", "Birth of Date", new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group date-group">
                               @Html.TextBoxFor(m => Model.HomeOwner.BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "birth-date", data_val_date = "Date must be in range 1900 - Today" })
                                @Html.ValidationMessageFor(m => m.HomeOwner.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="dealnet-agrees form-group">
                    <label class="align-middle custom-checkbox">
                        @Html.CheckBoxFor(m => Model.HomeOwner.AgrreesToSendPersonalInfo)
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-checked"></use></svg></span>
                        <span>Agrees to send his/her personal data to credit check</span>
                    </label>
                </div>
            </div>


        </div>

        @if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 0)
        {

            <div class="col-md-6">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">Additional Applicant #1 <a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[0].FirstName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group date-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[0].FirstName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[0].LastName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[0].LastName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.Label("additional-birth-date-1", "Birth of Date", new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group date-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[0].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-1", data_val_date = "Date must be in range 1900 - Today" })
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].BirthDate, "", new { @class = "text-danger" })
                                </div>
                            </div>                        
                        </div>
                    </div>

                    <div class="dealnet-agrees form-group">
                        <label class="align-middle custom-checkbox">
                            @Html.CheckBoxFor(m => Model.AdditionalApplicants[0].AgrreesToSendPersonalInfo)
                            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-checked"></use></svg></span>
                            <span>Agrees to send his/her personal data to credit check</span>
                        </label>
                    </div>
                </div>



            </div>
        }

        @if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 1)
        {

            <div class="col-md-6">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">Additional Applicant #2 <a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[1].FirstName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[1].FirstName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[1].LastName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[1].LastName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.Label("additional-birth-date-2", "Birth of Date", new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group date-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[1].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-2", data_val_date = "Date must be in range 1900 - Today" })
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].BirthDate, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="dealnet-agrees form-group">
                        <label class="align-midle custom-checkbox">
                            @Html.CheckBoxFor(m => Model.AdditionalApplicants[1].AgrreesToSendPersonalInfo)
                            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-checked"></use></svg></span>
                            <span>Agrees to send his/her personal data to credit check</span>
                        </label>
                    </div>
                </div>
            </div>
        }

        @if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 2)
        {
            <div class="col-md-6">
                <div class="dealnet-credit-check-section">
                    <h3 class="dealnet-section-title">Additional Applicant #3 <a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[2].FirstName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[2].FirstName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(m => Model.AdditionalApplicants[2].LastName, new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[2].LastName)
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.Label("additional-birth-date-3", "Birth of Date", new { @class = "dealnet-field-caption col-xs-6" })
                            <div class="dealnet-field-holder col-xs-6">
                                <div class="control-group date-group">
                                    @Html.TextBoxFor(m => Model.AdditionalApplicants[2].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-3", data_val_date = "Date must be in range 1900 - Today" })
                                    @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>

                    </div>
                    <div class="dealnet-agrees form-group">
                        <label class="align-middle custom-checkbox">
                            @Html.CheckBoxFor(m => Model.AdditionalApplicants[2].AgrreesToSendPersonalInfo)
                            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-checked"></use></svg></span>
                            <span>Agrees to send his/her personal data to credit check</span>
                        </label>
                    </div>
                </div>

            </div>



        }

        <div class="col-md-6">

            <div class="dealnet-credit-check-section">
                <h3 class="dealnet-section-title">Address Information <a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.AddressInformation.InstallationAddress, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.AddressInformation.InstallationAddress)
                                @Html.ValidationMessageFor(m => Model.AddressInformation.InstallationAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.AddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.AddressInformation.UnitNumber)
                                @Html.ValidationMessageFor(m => Model.AddressInformation.UnitNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.AddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.AddressInformation.City)
                                @Html.ValidationMessageFor(m => Model.AddressInformation.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.AddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.AddressInformation.Province)
                                @Html.ValidationMessageFor(m => Model.AddressInformation.Province, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.AddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.AddressInformation.PostalCode)
                                @Html.ValidationMessageFor(m => Model.AddressInformation.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>

                </div>

            </div>

        </div>



        @if (Model.MailingAddressInformation != null)
        {

        <div class="col-md-6">
            <div class="dealnet-credit-check-section">
                <h3 class="dealnet-section-title">Mailing Address <a href="#" onclick="editData(this)" class="dealnet-section-edit-link pull-right">Edit</a></h3>
                <div class="form-group">
                    <div class="row">
                        <label class="dealnet-field-caption col-xs-6" for="MailingAddressInformation_InstallationAddress">
                            Mailing Address
                        </label>

                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.MailingAddressInformation.InstallationAddress)
                                @Html.ValidationMessageFor(m => Model.MailingAddressInformation.InstallationAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.MailingAddressInformation.UnitNumber, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.MailingAddressInformation.UnitNumber)
                                @Html.ValidationMessageFor(m => Model.MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.MailingAddressInformation.City, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.MailingAddressInformation.City)
                                @Html.ValidationMessageFor(m => Model.MailingAddressInformation.City, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.MailingAddressInformation.Province, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.MailingAddressInformation.Province)
                                @Html.ValidationMessageFor(m => Model.MailingAddressInformation.Province, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => Model.MailingAddressInformation.PostalCode, new { @class = "dealnet-field-caption col-xs-6" })
                        <div class="dealnet-field-holder col-xs-6">
                            <div class="control-group">
                                @Html.TextBoxFor(m => Model.MailingAddressInformation.PostalCode)
                                @Html.ValidationMessageFor(m => Model.MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        }
    </div>

    <div class="row" id="saveproceed-button">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn dealnet-button dealnet-success-button">
                Check Credit
            </button>
        </div>
    </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="editor-modal">
        <div class="row">
            <div class="col-xs-1 col-md-4 col-lg-4 col-sm-4"></div>
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-title dealnet-large-header"></div>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn dealnet-button dealnet-success-button" onclick="saveChanges('@Url.Action("UpdateBasicInfo", "NewRental")')">Save changes</button>
                            </div>
                            <div>
                                <a href="#" onclick="cancelChanges()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs1 col-md-4 col-lg-4 col-sm-4"></div>
        </div>
        
    </div>

}




<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/credit-check")
}
