@model DealnetPortal.Web.Models.BasicInfoViewModel

﻿@Styles.Render("~/Content/basic-info.css")

<div id="label-steps">
    <div class="dealnet-action-link">New Rental</div> >
</div>

@using (Html.BeginForm("CreditCheckConfirmation", "NewRental", FormMethod.Post, new { id = "credit-check-form" }))
{
    <div class="dealnet-large-header" id="basic-info">Credit check confirmation</div>

    <div id="steps-line"></div>
    <div class="row" id="steps">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="@Url.Action("BasicInfo", new { contractId = Model.ContractId })">
                <div class="dealnet-empty-circle">1</div>
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step2">
                <div class="dealnet-empty-circle">
                    <div class="dealnet-green-circle">2</div>
                </div>
            </div>
            <div id="step3">
                <div class="dealnet-empty-circle">3</div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step4">
                <div class="dealnet-empty-circle">4</div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="step5">
                <div class="dealnet-empty-circle">5</div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="dealnet-credit-check-section">
                <div>
                    <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Home Owner Information</div>
                    <div class="dealnet-field-holder"> <a href="#" onclick="editData(this)">Edit</a></div>
                </div>
                <div>
                    <div class="dealnet-field-caption">First Name</div>

                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.HomeOwner.FirstName)
                        @Html.ValidationMessageFor(m => m.HomeOwner.FirstName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div>
                    <div class="dealnet-field-caption">
                        Last Name
                    </div>

                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.HomeOwner.LastName)
                        @Html.ValidationMessageFor(m => m.HomeOwner.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="dealnet-field-caption">
                        Date of Birth
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.HomeOwner.BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "birth-date", data_val_date = "Date must be in range 1900 - Today" })
                        @Html.ValidationMessageFor(m => m.HomeOwner.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="dealnet-agrees">
                    @Html.CheckBoxFor(m => Model.HomeOwner.AgrreesToSendPersonalInfo)
                    Agrees to send his/her personal data to credit check
                </div>
            </div>


        </div>
        @if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 0)
        {
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="dealnet-credit-check-section">
                    <div>
                        <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Additional Applicant #1</div>
                        <div class="dealnet-field-holder"> <a href="#" onclick="editData(this)">Edit</a></div>
                    </div>

                    <div>
                        <div class="dealnet-field-caption">
                            First Name
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[0].FirstName)
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].FirstName, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div>
                        <div class="dealnet-field-caption">
                            Last Name
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[0].LastName)
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].LastName, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div>
                        <div class="dealnet-field-caption">
                            Date of Birth
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[0].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-1", data_val_date = "Date must be in range 1900 - Today" })
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[0].BirthDate, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="dealnet-agrees">
                        @Html.CheckBoxFor(m => Model.AdditionalApplicants[0].AgrreesToSendPersonalInfo)
                        Agrees to send his/her personal data to credit check
                    </div>
                </div>



            </div>
        }

    </div>
    if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 1)
    {
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                <div class="dealnet-credit-check-section">
                    <div>
                        <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Additional Applicant #2</div>
                        <div class="dealnet-field-holder"> <a href="#" onclick="editData(this)">Edit</a></div>
                    </div>

                    <div>
                        <div class="dealnet-field-caption">
                            First Name
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[1].FirstName)
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].FirstName, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div>
                        <div class="dealnet-field-caption">
                            Last Name
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[1].LastName)
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].LastName, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div>
                        <div class="dealnet-field-caption">
                            Date of Birth
                        </div>
                        <div class="dealnet-field-holder">
                            @Html.TextBoxFor(m => Model.AdditionalApplicants[1].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-2", data_val_date = "Date must be in range 1900 - Today" })
                            @Html.ValidationMessageFor(m => Model.AdditionalApplicants[1].BirthDate, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="dealnet-agrees">
                        @Html.CheckBoxFor(m => Model.AdditionalApplicants[1].AgrreesToSendPersonalInfo)
                        Agrees to send his/her personal data to credit check
                    </div>
                </div>



            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                @if (Model.AdditionalApplicants != null && Model.AdditionalApplicants.Count > 2)
                {
                    <div class="dealnet-credit-check-section">
                        <div>
                            <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Additional Applicant #3</div>
                            <div class="dealnet-field-holder"> <a href="#" onclick="editData(this)">Edit</a></div>
                        </div>
                        <div>
                            <div class="dealnet-field-caption">
                                First Name
                            </div>
                            <div class="dealnet-field-holder">

                                @Html.TextBoxFor(m => Model.AdditionalApplicants[2].FirstName)
                                @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].FirstName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div>
                            <div class="dealnet-field-caption">
                                Last Name
                            </div>
                            <div class="dealnet-field-holder">
                                @Html.TextBoxFor(m => Model.AdditionalApplicants[2].LastName)
                                @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <div class="dealnet-field-caption">
                                Date of Birth
                            </div>
                            <div class="dealnet-field-holder">
                                @Html.TextBoxFor(m => Model.AdditionalApplicants[2].BirthDate, @"{0:MM'/'dd'/'yyyy}", new { id = "additional-birth-date-3", data_val_date = "Date must be in range 1900 - Today" })
                                @Html.ValidationMessageFor(m => Model.AdditionalApplicants[2].LastName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="dealnet-agrees">
                            @Html.CheckBoxFor(m => Model.AdditionalApplicants[2].AgrreesToSendPersonalInfo)
                            Agrees to send his/her personal data to credit check
                        </div>
                    </div>



                }
            </div>
        </div>

    }

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

            <div class="dealnet-credit-check-section">
                <div>
                    <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Address Information</div>
                    <div class="dealnet-field-holder">
                        <a href="#" onclick="editData(this)">Edit</a>
                    </div>
                </div>

                <div>
                    <div class="dealnet-field-caption">
                        Installation Address
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.AddressInformation.InstallationAddress)
                        @Html.ValidationMessageFor(m => Model.AddressInformation.InstallationAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="dealnet-field-caption">
                        Unit #
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.AddressInformation.UnitNumber)
                        @Html.ValidationMessageFor(m => Model.AddressInformation.UnitNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="dealnet-field-caption">
                        City
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.AddressInformation.City)
                        @Html.ValidationMessageFor(m => Model.AddressInformation.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>

                    <div class="dealnet-field-caption">
                        Province
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.AddressInformation.Province)
                        @Html.ValidationMessageFor(m => Model.AddressInformation.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>

                    <div class="dealnet-field-caption">
                        Postal Code
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.AddressInformation.PostalCode)
                        @Html.ValidationMessageFor(m => Model.AddressInformation.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        @if (Model.MailingAddressInformation != null)
        {

            <div class="dealnet-credit-check-section">
                <div>
                    <div class="dealnet-large-header dealnet-field-caption dealnet-section-title bold">Mailing Address</div>
                    <div class="dealnet-field-holder"> <a href="#" onclick="editData(this)">Edit</a></div>
                </div>
                <div>
                    <div class="dealnet-field-caption">
                        Mailing Address
                    </div>

                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.MailingAddressInformation.InstallationAddress)
                        @Html.ValidationMessageFor(m => Model.MailingAddressInformation.InstallationAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="dealnet-field-caption">
                        Unit #
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.MailingAddressInformation.UnitNumber)
                        @Html.ValidationMessageFor(m => Model.MailingAddressInformation.UnitNumber, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div>
                    <div class="dealnet-field-caption">
                        City
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.MailingAddressInformation.City)
                        @Html.ValidationMessageFor(m => Model.MailingAddressInformation.City, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div>
                    <div class="dealnet-field-caption">
                        Province
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.MailingAddressInformation.Province)
                        @Html.ValidationMessageFor(m => Model.MailingAddressInformation.Province, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div>
                    <div class="dealnet-field-caption">
                        Postal Code
                    </div>
                    <div class="dealnet-field-holder">
                        @Html.TextBoxFor(m => Model.MailingAddressInformation.PostalCode)
                        @Html.ValidationMessageFor(m => Model.MailingAddressInformation.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="row" id="saveproceed-button">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn dealnet-button dealnet-green-button">
                <p class="dealnet-green-button-text">Check Credit</p>
            </button>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="editor-modal">
        <div class="row">
            <div class="col-xs-1 col-md-4 col-lg-4 col-sm-4"></div>
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-title dealnet-large-header"></div>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn dealnet-button dealnet-green-button" onclick="saveChanges()">Save changes</button>
                            </div>
                            <div>
                                <a href="#" onclick="cancelChanges()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs1 col-md-4 col-lg-4 col-sm-4"></div>
        </div>
        
    </div>

}




<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/credit-check")
}
