@using DealnetPortal.Api.Common.Enumeration
@model int

<div id="label-steps">
    <div class="dealnet-action-link">@Resources.NewApplication</div> >
</div>
<div class="dealnet-large-header">@Resources.EquipmentInformation</div>
<div id="steps-line"></div>
<div class="row" id="steps">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="step-item">1</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step2" class="step-item">2</div>

        <div id="step3" class="step-item step-active">3</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step4" class="step-item">4</div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="step5" class="step-item">5</div>
    </div>
</div>
<div class="new-rental-credit-check">
    <div class="loader-container"><div class="loader">@Resources.LoadingWithDots</div></div>
    <p>
        @Resources.ProcessingYourApplication
    </p>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCreditCheckRedirection", new {@contractId = Model })',
                    success: function (json) {
						window.location = json;

                    },
                    error: function (xhr, status, p3) {
                        window.location = '@Url.Action("Error", "Info")';
                    }
                });
                @*window.location.href = "@Url.Action("CheckCreditStatus", new { contractId = Model })";*@
				ga('send', 'event', 'Credit Check', 'button_click', '@(User.IsInRole(UserRole.Dealer.ToString())? "Dealer" : "Broker" ) : @User.Identity.Name');
			});
    </script>
}
