@model DealnetPortal.Web.Models.DriverLicenseViewModel

@if (!Model.RecognitionErrors.Any())
{
    <p>@Model.DriverLicense.FirstName</p>
    <p>@Model.DriverLicense.LastName</p>
    <p>@Model.DriverLicense.PostalCode</p>
    <p>@Model.DriverLicense.Country</p>
    <p>@Model.DriverLicense.State</p>
    <p>@Model.DriverLicense.City</p>
    <p>@Model.DriverLicense.Street</p>        
}
else
{
    <ul>
        @foreach (var error in Model.RecognitionErrors)
        {
            <li>@error</li>
        }
    </ul>
}
