@using DealnetPortal.Api.Models.Contract
@model List<DealnetPortal.Web.Models.Dealer.OwnerViewModel>

@{

    var provinces = ViewBag.ProvinceTaxRates as IList<ProvinceTaxRateDTO>;
}

<div class="hidden">
    <div id="template">
        <div id="owner-container">
        <div class="dealnet-middle-header">
            <span>Additional owner information</span>
            <span class="additional-remove" id="owner-remove">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].FirstName, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].FirstName, null, new {@class = "form-control dealnet-input", id = "owner1-firstname"})
                        @Html.ValidationMessageFor(m => m[0].FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].LastName, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].LastName, null, new {@class = "form-control dealnet-input", id = "owner1-lastname"})
                        @Html.ValidationMessageFor(m => m[0].LastName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].BirthDate, new {@for = "owner1-birthdate", @class = "mandatory-field"})
                    <div class="control-group date-group">
                        @Html.TextBoxFor(m => m[0].BirthDate, @"{0:MM'/'dd'/'yyyy}", new {@class = "form-control dealnet-input check-age", id = "owner1-birthdate", placeholder = Resources.DateFormat, data_val_date = ""})
                        @Html.ValidationMessageFor(m => m[0].BirthDate, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].HomePhone)
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].HomePhone, null, new {@class = "form-control dealnet-input", id = "owner1-homephone"})
                        @Html.ValidationMessageFor(m => m[0].HomePhone, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].CellPhone, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].CellPhone, null, new {@class = "form-control dealnet-input", id = "owner1-cellphone"})
                        @Html.ValidationMessageFor(m => m[0].CellPhone, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].EmailAddress, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].EmailAddress, null, new {@class = "form-control dealnet-input", id = "owner1-email"})
                        @Html.ValidationMessageFor(m => m[0].EmailAddress, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Address</h4>
        <div class="row address-container">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].AddressInformation.Street, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].AddressInformation.Street, new {@class = "form-control dealnet-input", id = "owner1-street"})
                        @Html.ValidationMessageFor(m => m[0].AddressInformation.Street, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].AddressInformation.UnitNumber)
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].AddressInformation.UnitNumber, new {@class = "form-control dealnet-input", id = "owner1-unit"})
                        @Html.ValidationMessageFor(m => m[0].AddressInformation.UnitNumber, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].AddressInformation.City, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].AddressInformation.City, new {@class = "form-control dealnet-input", id = "owner1-city"})
                        @Html.ValidationMessageFor(m => m[0].AddressInformation.City, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].AddressInformation.Province, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.DropDownListFor(m => m[0].AddressInformation.Province, (provinces).Select(p => new SelectListItem {Value = p.Province, Text = p.Province}), new {@class = "form-control", id = "owner1-province"})
                        @Html.ValidationMessageFor(m => m[0].AddressInformation.Province, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].AddressInformation.PostalCode, new {@class = "mandatory-field"})
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].AddressInformation.PostalCode, new {@class = "form-control dealnet-input", id = "owner1-postalcode"})
                        @Html.ValidationMessageFor(m => m[0].AddressInformation.PostalCode, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs hidden-sm">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use>
                            </svg>
                            <span>@Resources.ClearAddress</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Ownership</h4>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m[0].PercentOwnership, new {@class = "mandatory-field"})
                        <div class="control-group">
                            @Html.TextBoxFor(m => m[0].PercentOwnership, null, new {@class = "form-control dealnet-input", id = "owner1-percentage"})
                            @Html.ValidationMessageFor(m => m[0].PercentOwnership, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
