<div class="panel customer-loan-form-panel panel-collapsed" id="client-consent-section">
    <div class="panel-heading">
        <span class="panel-step">5</span>
        <h3 class="panel-title dealnet-middle-header">@Resources.ClientConsent</h3>
        <span class="arrow">
            <i class="glyphicon"></i>
        </span>
        <span class="passed-step-icon">
            <svg aria-hidden="true" class="icon icon-checked">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use>
            </svg>
        </span>
    </div>
    <div class="panel-body">
        <div class="consents-checkbox-hold">
            <div class="form-group checkbox-hold">
                <label for="creditAgreement" class="align-middle custom-checkbox">
                    <input type="checkbox" class="dealnet-checkbox" id="creditAgreement" name="creditAgreement"/>
                    <span class="checkbox-icon">
                        <svg aria-hidden="true" class="icon icon-checked">
                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use>
                        </svg>
                    </span>
                    <span class="mandatory-field">@Resources.AcknowledgeAndAgreementObtainCreditReport</span>
                </label>
                <div class="consents-links">
                    <a href="" class="dealnet-info-link j-personal-data-used-modal">@Resources.HowIsMyPersonalDataUsed</a>
                    @Html.ActionLink(Resources.PrivacyPolicy, "PrivacyPolicy", "Info", null, new {@class = "dealnet-info-link", target = "_blank"})
                </div>
            </div>
            <div class="form-group checkbox-hold">
                <label for="contactAgreement" class="align-middle custom-checkbox">
                    <input type="checkbox" class="dealnet-checkbox" id="contactAgreement" name="contactAgreement"/>
                    <span class="checkbox-icon">
                        <svg aria-hidden="true" class="icon icon-checked">
                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use>
                        </svg>
                    </span>
                    <span>@Resources.ConsentToReceiveCommercialElectronicMessages | <a target="_blank" href="http://ecohomefinancial.com/" class="link-color-inherit">www.ecohomefinancial.com</a>.</span>
                </label>
            </div>
        </div>
        <div class="save-and-resume-hold">
            <a class="save-and-resume dealnet-info-link">
            <span class="icon-hold">
                <svg aria-hidden="true" class="icon icon-save">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-save")"></use>
                </svg>
            </span>
                <span>@Resources.SaveEntireAppAndResumeLater</span>
            </a>
        </div>
    </div>
</div>