@using DealnetPortal.Web.Models.Enumeration;
@model DealnetPortal.Web.Models.Dealer.DealerOnboardingViewModel
@{
    var rm = DealnetPortal.Api.Resources.Resources.ResourceManager;
}

<div class="panel customer-loan-form-panel active-panel" id="company-panel">
    <div class="panel-heading">
        <span class="panel-step">1</span>
        <h3 class="panel-title dealnet-middle-header">@Resources.CompanyInformation</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.FullLegalName, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.FullLegalName, new { @class = "form-control dealnet-input", id = "full-legal-name" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.FullLegalName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.OperatingName, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.OperatingName, new { @class = "form-control dealnet-input", id = "operating-name" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.OperatingName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">@Resources.Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.Phone, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.Phone, new { @class = "form-control dealnet-input", id = "company-phone" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.EmailAddress, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.EmailAddress, new { @class = "form-control dealnet-input", id = "company-email-address" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.Website)
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.Website, new { @class = "form-control dealnet-input", placeholder = "www.websitename.com", id = "company-website", data_rule_validurl = "true" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.Website, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">@Resources.Address</h4>
        <div class="row address-container">
            <div class="col-md-6 col-sm-9">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.CompanyAddress.Street, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.CompanyAddress.Street, new { id = "company-street", @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.CompanyAddress.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.CompanyAddress.UnitNumber)
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.CompanyAddress.UnitNumber, new { id = "company-unit", @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.CompanyAddress.UnitNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.CompanyAddress.City, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.CompanyAddress.City, new { id = "company-city", @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.CompanyAddress.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.CompanyAddress.Province, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.DropDownListFor(m => m.CompanyInfo.CompanyAddress.Province,
                       (Model.DictionariesData.ProvinceTaxRates).Select(p => new SelectListItem
                       {
                           Value = p.Province,
                           Text = p.Province,
                           Selected = Model.CompanyInfo.CompanyAddress.Province == p.Province
                       }),
                       "",
                       new { id = "company-province", @class = "form-control  dealnet-input" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.CompanyAddress.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.CompanyAddress.PostalCode, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CompanyInfo.CompanyAddress.PostalCode, new { id = "company-postal", @class = "form-control dealnet-input postal-code" })
                        @Html.ValidationMessageFor(m => m.CompanyInfo.CompanyAddress.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use>
                            </svg>
                            <span>@Resources.ClearAddress</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">@Resources.Other</h4>
        <div class="row label-row hidden-xs">
            <div class="col-md-2 col-sm-3">
                @Html.LabelFor(m => m.CompanyInfo.BusinessType, new { @class = "mandatory-field" })
            </div>
            <div class="col-md-2 col-sm-3">
                @Html.LabelFor(m => m.CompanyInfo.YearsInBusiness, new { @class = "mandatory-field" })
            </div>
            <div class="col-md-2 col-sm-3">
                @Html.LabelFor(m => m.CompanyInfo.NumberOfInstallers)
            </div>
            <div class="col-md-2 col-sm-3">
                @Html.LabelFor(m => m.CompanyInfo.NumberOfSales)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.BusinessType, new { @class = "mandatory-field visible-xs" })
                    <div class="control-group">
                        <select class="form-control @(Model.CompanyInfo.BusinessType.HasValue ? "" : "no-value")" data-val="true" data-val-required="@Resources.ThisFieldIsRequired" id="company-type" name="@Html.NameFor(m=>m.CompanyInfo.BusinessType)">
                            <option value="">-non sélectionné-</option>
                            <option value="@((int)BusinessType.SoleProp)" @(BusinessType.SoleProp == Model.CompanyInfo.BusinessType ? "selected" : "")>@Resources.SoleProp</option>
                            <option value="@((int)BusinessType.Partnership)" @(BusinessType.Partnership == Model.CompanyInfo.BusinessType ? "selected" : "")>@Resources.Partnership</option>
                            <option value="@((int)BusinessType.Incorporated)" @(BusinessType.Incorporated == Model.CompanyInfo.BusinessType ? "selected" : "")>@Resources.Incorporated</option>
                            <option value="@((int)BusinessType.Limited)" @(BusinessType.Limited == Model.CompanyInfo.BusinessType ? "selected" : "")>@Resources.Limited</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.CompanyInfo.BusinessType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.YearsInBusiness, new { @class = "mandatory-field visible-xs" })
                    <div class="control-group">
                        <select class="form-control @(Model.CompanyInfo.YearsInBusiness.HasValue ? "" : "no-value")" data-val="true" data-val-required="@Resources.ThisFieldIsRequired" id="years-in-business" name="@Html.NameFor(m=>m.CompanyInfo.YearsInBusiness)">
                            <option value="">-non sélectionné-</option>
                            <option value="@((int)YearsInBusiness.LessThanOne)" @(YearsInBusiness.LessThanOne == Model.CompanyInfo.YearsInBusiness ? "selected" : "")>@Resources.LessThanOneYear</option>
                            <option value="@((int)YearsInBusiness.OneToTwo)" @(YearsInBusiness.OneToTwo == Model.CompanyInfo.YearsInBusiness ? "selected" : "")>@Resources.OneToTwoYears</option>
                            <option value="@((int)YearsInBusiness.MoreThanTwo)" @(YearsInBusiness.MoreThanTwo == Model.CompanyInfo.YearsInBusiness ? "selected" : "")>@Resources.MoreThanTwoYears</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.CompanyInfo.YearsInBusiness, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.NumberOfInstallers, new { @class = "visible-xs" })
                    <div class="control-group">
                        <select class="form-control @(Model.CompanyInfo.NumberOfInstallers.HasValue ? "" : "no-value")" id="installers" name="@Html.NameFor(m=>m.CompanyInfo.NumberOfInstallers)">
                            <option value="">-non sélectionné-</option>
                            <option value="@((int)NumberOfPeople.Zero)" @(NumberOfPeople.Zero == Model.CompanyInfo.NumberOfInstallers ? "selected" : "")>0</option>
                            <option value="@((int)NumberOfPeople.OneToTwo)" @(NumberOfPeople.OneToTwo == Model.CompanyInfo.NumberOfInstallers ? "selected" : "")>1-2</option>
                            <option value="@((int)NumberOfPeople.ThreeToFive)" @(NumberOfPeople.ThreeToFive == Model.CompanyInfo.NumberOfInstallers ? "selected" : "")>3-5</option>
                            <option value="@((int)NumberOfPeople.SixToNine)" @(NumberOfPeople.SixToNine == Model.CompanyInfo.NumberOfInstallers ? "selected" : "")>6-9</option>
                            <option value="@((int)NumberOfPeople.MoreThanTen)" @(NumberOfPeople.MoreThanTen == Model.CompanyInfo.NumberOfInstallers ? "selected" : "")>@Resources.TenOrMore</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.CompanyInfo.NumberOfInstallers, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyInfo.NumberOfInstallers, new { @class = "visible-xs" })
                    <div class="control-group">
                        <select class="form-control @(Model.CompanyInfo.NumberOfSales.HasValue ? "" : "no-value")" id="sales" name="@Html.NameFor(m=>m.CompanyInfo.NumberOfSales)">
                            <option value="">-non sélectionné-</option>
                            <option value="@((int)NumberOfPeople.Zero)" @(NumberOfPeople.Zero == Model.CompanyInfo.NumberOfSales ? "selected" : "")>0</option>
                            <option value="@((int)NumberOfPeople.OneToTwo)" @(NumberOfPeople.OneToTwo == Model.CompanyInfo.NumberOfSales ? "selected" : "")>1-2</option>
                            <option value="@((int)NumberOfPeople.ThreeToFive)" @(NumberOfPeople.ThreeToFive == Model.CompanyInfo.NumberOfSales ? "selected" : "")>3-5</option>
                            <option value="@((int)NumberOfPeople.SixToNine)" @(NumberOfPeople.SixToNine == Model.CompanyInfo.NumberOfSales ? "selected" : "")>6-9</option>
                            <option value="@((int)NumberOfPeople.MoreThanTen)" @(NumberOfPeople.MoreThanTen == Model.CompanyInfo.NumberOfSales ? "selected" : "")>@Resources.TenOrMore</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.CompanyInfo.NumberOfSales, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row label-row">
            <div class="col-md-4 col-sm-6">
                <label for="" class="mandatory-field">@Resources.WhatProvincesDoBusiness</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="dealnet-label hidden-xs">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <div class="control-group">
                        @Html.DropDownList("province-select",
                       (Model.DictionariesData.ProvinceTaxRates).Select(p => new SelectListItem
                       {
                           Value = p.Province,
                           Text = p.Province
                       }),
                       Resources.ChooseProvinces,
                       new { @class = "form-control no-value" })
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="form-group">
                    <ul id="province-list" class="customer-needs-list tags-list"></ul>
                </div>
            </div>
        </div>
        <div id="work-province-error" class="well danger-well hidden">
            <svg aria-hidden="true" class="icon icon-error">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use>
            </svg>
            @Resources.SelectOneProvince
        </div>
        <div class="save-and-resume-hold">
            <a class="save-and-resume dealnet-info-link">
                <span class="icon-hold">
                    <svg aria-hidden="true" class="icon icon-save">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-save")"></use>
                    </svg>
                </span>
                <span>@Resources.SaveEntireAppAndResumeLater</span>
            </a>
        </div>
    </div>
</div>
