@using DealnetPortal.Api.Models.Contract    
@model DealnetPortal.Web.Models.Dealer.CompanyInfoViewModel

@{
    var provinces = ViewBag.ProvinceTaxRates as IList<ProvinceTaxRateDTO>;
}

<div class="panel customer-loan-form-panel active-panel">
    <div class="panel-heading">
        <span class="panel-step">1</span>
        <h3 class="panel-title dealnet-middle-header">@Resources.CompanyInformation</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.FullLegalName, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.FullLegalName, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.FullLegalName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OperatingName, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.OperatingName, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.OperatingName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">@Resources.Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Website, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.Website, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("OnBoarding/_AddressInfo", Model.AddressInfo)
        <h4 class="heading-bordered">@Resources.Other</h4>
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.BusinessType, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.EnumDropDownListFor(m => m.BusinessType, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BusinessType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.YearsInBusiness, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.EnumDropDownListFor(m => m.YearsInBusiness, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.YearsInBusiness, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberOfInstallers)
                    <div class="control-group">
                        @Html.EnumDropDownListFor(m => m.NumberOfInstallers, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumberOfInstallers, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberOfSales)
                    <div class="control-group">
                        @Html.EnumDropDownListFor(m => m.NumberOfSales, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumberOfSales, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">@Resources.WhatProvincesDoBusiness</label>
                    <div class="control-group">
                        @Html.DropDownList("SelectedProvinces", (provinces).Select(p=>new SelectListItem { Value=p.Province, Text=p.Province }), Resources.ChooseProvince, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="dealnet-label">&nbsp;</div>
                <ul class="customer-needs-list tags-list">
                    @for (var i = 0; i < Model.Provinces.Count; i++)
                    {
                        <li>
                            @Html.HiddenFor(m => m.Provinces[i]) @Model.Provinces[i]
                            <span class="icon-remove">
                                <svg aria-hidden="true" class="icon icon-remove-cross">
                                    <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                                </svg>
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>