<div class="panel customer-loan-form-panel active-panel">
    <div class="panel-heading">
        <span class="panel-step">1</span>
        <h3 class="panel-title dealnet-middle-header">Company information</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="full-legal-name" class="mandatory-field">Full legal name</label>
                    <div class="control-group"><input type="text" id="full-legal-name"
                                                      class="form-control dealnet-input" value="Improve Home Service"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="operating-name" class="mandatory-field">Operating name</label>
                    <div class="control-group"><input type="text" id="operating-name"
                                                      class="form-control dealnet-input" value="IHService"></div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="phone-number" class="mandatory-field">Phone Number</label>
                    <div class="control-group">
                        <input type="text" id="phone-number" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="email-address" class="mandatory-field">Email Address</label>
                    <div class="control-group">
                        <input type="text" id="email-address" class="form-control dealnet-input" value="IHService@gmail.com">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <label for="website-url" class="mandatory-field">Website</label>
                    <div class="control-group">
                        <input type="text" id="website-url" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Address</h4>
        <div class="row address-container">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="street" class="mandatory-field">@Resources.Street</label>
                    <div class="control-group">
                        <input type="text" id="street" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label for="unit">@Resources.UnitNumber</label>
                    <div class="control-group">
                        <input type="text" id="unit" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="city" class="mandatory-field">@Resources.City</label>
                    <div class="control-group">
                        <input type="text" id="city" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                <div class="form-group">
                    <label for="province" class="mandatory-field">@Resources.Province</label>
                    <div class="control-group">
                        <select class="form-control" id="province">
                            <option value="">Province</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="postal-code" class="mandatory-field">@Resources.PostalCode</label>
                    <div class="control-group">
                        <input type="text" id="postal-code" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs hidden-sm">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-remove"></use></svg><span>Clear Address</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Other</h4>
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Type of business</label>
                    <div class="control-group"><select name="" id="" class="form-control">
                        <option value=""></option>
                    </select></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Years in business</label>
                    <div class="control-group"><select name="" id="" class="form-control">
                        <option value=""></option>
                    </select></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="">Number of installers</label>
                    <div class="control-group"><select name="" id="" class="form-control">
                        <option value=""></option>
                    </select></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="">Number of sales people</label>
                    <div class="control-group"><select name="" id="" class="form-control">
                        <option value=""></option>
                    </select></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">What provinces can you do business in?</label>
                    <div class="control-group">
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <ul class="customer-needs-list tags-list">
                    <div class="dealnet-label">&nbsp;</div>
                    <li>New Brunswick<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                    <li>Nova Scotia<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>