@model List<DealnetPortal.Web.Models.Dealer.OwnerViewModel>

<div class="panel customer-loan-form-panel active-panel">
    <div class="panel-heading">
        <span class="panel-step">2</span>
        <h3 class="panel-title dealnet-middle-header">Principal/owner information</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].FirstName, new {@class= "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].FirstName, null, new { @class = "form-control dealnet-input", id = "owner1-firstname" })
                        @Html.ValidationMessageFor(m => m[0].FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].LastName, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].LastName, null, new { @class = "form-control dealnet-input", id = "owner1-lastname" })
                        @Html.ValidationMessageFor(m => m[0].LastName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].BirthDate, new {@for = "owner1-birthdate", @class = "mandatory-field"})
                    <div class="control-group date-group">
                        @Html.TextBoxFor(m => m[0].BirthDate, @"{0:MM'/'dd'/'yyyy}", new {@class = "form-control dealnet-input check-age", id = "owner1-birthdate", placeholder = Resources.DateFormat, data_val_date = ""})
                        @Html.ValidationMessageFor(m => m[0].BirthDate, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].HomePhone, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].HomePhone, null, new { @class = "form-control dealnet-input", id = "owner1-homephone" })
                        @Html.ValidationMessageFor(m => m[0].HomePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].CellPhone, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].CellPhone, null, new { @class = "form-control dealnet-input", id = "owner1-cellphone" })
                        @Html.ValidationMessageFor(m => m[0].CellPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].EmailAddress, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].EmailAddress, null, new { @class = "form-control dealnet-input", id = "owner1-email" })
                        @Html.ValidationMessageFor(m => m[0].EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("OnBoarding/_AddressInfo", Model[0].AddressInformation)
        <h4 class="heading-bordered">Ownership</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m[0].PercentOwnership, new { @class = "mandatory-field" })
                    <div class="control-group">
                        @Html.TextBoxFor(m => m[0].PercentOwnership, null, new { @class = "form-control dealnet-input" })
                        @Html.ValidationMessageFor(m => m[0].PercentOwnership, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-8 hidden">
                <div class="form-group">
                    <div class="label hidden-xs">&nbsp;</div>
                    <div class="control-group">
                        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                        In order to submit application please provide information about owners whose ownership is in total over 50%.
                    </div>
                </div>
            </div>
        </div>
        @*<div class="action-link-holder flex-centered-text">
            <a class="action-link mandatory-field">
                <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                <span>Add additional owner</span>
            </a>
            <div class="well danger-well">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                In order to submit application you need to add additional owner
            </div>
        </div>*@
    </div>
</div>
