@model List<DealnetPortal.Web.Models.Dealer.OwnerViewModel>

<div class="panel customer-loan-form-panel panel-collapsed">
    <div class="panel-heading">
        <span class="panel-step">2</span>
        <h3 class="panel-title dealnet-middle-header">Principal/owner information</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">@Resources.FirstName</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" value="Improve Home Service">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">@Resources.LastName</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input" value="IHService">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">@Resources.BirthDate</label>
                    <div class="control-group date-group">
                        <input type="text" class="form-control dealnet-input date-input" placeholder="mm/dd/yyyy">
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Contacts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Home Phone</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Mobile Phone</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Email Address</label>
                    <div class="control-group date-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Address</h4>
        <div class="row address-container">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="street" class="mandatory-field">@Resources.Street</label>
                    <div class="control-group">
                        <input type="text" id="street" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label for="unit">@Resources.UnitNumber</label>
                    <div class="control-group">
                        <input type="text" id="unit" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="city" class="mandatory-field">@Resources.City</label>
                    <div class="control-group">
                        <input type="text" id="city" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                <div class="form-group">
                    <label for="province" class="mandatory-field">@Resources.Province</label>
                    <div class="control-group">
                        <select class="form-control" id="province">
                            <option value="">Province</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="postal-code" class="mandatory-field">@Resources.PostalCode</label>
                    <div class="control-group">
                        <input type="text" id="postal-code" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs hidden-sm">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-remove"></use></svg><span>Clear Address</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="heading-bordered">Ownership</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="" class="mandatory-field">Percentage of ownership</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-sm-8 hidden">
                <div class="form-group">
                    <div class="label hidden-xs">&nbsp;</div>
                    <div class="control-group">
                        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                        In order to submit application please provide information about owners whose ownership is in total over 50%.
                    </div>
                </div>
            </div>
        </div>
        @*<div class="action-link-holder flex-centered-text">
            <a class="action-link mandatory-field">
                <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                <span>Add additional owner</span>
            </a>
            <div class="well danger-well">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                In order to submit application you need to add additional owner
            </div>
        </div>*@
        <a class="save-and-resume pull-right">
            <svg aria-hidden="true" class="icon icon-save">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-save")"></use>
            </svg>
            <span>@Resources.SaveAndResumeLater</span>
        </a>
    </div>
</div>
