<div class="panel customer-loan-form-panel panel-collapsed">
    <div class="panel-heading">
        <span class="panel-step">4</span>
        <h3 class="panel-title dealnet-middle-header">Required documents</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="onboard-required-documents">
            <div class="onboard-uploaded-license">
                <div class="onboard-license-item uploaded-document">
                    <span class="checkbox-icon">
                        <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                    </span>
                    <div class="align-middle document-label">
                        <h4 class="onboard-license-heading">Business void cheque  — Account to receive Ecohome funding</h4>
                        <div class="placeholder-text">Please upload file in format PDF, Word, PNG, JPG</div>
                        <ul class="uploaded-docs-list">
                            <li>
                                <span class="uploaded-docs-title">
                                    Void_cheque.pdf
                                    <a href="" class="remove-link remove-docs">
                                        <svg aria-hidden="true" class="icon icon-remove-cross">
                                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                                        </svg>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span class="uploaded-docs-title">
                                    Void_cheque.png
                                    <a href="" class="remove-link remove-docs">
                                        <svg aria-hidden="true" class="icon icon-remove-cross">
                                            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                                        </svg>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="action-holder">
                        <div class="file-upload btn dealnet-button dealnet-link-button">
                            <span>Upload another file</span>
                            <input type="file" class="upload" />
                        </div>
                    </div>
                </div>
                <div class="onboard-license-item">
                    <div class="align-middle document-label">
                        <span class="checkbox-icon">
                            <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                        </span>
                        <h4 class="onboard-license-heading">Proof of insurance</h4>
                        <div>Ecohome Financial Inc. must be listed as additional insured</div>
                        <div class="placeholder-text">Please upload file in format PDF, Word, PNG, JPG</div>
                    </div>
                    <div class="action-holder">
                        <div class="file-upload btn dealnet-button dealnet-link-button">
                            <span>Upload</span>
                            <input type="file" class="upload" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="onboard-standart-license">
                <h4 class="onboard-required-documents-heading text-center">Provincial Safety Standard Licensing</h4>
                <hr>
                <div class="onboard-standart-doc-item">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <div class="dealnet-label hidden-sm hidden-xs">&nbsp;</div>
                                <div class="onboard-standart-license-title">Apprenticeship Manitoba</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="" class="mandatory-field">Registration Number</label>
                                <div class="control-group">
                                    <input type="text" value="1234567891234567" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label for="" class="mandatory-field">Expiry Date</label>
                                <div class="control-group date-group">
                                    <input type="text" class="form-control dealnet-input control-disabled" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <div class="dealnet-label hidden-xs">&nbsp;</div>
                                <div class="control-group flex-centered-text">
                                    <label class="align-middle custom-checkbox">
                                        <input type="checkbox" class="dealnet-checkbox" checked/>
                                    <span class="checkbox-icon">
                                        <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                                    </span>
                                        <span>No expiry</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="onboard-standart-doc-item">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <div class="dealnet-label hidden-sm hidden-xs">&nbsp;</div>
                                <div class="onboard-standart-license-title">Ontario Colleges of Trades</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                           <div class="form-group">
                               <label for="" class="mandatory-field">Registration Number</label>
                               <div class="control-group">
                                   <input type="text" value="1234567891234567" class="form-control">
                               </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label for="" class="mandatory-field">Expiry Date</label>
                                <div class="control-group date-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <div class="dealnet-label hidden-xs">&nbsp;</div>
                                <div class="control-group flex-centered-text">
                                    <label class="align-middle custom-checkbox">
                                        <input type="checkbox" class="dealnet-checkbox"/>
                                    <span class="checkbox-icon">
                                        <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                        <span>No expiry</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="onboard-standart-doc-item">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <div class="dealnet-label hidden-sm hidden-xs">&nbsp;</div>
                                <div class="onboard-standart-license-title">Emploi-Quebec</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                           <div class="form-group">
                               <label for="" class="mandatory-field">Registration Number</label>
                               <div class="control-group">
                                   <input type="text" value="1234567891234567" class="form-control">
                               </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label for="" class="mandatory-field">Expiry Date</label>
                                <div class="control-group date-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <div class="form-group">
                                <div class="dealnet-label hidden-xs">&nbsp;</div>
                                <div class="control-group flex-centered-text">
                                    <label class="align-middle custom-checkbox">
                                        <input type="checkbox" class="dealnet-checkbox"/>
                                    <span class="checkbox-icon">
                                        <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                        <span>No expiry</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="save-and-resume-hold">
            <a class="save-and-resume dealnet-info-link">
            <span class="icon-hold">
                <svg aria-hidden="true" class="icon icon-save">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-save")"></use>
                </svg>
            </span>
                <span>@Resources.SaveEntireAppAndResumeLater</span>
            </a>
        </div>
    </div>
</div>
