@using DealnetPortal.Api.Common.Enumeration
@model RateCardType

@{
    var deferralSelectList = ((Dictionary<RateCardType, SelectList>) ViewBag.DefferalPeriod).Where(x => x.Key == Model).SelectMany(x => x.Value);
    var amortizationSelectList = ((Dictionary<RateCardType,SelectList>)ViewBag.AmortizationTerm).Where(x => x.Key == Model).SelectMany(x => x.Value);
}
<li>
  <div class="rate-card table-mode">
    <div class="equal-height-row-1">
      <div class="rate-card-header">
        <span class="promo-label hidden" id="DeferralPromo">@Resources.Promo</span>
        <h4 class="card-title">@Resources.Deferral.ToUpper()</h4>
      </div>
    </div>
    <hr>
    <div class="equal-height-row-2">
        <div class="form-group notify-hold">
          <label for="">@Resources.LoanAmortTerm</label>
          @Html.DropDownList(Model + "Amortization", amortizationSelectList, new { @class = "form-control", id = Model + "AmortizationDropdown" })

          <a class="link-over-notify" id="DeferralNotify"
             data-content="@Resources.Month180AmortOnlyOver5000">
            <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
          </a>
        </div>
    </div>
    <div class="equal-height-row-3">
      <div class="clearfix">
        <div class="form-group">
          <label for="">@Resources.DeferralPeriod</label>
          @Html.DropDownList(Model.ToString().ToLower() + "Deferral", deferralSelectList, new { @class = "form-control", id = "DeferralPeriodDropdown" })
        </div>
      </div>
    </div>
    <div class="equal-height-row-4">
      <div class="clearfix">
        <div class="row form-group">
          &nbsp;
          <div class="col-xs-6 hidden">@Resources.YourCost</div>
          <div class="col-xs-6 text-right text-stronger hidden" id="DeferralYCostVal"></div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">@Resources.CustomerRate</div>
          <div class="col-xs-6 text-right text-stronger" id="DeferralCRate"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="">
      <div class="row form-group align-middle">
        <div class="col-xs-6">@Resources.AdminFee</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralAFee"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6 text-stronger">@Resources.MonthlyPayment</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralMPayment">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">@Resources.CostOfBorrowing</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralCBorrowing">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">@Resources.YourCost</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralYCost">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6 text-stronger">@Resources.TotalAmountFinanced</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralTAFinanced">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">@Resources.TotalAllMonthlyPayments</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralTMPayments">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">@Resources.BalanceOwingEndOfPayments</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralRBalance">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">@Resources.TotalObligation</div>
        <div class="col-xs-6 text-right text-stronger" id="DeferralTObligation">-</div>
      </div>
    </div>
    <div id="hidden-option" class="hidden">Deferral</div>
    <button class="btn dealnet-button dealnet-success-button btn-select-card">@Resources.Select</button>
  </div>
</li>
