@using DealnetPortal.Web.Common
@using DealnetPortal.Web.Infrastructure
@using DealnetPortal.Web.Models.Enumeration
@{
    ViewBag.Title = Resources.AboutUs;
}
@switch (ApplicationSettingsManager.PortalType)
{
    case PortalType.Ecohome:
    default:
        <div class="about-page">
            <div class="page-section promo-section">
                <h2 class="dealnet-large-header">@ViewBag.Title</h2>
                <!--<h3>@ViewBag.Message</h3>-->
                <p>@Resources.EcoHomeAbout1</p>
                <p>@Resources.EcoHomeAbout2</p>
                <p>@Resources.EcoHomeAbout3</p>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.ContactUs</h2>
                <ul class="contact-info-list">
                    <li class="contact-tel">
                        <a href="tel:+1-866-382-7468" class="tel" rel="nofollow"><svg aria-hidden="true" class="icon icon-phone"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-phone")"></use></svg>1-866-382-7468</a>
                    </li>
                    <li class="contact-tel"><svg aria-hidden="true" class="icon icon-fax"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-fax")"></use></svg>1-877-689-3863</li>
                    <li class="contact-email"><a href="mailto:info@ecohomefinancial.com" class="dealnet-info-link"><svg aria-hidden="true" class="icon icon-email2"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-email2")"></use></svg><span>info@ecohomefinancial.com</span></a></li>
                </ul>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.FindUs</h2>
                <div class="vcard">
                    <div class="hidden"><span class="fn org">EcoHome</span></div>
                    <div class="adr">
                        <span class="street-address">325 Milner Avenue, Suite 300,</span> <br />
                        <span class="locality">Toronto</span>, <span class="region">ON</span> <br />
                        <span class="postal-code">M1B 5N1</span>
                    </div>
                </div>
            </div>
        </div>
        break;
    case PortalType.Odi:
        <div class="about-page">
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.FindUs</h2>
                <div class="vcard">
                    <div class="hidden"><span class="fn org">One Dealer Financial</span></div>
                    <div class="adr">
                        <span class="street-address">325 Milner Ave #300</span><br />
                        <span class="locality">Toronto</span>, <span class="region">ON</span> <span class="postal-code">M1B 5N1</span>
                    </div>
                </div>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.ContactUs</h2>
                <ul class="contact-info-list">
                    <li class="contact-tel">
                        <a href="tel:+@System.Configuration.ConfigurationManager.AppSettings["DealerSupportPhone"]" class="tel">
                            @System.Configuration.ConfigurationManager.AppSettings["DealerSupportPhone"]
                        </a>
                    </li>
                    <li class="contact-email"><a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["InfoEmail"]">
                        @System.Configuration.ConfigurationManager.AppSettings["InfoEmail"]
                    </a></li>
                </ul>
            </div>
        </div>
        break;
}
