<!--
@using DealnetPortal.Web.Common
@using DealnetPortal.Web.Infrastructure
@{
    ViewBag.Title = Resources.AboutUs;
}
@switch (ApplicationSettingsManager.PortalType)
{
    case PortalType.Ecohome:
    default:
        <div class="about-page">
            <div class="page-section promo-section">
                <h2 class="dealnet-large-header">@ViewBag.Title</h2>
                &lt;!&ndash;<h3>@ViewBag.Message</h3>&ndash;&gt;
                <p>@Resources.EcoHomeAbout1</p>
                <p>@Resources.EcoHomeAbout2</p>
                <p>@Resources.EcoHomeAbout3</p>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.ContactUs</h2>
                <ul class="contact-info-list">
                    <li class="contact-tel">
                        <a href="tel:+1-866-382-7468" class="tel" rel="nofollow"><svg aria-hidden="true" class="icon icon-phone"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-phone")"></use></svg>1-866-382-7468</a>
                    </li>
                    <li class="contact-tel"><svg aria-hidden="true" class="icon icon-fax"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-fax")"></use></svg>1-877-689-3863</li>
                    <li class="contact-email"><a href="mailto:info@ecohomefinancial.com" class="dealnet-info-link"><svg aria-hidden="true" class="icon icon-email2"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-email2")"></use></svg><span>info@ecohomefinancial.com</span></a></li>
                </ul>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.FindUs</h2>
                <div class="vcard">
                    <div class="hidden"><span class="fn org">EcoHome</span></div>
                    <div class="adr">
                        <span class="street-address">325 Milner Avenue, Suite 300,</span> <br />
                        <span class="locality">Toronto</span>, <span class="region">ON</span> <br />
                        <span class="postal-code">M1B 5N1</span>
                    </div>
                </div>
            </div>
        </div>
        break;
    case PortalType.Odi:
        <div class="about-page">
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.FindUs</h2>
                <div class="vcard">
                    <div class="hidden"><span class="fn org">One Dealer Financial</span></div>
                    <div class="adr">
                        <span class="street-address">325 Milner Ave #300</span><br />
                        <span class="locality">Toronto</span>, <span class="region">ON</span> <span class="postal-code">M1B 5N1</span>
                    </div>
                </div>
            </div>
            <div class="page-section">
                <h2 class="dealnet-large-header">@Resources.ContactUs</h2>
                <ul class="contact-info-list">
                    <li class="contact-tel">
                        <a href="tel:+1-888-859-0204" class="tel" rel="nofollow"><svg aria-hidden="true" class="icon icon-phone"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-phone")"></use></svg>888-859-0204</a>
                    </li>
                    <li class="contact-email"><a href="mailto:customerservice@onedealerfinancial.com" class="dealnet-info-link"><svg aria-hidden="true" class="icon icon-email2"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-email2")"></use></svg><span>customerservice@onedealerfinancial.com</span></a></li>
                </ul>
            </div>
        </div>
        break;
}
-->

<div id="label-steps">
    <div class="dealnet-action-link">Shareable Link</div> >
</div>
<div class="dealnet-large-header main-heading">Shareable Link</div>

<div class="shareable-link-page">
    <div class="get-link-section">
        <div class="form-group">
            <div>
                <label for="enLink" class="dealnet-field-caption">Form in English</label>
                <label class="checkbox-toggle">
                    <input type="checkbox" checked>
                    <div class="slider"></div>
                </label>
            </div>
            <div class="">
                <div class="control-group">
                    <input type="url" id="enLink" class="form-control dealnet-input" readonly="readonly" value="https://lorem_ipsum/lorem/Ipsum_sit_amed_wireframe_En">
                </div>
                <button type="button" class="btn dealnet-success-button small-btn">Copy</button>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="frLink" class="dealnet-field-caption">Form in English</label>
                <label class="checkbox-toggle">
                    <input type="checkbox">
                    <div class="slider"></div>
                </label>
            </div>
            <div class="">
                <div class="control-group">
                    <input type="url" id="frLink" class="form-control dealnet-input" readonly="readonly" value="https://lorem_ipsum/lorem/Ipsum_sit_amed_wireframe_Fr">
                </div>
                <button type="button" class="btn dealnet-success-button small-btn">Copy</button>
            </div>
        </div>
    </div>
    <div class="equipment-section">
        <div class="sub-heading">Equipment/service</div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#equipment-en" aria-controls="equipment-en" role="tab" data-toggle="tab">English</a></li>
            <li role="presentation"><a href="#equipment-fr" aria-controls="equipment-fr" role="tab" data-toggle="tab">French</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="equipment-en">
                <div class="form-group">
                    <label for="enEquipmentTags" class="dealnet-field-caption">Form in English</label>
                    <div class="">
                        <div class="control-group">
                            <input type="url" id="enEquipmentTags" class="form-control dealnet-input"  value="" placeholder="Type your equipment/service">
                        </div>
                        <button type="button" class="btn dealnet-success-button small-btn">Add</button>
                    </div>
                </div>
                <ul class="equipment-linked-tags tags-list">
                    <li>Air Conditioner <span class="glyphicon glyphicon-remove"></span></li>
                    <li>Furnace <span class="glyphicon glyphicon-remove"></span></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="equipment-fr">
                <div class="form-group">
                    <label for="frEquipmentTags" class="dealnet-field-caption">Form in French</label>
                    <div class="">
                        <div class="control-group">
                            <input type="url" id="frEquipmentTags" class="form-control dealnet-input"  value="" placeholder="Type your equipment/service">
                        </div>
                        <button type="button" class="btn dealnet-success-button small-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row save-proceed-btn-hold">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <button class="btn dealnet-button dealnet-success-button">
                Save
            </button>
        </div>
    </div>
</div>