@{
    ViewBag.Title = "Home Page";
}

<div class="dealnet-home-page">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <a class="dealnet-page-button new-rental" href="@Url.Action("BasicInfo", "NewRental")">
                <span class="dealnet-button-image dealnet-image-newrental-btn"></span><span>New rental</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <a class="dealnet-page-button" href="@Url.Action("MyDeals", "Stub")">
                <span class="dealnet-button-image dealnet-image-mydeals-btn" ></span><span>My deals</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <a class="dealnet-page-button" href="@Url.Action("Reports", "Stub")">
                <svg aria-hidden="true" class="icon-svg icon-reports-big"><use xlink:href="#icon-reports-big"></use></svg><span>Reports</span>
            </a>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <span class="dealnet-caption">My Work Items</span>
        </div>
    </div>-->

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <table id="work-items-table" class="display responsive">
                <thead>
                    <tr>
                        <th class="all">Contract</th>
                        <th class="min-phone-l">Customer</th>
                        <th class="min-tablet">Status</th>
                        <th class="min-tablet">Action Req.</th>
                        <th class="min-desktop">Email</th>
                        <th class="min-desktop">Phone</th>
                        <th class="min-desktop">Date</th>
                        <th class="all"></th>
                    </tr>
                </thead>                
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <span class="dealnet-caption">Deal Flow Overview</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="dealnet-chart-switch-button-hold">
                <div class="dealnet-chart-switch-button dealnet-chart-switch-button-selected" data-type="Week">Week</div>
                <div class="dealnet-chart-switch-button" data-type="Month">Month</div>
                <div class="dealnet-chart-switch-button" data-type="Year">Year</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <canvas id="data-flow-overview"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript">
    var chartUrl = '@Url.Action("GetDealFlowOverview", "Home")';
    var itemsUrl = '@Url.Action("GetWorkItems", "Home")';
    var editItemUrl = '@Url.Action("BasicInfo", "NewRental")';
</script>

