@using System.Configuration;

@{
    ViewBag.Title = Resources.HomePage;
}



<div id="home-body">
    <div class="margin-block">
        <div class="row">
            @*<div class="new-notification-wp">
                    <div class="new-notification">
                        <span class="new-notification__left-icon-block">
                            <i class="notification-alert-ico"></i>
                        </span>
                        <span class="new-notification__message">Due to planned maintenance, our site will be unavailable starting from 16/03/2017 at 10 PM EDT until 17/03/2017 at 5 AM EDT.</span>
                        <i class="close-white-ico"></i>
                    </div>
                </div>*@
            @if(ConfigurationManager.AppSettings["SwitchPopUpOnOff"] == "true")
            {
                @Html.Action("GetMaintanenceBanner")
            }

            <div class="new-notification-wp">
                <div class="new-notification-blank">
                    <span class="new-notification-blank__text">
                        On this page you can see the most recent contracts those were created and also leads, filled contracts from customer link and your drafts. Here we will post important information, e.g. notification about planned maintenance and some special offer for you.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- ko with: table-->
    <div class="margin-block">
        <div class="row">
            <div class="filters">
                <div class="filters-head">
                    <div class="filters-head__title">@Resources.MyDeals</div>
                    <div class="filters-head__learn-more">
                        <i class="lamp-ico"></i>
                        <a>@Resources.LearnMoreAboutThisPage</a>
                    </div>
                    <div class="filters-head__clear-btn new-btn-grey">
                        <span>Clear</span>
                    </div>
                    <div class="filters-head__save-btn">
                        <div class="new-btn-green">
                            <span>Save</span>
                        </div>
                        <span class="save-btn-status">
                            <i class="checked-ico"></i>(For next time)
                        </span>
                    </div>
                    <div class="filters-head__divider"></div>
                    <div class="filters-head__filter-btn new-btn-red-filter">
                        <i class="filter-ico filter-ico--red"></i>
                        <span>Filters</span>
                    </div>
                    <div class="filters-head__sort-btn new-sort-btn-red">
                        <i class="sort-button-red-ico"></i>
                        <span>Sort</span>
                    </div>
                </div>
                <div class="filters-advanced homepage-mod">
                    <div class="filters-advanced__type new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">Deal type</label>
                            <select name="project-type" id="project-type" class="custom-select"></select>
                        </div>
                    </div>
                    <div class="filters-advanced__status new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">Deal status</label>
                            <select name="project-type" id="project-type" class="custom-select"
                                    data-bind="options:statusOptions, value:status"></select>
                        </div>
                    </div>

                    <div class="filters-advanced__date-from new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" required data-bind="value:dateFrom">
                            <label>Date from</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__date-to new-input-group">
                        <div class="custom-text-input-group icon">
                            <input type="text" required data-bind="value:dateTo">
                            <label>Date to</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__created-by new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">Type of project</label>
                            <select name="project-type" id="project-type" class="custom-select" data-bind="options:equipmentOptions, value: equipment">
                                <option value="">Air conditioner</option>
                                <option value="">Air filtration</option>
                                <option value="">Air handler</option>
                            </select>
                        </div>
                    </div>

                    <div class="filters-advanced__sales-rep new-input-group">
                        <div class="custom-select-wrap">
                            <label for="project-type">Sales rep</label>
                            <select name="project-type" id="project-type" class="custom-select" data-bind="options:salesRepOptions, salesRep">
                                <option value="">Air conditioner</option>
                                <option value="">Air filtration</option>
                                <option value="">Air handler</option>
                            </select>
                        </div>
                    </div>

                    <div class="filters-advanced__filters-cloud">
                        <div class="filters-advanced__contract-number">Contract number - ascending<i class="cross-ico"></i></div>
                        <div class="filters-advanced__deal-status">Deal status - <i class="info-ico info-ico--red"></i> to <i class="info-ico info-ico--grey"></i> <i class="cross-ico"></i></div>
                        <div class="filters-advanced__e-sign">E-sign status - <i class="sign-ico sign-ico--red"></i> to <i class="sign-ico sign-ico--grey"></i> <i class="cross-ico"></i></div>
                        <div class="filters-advanced__applicant-name">Applicant name from Z to A<i class="cross-ico"></i></div>
                        <div class="filters-advanced__last-activity">Last activity — latest<i class="cross-ico"></i></div>
                        <div class="filters-advanced__days-left">Days left from ... to 1<i class="cross-ico"></i></div>
                    </div>

                    <div class="filters-advanced__clear-btn new-btn-grey"><span>Clear</span></div>
                    <div class="filters-advanced__apply-btn new-btn-solid-red"><span>Apply</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-block">
        <div class="row">

            <div class="main-table">
                <div class="main-table__block main-table__block--header">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__cell checkbox-cell">
                            <label class="customized-checkbox-icon">
                                <input id="checkBox" type="checkbox" />
                                <span class="customized-checkbox-icon__image"></span>
                            </label>
                        </div>
                        <div class="main-table__block__row__cell contract-number">
                            <span>Contract number</span>
                            <span class="filter-ico filter-ico--asc">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell deal-status">
                            <span class="icon"><i class="info-ico info-ico--green"></i></span>
                            <span>Deal status</span>
                        </div>
                        <div class="main-table__block__row__cell e-sign">
                            <span>E-sign</span>
                        </div>
                        <div class="main-table__block__row__cell applicant-name">
                            <span>Applicant name</span>
                            <span class="filter-ico filter-ico--desc">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell last-activity">
                            <span>Last activity</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell days-left">
                            <span>Days left</span>
                            <span class="filter-ico filter-ico--asc">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell loan-amount">
                            <span>Loan amount</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell program-option">
                            <span>Program option</span>
                        </div>
                        <div class="main-table__block__row__cell term">
                            <span>Term</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell amort">
                            <span>Amort</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell payment-amount">
                            <span>Payment</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell funded-amount">
                            <span>Funded amount</span>
                            <span class="filter-ico filter-ico--default">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell project-desc">
                            <span>Project description</span>
                        </div>
                        <div class="main-table__block__row__cell address">
                            <span>Address</span>
                        </div>
                        <div class="main-table__block__row__cell sales-rep">
                            <span>Sales rep</span>
                        </div>
                        <div class="main-table__block__row__cell entered-by">
                            <span>Entered by</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-notes">
                            <span>Notes</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-lead">
                            <span>Lead</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-gear">
                            <span></span>
                        </div>
                    </div>
                </div>

                <!-- ko foreach: pager.pagedList -->
                <div class="main-table__block main-table__block--body">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__cell checkbox-cell">
                            <label class="customized-checkbox-icon" data-bind="if: !$data.IsInternal && $data.Id != 0">
                                <input id="checkBox" type="checkbox" data-bind="checked: $data.isSelected" />
                                <span class="customized-checkbox-icon__image"></span>
                            </label>
                        </div>
                        <div class="main-table__block__row__cell contract-number">
                            <!-- ko if: $data.Id == 0-->
                            <span data-bind="text: $data.TransactionId"></span>
                            <!-- /ko -->
                            <!-- ko ifNot: $data.Id == 0 -->
                            <a data-bind="attr: { href:$parent.editUrl($data.Id) }, text: $data.TransactionId "></a>
                            <!-- /ko -->
                        </div>
                        <div class="main-table__block__row__cell deal-status">
                            <span class="icon">
                                <i class="info-ico info-ico--green"></i>
                            </span>
                            <span data-bind="text: $data.LocalizedStatus"></span>
                        </div>
                        <div class="main-table__block__row__cell e-sign">
                            <i class="sign-ico sign-ico--red"></i><span data-bind="text: $data.EsignStatus">Unsigned</span>
                        </div>
                        <div class="main-table__block__row__cell applicant-name">
                            <span data-bind="text: $data.CustomerName"></span>
                        </div>
                        <div class="main-table__block__row__cell last-activity">
                            <span data-bind="text: $data.Date"></span>
                        </div>
                        <div class="main-table__block__row__cell days-left">
                            <span data-bind="text: $data.DaysLeft">10</span>
                        </div>
                        <div class="main-table__block__row__cell loan-amount">
                            <span data-bind="text: $data.Value">$ 1,900.00</span>
                        </div>
                        <div class="main-table__block__row__cell program-option">
                            <span data-bind="text: $data.Program">% Buy Down</span>
                        </div>
                        <div class="main-table__block__row__cell term">
                            <span data-bind="text: $data.LoanTerm">60</span>
                        </div>
                        <div class="main-table__block__row__cell amort">
                            <span data-bind="text: $data.AmortTerm">180</span>
                        </div>
                        <div class="main-table__block__row__cell payment-amount">
                            <span data-bind="text: $data.Payment">$ 1,132.56</span>
                        </div>
                        <div class="main-table__block__row__cell funded-amount">
                            <span data-bind="text: $data.FundedAmount">$ 1,450.00</span>
                        </div>
                        <div class="main-table__block__row__cell project-desc">
                            <span data-bind="text: $data.Equipment">Hot Tub</span>
                        </div>
                        <div class="main-table__block__row__cell address">
                            <span data-bind="text: $data.Address">82 Smith St, Smithsville, ON Q2Q 1Q1</span>
                        </div>
                        <div class="main-table__block__row__cell sales-rep">
                            <span data-bind="text: $data.SalesRep">John Domes</span>
                        </div>
                        <div class="main-table__block__row__cell entered-by">
                            <span data-bind="text: $data.EnteredBy">John Domes</span>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-notes">
                            <i class="notes-ico notes-ico--grey"></i>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-lead">
                            <i class="check-mark-ico"></i>
                        </div>
                        <div class="main-table__block__row__cell icon-cell icon-cell-gear">
                            <i class="gear-ico"></i>
                            <span class="show-details">
                                <i class="sort-arrow-bottom sort-arrow-bottom--green"></i>
                            </span>
                            <div class="table-row-settings-popup">
                                <i class="cross-ico"></i>
                                <div class="table-row-settings-popup__edit">
                                    <i class="edit-contract-ico"></i>
                                    <span>
                                        <a data-bind="attr:{href:$parent.editUrl($data.Id)}">@Resources.Edit</a>
                                    </span>
                                </div>
                                <div class="table-row-settings-popup__export">
                                    <i class="excel-ico"></i>
                                    <span>
                                        <a>@Resources.ExportToExcel</a>
                                    </span>
                                </div>
                                <div class="table-row-settings-popup__help">
                                    <i class="ask-help-ico"></i>
                                    <span>
                                        <a>@Resources.AskForHelp</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-table__block__row">
                        <div class="table-row-details opened">
                            <div class="table-row-details__left">


                                <div class="table-row-details__left__last-activity">
                                    <span>Last activity</span>
                                    <span class="filter-ico filter-ico--asc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Date">08/11/17</div>

                                <div class="table-row-details__left__days-left">
                                    <span>Days left</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.DaysLeft">34</div>

                                <div class="table-row-details__left__loan-amount">
                                    <span>Loan amount</span>
                                    <span class="filter-ico filter-ico--default">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Value">$ 1,1900.00</div>

                                <div class="table-row-details__left__program-option">
                                    <span>Program option</span>
                                    <span class="filter-ico filter-ico--default">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Program">90 Day Defferal</div>

                                <div class="table-row-details__left__term">
                                    <span>Term</span>
                                    <span class="filter-ico filter-ico--asc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.LoanTerm">60</div>

                                <div class="table-row-details__left__amort">
                                    <span>Amort</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.AmortTerm">180</div>

                                <div class="table-row-details__left__payment-amount">
                                    <span>Payment</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Payment">$ 1,132.56</div>

                                <div class="table-row-details__left__project-desc">
                                    <span>Project description</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Equipment">Hot Tub</div>

                                <div class="table-row-details__left__funded-amount">
                                    <span>Funded amount</span>
                                    <span class="filter-ico filter-ico--desc">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.FundedAmount">$ 1,450.00</div>

                            </div>
                            <div class="table-row-details__right">

                                <div class="table-row-details__left__address">
                                    <span>Address</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.Address">82 Smith St, Smithsville, ON Q2Q 1Q1</div>

                                <div class="table-row-details__left__sales-rep">
                                    <span>Sales rep</span>
                                </div>
                                <div class="table-row-details__left__value" data-bind="text: SalesRep">John Domes</div>

                                <div class="table-row-details__left__entered-by">
                                    <span>Entered by</span>

                                </div>
                                <div class="table-row-details__left__value" data-bind="text: $data.EnteredBy">John Domes</div>

                                <div class="table-row-details__left__notes">
                                    <span>Notes</span>
                                </div>
                                <div class="table-row-details__left__value">
                                    <i class="notes-ico notes-ico--grey"></i>
                                </div>

                                <div class="table-row-details__left__lead">
                                    <span>Lead</span>

                                </div>
                                <div class="table-row-details__left__value">
                                    <i class="check-mark-ico"></i>
                                </div>

                                <div class="table-row-details__left__gear">
                                    <span><i class="gear-ico"></i></span>

                                </div>
                                <div class="table-row-details__left__value"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="main-table__block main-table__block--total">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__grand-total">
                            Grand total:
                        </div>
                        <div class="main-table__block__row__grand-total-value">
                            <span class="main-table__block__row__grand-total-value__total-container">$ <span data-bind="text: selectedTotal"></span></span>
                            <span>$ <span data-bind="text: grandTotal.toFixed(2)"></span></span>
                        </div>
                        <div class="main-table__block__row__entries-number new-input-group">
                            <div class="custom-select-wrap">
                                <label for="entries-number">Numbers of entries</label>
                                <select name="entries-number" id="entries-number" class="custom-select" data-bind="options: pager.pageSizes, value:pager.pageSize"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-block" data-bind="with: pager">
        <div class="row">
            <div class="new-pagination-wp">
                <div class="new-pagination">
                    <a data-bind="click: goToPreviousPage">
                        <i class="pagination-left-ico"></i>
                    </a>
                    <ul class="new-pagination__pages">
                        <li data-bind="foreach: allPages,
                            class:{ active: $parent.pageIndex() == ($data.pageNumber -1) },
                            click: $parent.moveToPage">
                            <a data-bind="text: $data.pageNumber"></a>
                        </li>
                        @*<li class="active"><a>2</a></li>
                            <li><a>...</a></li>
                            <li><a>10</a></li>
                            <li><a>11</a></li>*@
                    </ul>
                    <a data-bind="click: goToNextPage">
                        <i class="pagination-right-ico"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- /ko -->
    <div class="how-can-we-help-popup">
        <i class="cross-ico"></i>
        <span class="how-can-we-help-popup__title">How can we help?</span>
        <span class="how-can-we-help-popup__legend">Please fill this form and we will answer you with best solution.</span>
        <div class="how-can-we-help-popup__block">
            <div class="how-can-we-help-popup__block__info">
                <span>Dealer name</span>
                <span>utilecredit</span>
                <span>Your name</span>
                <span>utilecredit</span>
                <span>Deal number</span>
                <span>12345</span>
            </div>
            <div class="how-can-we-help-popup__block__checkbox new-checkbox-green">
                <input id="checkBox" type="checkbox" /><span>I have another name</span>
            </div>
            <div class="how-can-we-help-popup__block__your-name new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="yourName" required>
                    <label>Your name</label>
                </div>
            </div>
        </div>
        <div class="how-can-we-help-popup__block">
            <div class="how-can-we-help-popup__block__theme new-input-group">
                <div class="custom-select-wrap">
                    <label for="theme">Please choose the theme</label>
                    <select name="theme" id="theme" class="custom-select">
                        <option value="">Credit docs</option>
                        <option value="">Credit docs</option>
                        <option value="">Credit docs</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="how-can-we-help-popup__block">
            <textarea class="how-can-we-help-popup__block__description"></textarea>
        </div>
        <div class="how-can-we-help-popup__block">
            <div class="how-can-we-help-popup__block__response-way new-input-group">
                <div class="custom-select-wrap">
                    <label for="response-way">Best way to get back to you</label>
                    <select name="response-way" id="response-way" class="custom-select">
                        <option value="">Alternative e-mail</option>
                        <option value="">Alternative e-mail</option>
                        <option value="">Alternative e-mail</option>
                    </select>
                </div>
            </div>
            <div class="how-can-we-help-popup__block__alternative-email new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="alternativeEmail" required>
                    <label>Alternative e-mail</label>
                </div>
            </div>
        </div>
        <div class="how-can-we-help-popup__block">
            <div class="how-can-we-help-popup__block__buttons">
                <div class="new-btn-grey"><span>Cancel</span></div>
                <div class="new-btn-solid-green"><span>Send</span></div>
            </div>
        </div>
    </div>



    <div class="signature-status-popup">
        <i class="cross-ico"></i>
        <span class="signature-status-popup__title">Digital signature status</span>
        <span class="signature-status-popup__legend">Invites for digital signing of the contract were sent successfully - waiting for signatures.</span>

        <div class="signature-status-popup__block signature-status-popup__block--success">
            <div class="signature-status-popup__block__name">
                <span>Borrower</span>
                <span>John Domes</span>
            </div>
            <div class="signature-status-popup__block__email new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
            </div>
            <div class="signature-status-popup__block__status"><i class="signature-status-popup__block__status-ico"></i></div>
            <div class="signature-status-popup__block__signature">
                <span>Waiting for signature</span>
                <span>(10/08/2017 10:30 AM)</span>
            </div>
            <span class="signature-status-popup__block__link"></span>
        </div>

        <div class="signature-status-popup__block signature-status-popup__block--wait">
            <div class="signature-status-popup__block__name">
                <span>Co-borrower</span>
                <span>John Domes</span>
            </div>
            <div class="signature-status-popup__block__email new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
            </div>
            <div class="signature-status-popup__block__status"><i class="signature-status-popup__block__status-ico"></i></div>
            <div class="signature-status-popup__block__signature">
                <span>Waiting for signature</span>
                <span>(10/08/2017 10:30 AM)</span>
            </div>
            <span class="signature-status-popup__block__link"><a>Resend invite</a></span>
        </div>

        <div class="signature-status-popup__block signature-status-popup__block--wait">
            <div class="signature-status-popup__block__name">
                <span>Sales rep</span>
                <span>John Domes</span>
            </div>
            <div class="signature-status-popup__block__email new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
            </div>
            <div class="signature-status-popup__block__status"><i class="signature-status-popup__block__status-ico"></i></div>
            <div class="signature-status-popup__block__signature">
                <span>Waiting for signature</span>
                <span>(10/08/2017 10:30 AM)</span>
            </div>
            <span class="signature-status-popup__block__link"><a>Update email</a></span>
        </div>

        <span class="signature-status-popup__details-link"><a>Go to contract details</a></span>
    </div>

    <div class="customer-comment-popup">
        <span class="customer-comment-popup__title">Customer comment:</span>
        <span class="customer-comment-popup__legend">Please add air conditioner to the loan.</span>
    </div>

    <div class="deal-status-details-popup">
        <i class="cross-ico"></i>
        <span class="deal-status-details-popup__title">Deal status details</span>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--success">
            <div class="deal-status-details-popup__block__time">
                <span><span>14.09.2017</span><span>9:51 AM</span></span>
                <i class="deal-status-details-popup__block__status-ico"></i>
            </div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Created</span></div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--success">
            <div class="deal-status-details-popup__block__time">
                <span><span>14.09.2017</span><span>9:51 AM</span></span>
                <i class="deal-status-details-popup__block__status-ico"></i>
            </div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Pre-approved</span></div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--success">
            <div class="deal-status-details-popup__block__time">
                <span><span>14.09.2017</span><span>9:51 AM</span></span>
                <i class="deal-status-details-popup__block__status-ico"></i>
            </div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Submitted</span></div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--error">
            <div class="deal-status-details-popup__block__time">
                <span><span>14.09.2017</span><span>9:51 AM</span></span>
                <i class="deal-status-details-popup__block__status-ico"></i>
            </div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description">
                <span class="deal-status-details-popup__block__description__title">More information required</span>
                <span>We are unable to process this application information and/or documents.</span>
                <span class="deal-status-details-popup__block__description__title">Comment:</span>
                <span>Please upload Extended Warranty Form</span>
            </div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--empty">
            <div class="deal-status-details-popup__block__time"><i class="deal-status-details-popup__block__status-ico"></i></div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Request to fund</span></div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--empty">
            <div class="deal-status-details-popup__block__time"><i class="deal-status-details-popup__block__status-ico"></i></div>
            <div class="deal-status-details-popup__block__dots"></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Approved</span></div>
        </div>
        <div class="deal-status-details-popup__block deal-status-details-popup__block--empty">
            <div class="deal-status-details-popup__block__time"><i class="deal-status-details-popup__block__status-ico"></i></div>
            <div class="deal-status-details-popup__block__description"><span class="deal-status-details-popup__block__description__title">Funded</span></div>
        </div>
    </div>


    <div class="table-row-settings-popup">
        <i class="cross-ico"></i>
        <div class="table-row-settings-popup__edit"><i class="edit-contract-ico"></i><span><a>Edit</a></span></div>
        <div class="table-row-settings-popup__export"><i class="excel-ico"></i><span><a>Export to excel</a></span></div>
        <div class="table-row-settings-popup__help"><i class="ask-help-ico"></i><span><a>Ask to help</a></span></div>
    </div>

    <div class="accept-lead-popup">
        <i class="cross-ico"></i>
        <span class="accept-lead-popup__title">Accept lead</span>
        <span class="accept-lead-popup__legend">Are you sure? </br>On acceptance of lead a 1% of pre-approved loan value will be applied to your account as a lead free.</span>
        <div class="accept-lead-popup__buttons">
            <div class="new-btn-grey"><span>Cancel</span></div>
            <div class="new-btn-solid-green"><span>Accept lead</span></div>
        </div>
    </div>


    <div class="dealnet-caption">@Resources.DealFlowOverview</div>
    <div class="dealnet-chart-switch-button-hold">
        <div class="dealnet-chart-switch-button dealnet-chart-switch-button-selected" data-type="Week">@Resources.Week</div>
        <div class="dealnet-chart-switch-button" data-type="Month">@Resources.Month</div>
        <div class="dealnet-chart-switch-button" data-type="Year">@Resources.Year</div>
    </div>
    <div class="data-flow-container">
        <span class="graph-label graph-label-x">$</span>
        <span class="graph-label graph-label-y">@Resources.Time</span>
        <div class="scrollable-container">
            <div class="scrollable-content">
                <canvas id="data-flow-overview"></canvas>
            </div>
        </div>
    </div>
</div>

@using(Html.BeginForm("ContractRemove", "NewRental", FormMethod.Post, new { id = "remove-contract-form" }))
{
    <input type="hidden" name="contractId" id="remove-contract" />
}

<div id="contract-signature-modal" class="modal fade modal-wide">
    <div class="modal-dialog esig-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left">@Resources.DigitalSignatureStatus</h4>
            </div>
            <div class="modal-body" id="signature-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    var chartUrl = '@Url.Action("GetDealFlowOverview", "Home")';
    var itemsUrl = '@Url.Action("GetWorkItems", "Home")';
    var editContractUrl = '@Url.Action("ContractEdit", "NewRental")';
    var contractSignatureStatusUrl = '@Url.Action("GetEsignatureStatus", "MyDeals")';
    </script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/data-tables-scripts")
    @Scripts.Render("~/bundles/home-page")

    <script type="text/javascript">
        $(document).ready(function () {
            module.require('home-page-index').init();
        });
    </script>
}

@section Translations
{
    translations['Time'] = "@Resources.Time";
    translations['Search'] = "@Resources.Search";
    translations['Edit'] = "@Resources.Edit";
    translations['MyWorkItems'] = "@Resources.MyWorkItems";
    translations['Show'] = "@Resources.Show";
    translations['Entries'] = "@Resources.Entries";
    translations['NoMatchingRecordsFound'] = "@Resources.NoMatchingRecordsFound";
    translations['New'] = "@Resources.New";
    translations['Remove'] = "@Resources.Remove";
    translations['Error'] = "@Resources.Error";
    translations['AreYouSureYouWantToRemoveThisApplication'] = "@Resources.AreYouSureYouWantToRemoveThisApplication";
}

@section Styles
{
    @Styles.Render("~/bundles/data-tables-content")
}
