@{
    ViewBag.Title = "Apply";
}
<div class="onboard-page">
    <div class="onboard-heading">
        <div class="onboard-headers-container">
            <h2 class="dealnet-large-header">Apply</h2>
            <h3 class="dealnet-md-header">Join our growing EcoHome Financial dealer network!</h3>
        </div>
        <div class="onboard-contact-info">
            <span class="icon-help-hold">
                <svg aria-hidden="true" class="icon icon-help-page"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-help-page")"></use></svg>
            </span>

            Questions? <br />
            Connect with dealer support: <br />
            <a href="tel:+1-866-382-7468" class="tel" rel="nofollow">1-866-382-7468</a><br />
            <a href="mailto: info@ecohomefinancial.com">info@ecohomefinancial.com</a>
        </div>
    </div>

    <div class="onboard-steps" id="onboard-accordion">
        <div class="panel customer-loan-form-panel panel-collapsed step-passed">
            <div class="panel-heading">
                <span class="panel-step">1</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.Consent</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="consents-checkbox-hold">
                    <div class="form-group checkbox-hold">
                        <label for="agreement1" class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox" id="agreement1" name="agreement1"/>
                            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                            <span class="mandatory-field">@Resources.AcknowledgeAndAgreementObtainCreditReport</span>
                        </label>
                        <div class="consents-links">
                            <a href="" class="dealnet-info-link j-personal-data-used-modal">@Resources.HowIsMyPersonalDataUsed</a>
                            @Html.ActionLink(@Resources.PrivacyPolicy, "PrivacyPolicy", "Info", null, new { @class="dealnet-info-link", target = "_blank" })
                        </div>
                    </div>
                    <div class="form-group checkbox-hold">
                        <label for="agreement2" class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox" id="agreement2" name="agreement2"/>
                            <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                            <span>@Resources.ConsentToReceiveCommercialElectronicMessages | <a target="_blank" href="http://ecohomefinancial.com/" class="link-color-inherit">www.ecohomefinancial.com</a>.</span>
                        </label>
                    </div>
                </div>
            </div>
         </div>
        <div class="panel customer-loan-form-panel panel-collapsed step-passed">
            <div class="panel-heading">
                <span class="panel-step">2</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.CompanyInformation</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                          <label for="full-legal-name" class="mandatory-field">Full legal name</label>
                          <div class="control-group"><input type="text" id="full-legal-name"
                                                            class="form-control dealnet-input" value="Improve Home Service"></div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="form-group">
                          <label for="operating-name" class="mandatory-field">Operating name</label>
                          <div class="control-group"><input type="text" id="operating-name"
                                                            class="form-control dealnet-input" value="IHService"></div>
                      </div>
                  </div>
                </div>
                <h4 class="heading-bordered">@Resources.Contacts</h4>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="phone-number" class="mandatory-field">@Resources.PhoneNumber</label>
                            <div class="control-group">
                                <input type="text" id="phone-number" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="email-address" class="mandatory-field">@Resources.EmailAddress</label>
                            <div class="control-group">
                                <input type="text" id="email-address" class="form-control dealnet-input" value="IHService@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-sm-6">
                        <div class="form-group">
                            <label for="website-url" class="mandatory-field">@Resources.Website</label>
                            <div class="control-group">
                                <input type="text" id="website-url" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-bordered">@Resources.Address</h4>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="street" class="mandatory-field">@Resources.Street</label>
                            <div class="control-group">
                                <input type="text" id="street" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="unit">@Resources.UnitNumber</label>
                            <div class="control-group">
                                <input type="text" id="unit" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="city" class="mandatory-field">@Resources.City</label>
                            <div class="control-group">
                                <input type="text" id="city" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                        <div class="form-group">
                            <label for="province" class="mandatory-field">@Resources.Province</label>
                            <div class="control-group">
                                <select class="form-control" id="province">
                                    <option value="">Province</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="postal-code" class="mandatory-field">@Resources.PostalCode</label>
                            <div class="control-group">
                                <input type="text" id="postal-code" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-bordered">@Resources.Other</h4>
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.TypeOfBusiness</label>
                            <div class="control-group"><select name="" id="" class="form-control">
                                <option value=""></option>
                            </select></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.YearsInBusiness</label>
                            <div class="control-group"><select name="" id="" class="form-control">
                                <option value=""></option>
                            </select></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">@Resources.NumberOfInstallers</label>
                            <div class="control-group"><select name="" id="" class="form-control">
                                <option value=""></option>
                            </select></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <label for="">@Resources.NumberOfSalesPeople</label>
                            <div class="control-group"><select name="" id="" class="form-control">
                                <option value=""></option>
                            </select></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Provinces approved for business</label>
                            <div class="control-group">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ul class="customer-needs-list tags-list">
                            <div class="dealnet-label">&nbsp;</div>
                            <li>New Brunswick<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                            <li>Nova Scotia<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed step-passed">
            <div class="panel-heading">
                <span class="panel-step">3</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.PrincipalOwnerInformation</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.FirstName</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" value="Improve Home Service">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.LastName</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" value="IHService">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.BirthDate</label>
                            <div class="control-group date-group">
                                <input type="text" class="form-control dealnet-input date-input" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-bordered">@Resources.Contacts</h4>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.HomePhone</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.MobilePhone</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.EmailAddress</label>
                            <div class="control-group date-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-bordered">@Resources.Address</h4>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="street" class="mandatory-field">@Resources.Street</label>
                            <div class="control-group">
                                <input type="text" id="street" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label for="unit">@Resources.UnitNumber</label>
                            <div class="control-group">
                                <input type="text" id="unit" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="city" class="mandatory-field">@Resources.City</label>
                            <div class="control-group">
                                <input type="text" id="city" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                        <div class="form-group">
                            <label for="province" class="mandatory-field">@Resources.Province</label>
                            <div class="control-group">
                                <select class="form-control" id="province">
                                    <option value="">Province</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="postal-code" class="mandatory-field">@Resources.PostalCode</label>
                            <div class="control-group">
                                <input type="text" id="postal-code" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading-bordered">@Resources.Ownership</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">@Resources.PercentageOfOwnership</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="dealnet-label hidden-xs">&nbsp;</div>
                            <div class="control-group">
                                <div class="info-text-success flex-centered-text">
                                    <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                                    In order to submit application please provide information about owners whose ownership is in total over 50%.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h3 class="dealnet-middle-header owner-info-label">Additional owner information <div class="additional-remove"><i class="glyphicon glyphicon-remove"></i></div></h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.FirstName</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" value="Improve Home Service">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.LastName</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" value="IHService">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-clear-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.BirthDate</label>
                                <div class="control-group date-group">
                                    <input type="text" class="form-control dealnet-input date-input" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="heading-bordered">@Resources.Contacts</h4>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.HomePhone</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.MobilePhone</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-clear-sm-6">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.EmailAddress</label>
                                <div class="control-group date-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="heading-bordered">@Resources.Address</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="street" class="mandatory-field">@Resources.Street</label>
                                <div class="control-group">
                                    <input type="text" id="street" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label for="unit">@Resources.UnitNumber</label>
                                <div class="control-group">
                                    <input type="text" id="unit" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="city" class="mandatory-field">@Resources.City</label>
                                <div class="control-group">
                                    <input type="text" id="city" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                            <div class="form-group">
                                <label for="province" class="mandatory-field">@Resources.Province</label>
                                <div class="control-group">
                                    <select class="form-control" id="province">
                                        <option value="">Province</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="postal-code" class="mandatory-field">@Resources.PostalCode</label>
                                <div class="control-group">
                                    <input type="text" id="postal-code" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="heading-bordered">@Resources.Ownership</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="" class="mandatory-field">@Resources.PercentageOfOwnership</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 hidden">
                            <div class="form-group">
                                <div class="label hidden-xs">&nbsp;</div>
                                <div class="control-group">
                                    <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                                    @Resources.ToSubmitAppProvideOwnerInfo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-link-holder flex-centered-text">
                    <a class="action-link mandatory-field">
                        <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                        <span>@Resources.AddAdditionalOwner</span>
                    </a>
                    <div class="well danger-well">
                        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                        In order to submit application you need to add additional owner
                    </div>
                </div>

            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed step-passed">
            <div class="panel-heading">
                <span class="panel-step">4</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.ProductAndSalesInformation</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Manufacturer brand sold #1</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" value="Improve Home Service">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="dealnet-label hidden-xs">&nbsp;</div>
                            <div class="control-group">
                                <a class="action-link flex-centered-text">
                                    <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                                    <span>Add another brand</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Annual sales volume</label>
                            <div class="control-group has-addon-left">
                                <div class="control-group-addon">$</div>
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Average transaction size</label>
                            <div class="control-group has-addon-left">
                                <div class="control-group-addon">$</div>
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Channel</label>
                            <div class="control-group">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkbox-form-group">
                    <div for="" class="dealnet-label mandatory-field">
                        Lead generation method/s <span class="additional-info-text">(check all that apply)</span>
                    </div>
                    <div class="form-group checkbox-hold">
                        <label class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox">
                            <span class="checkbox-icon">
                                <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                            </span>
                            <span>Referrals</span>
                        </label>
                    </div>
                    <div class="form-group checkbox-hold">
                        <label class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox">
                            <span class="checkbox-icon">
                                <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                            </span>
                            <span>Local advertising</span>
                        </label>
                    </div>
                    <div class="form-group checkbox-hold">
                        <label class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox">
                            <span class="checkbox-icon">
                                <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                            </span>
                            <span>Trade shows</span>
                        </label>
                    </div>
                </div>
                <h4 class="heading-bordered">Details</h4>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Program services required</label>
                            <div class="control-group">
                                <select class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Relationship structure</label>
                            <div class="control-group">
                                <select class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-clear-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">OEM name</label>
                            <div class="control-group">
                                <input type="text" value="Some name here" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox-form-group">
                            <div class="dealnet-label" for="">Are you with a current finance provider?</div>
                            <div class="">
                                <label class="checkbox-toggle">
                                    <input class="toggle-language-link" @if(Model?.EnglishLinkEnabled ?? false) { <text>checked</text> } data-val="true" data-val-required="The EnglishLinkEnabled field is required." id="EnglishLinkEnabled" name="EnglishLinkEnabled" type="checkbox" value="true" />
                                    <div class="slider"></div>
                                    <span class="checkbox-toggle-text text-on">Yes</span>
                                    <span class="checkbox-toggle-text text-off">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Finance provider name</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Monthly capital value of deals financed</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox-form-group">
                            <div class="dealnet-label" for="">Do you wish to offer deferrals?</div>
                            <div class="">
                                <label class="checkbox-toggle">
                                    <input class="toggle-language-link" @if(Model?.EnglishLinkEnabled ?? false) { <text>checked</text> } data-val="true" data-val-required="The EnglishLinkEnabled field is required." id="EnglishLinkEnabled" name="EnglishLinkEnabled" type="checkbox" value="true" />
                                    <div class="slider"></div>
                                    <span class="checkbox-toggle-text text-on">Yes</span>
                                    <span class="checkbox-toggle-text text-off">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Monthly deals to be deferred</label>
                            <div class="control-group has-addon-left">
                                <div class="control-group-addon">%</div>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Products for financing program</label>
                            <div class="control-group">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="form-group">
                            <div class="dealnet-label hidden-xs">&nbsp;</div>
                            <div class="control-group">
                                <div class="info-text-success flex-centered-text">
                                    <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                                    <span class="notification-text">Check all applicable items from our list</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="customer-needs-list tags-list">
                    <li>New Brunswick<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                    <li>Nova Scotia<span class="icon-remove"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                </ul>
            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed step-passed">
            <div class="panel-heading">
                <span class="panel-step">5</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.TradeReferences</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="placeholder-text">This section is optional for you</div>
                <div id="references-container"></div>
                <div class="action-link-holder flex-centered-text">
                    <a class="action-link" id="add-reference-link" onClick="addTradeReference()">
                        <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                        <span>Add reference</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="panel customer-loan-form-panel active-panel">
            <div class="panel-heading">
                <span class="panel-step">6</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.RequiredDocuments</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
                <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
            </div>
            <div class="panel-body">
                <div class="onboard-required-documents">
                    <div class="onboard-uploaded-documents clearfix">
                        <div class="files-container">
                            <h4 class="onboard-required-documents-heading">Void cheque</h4>
                            <div class="equal-height-section equal-height-section-1">
                                <div class="inner-div">
                                    <p>
                                        Void_cheque.pdf
                                    </p>
                                    <div class="placeholder-text">Please upload file in format PDF, jpg or png</div>
                                </div>
                            </div>

                            <div class="file-upload btn dealnet-button dealnet-success-button">
                                <span>@Resources.Upload</span>
                                <input type="file" class="upload" />
                            </div>
                        </div>
                        <div class="files-container">
                            <h4 class="onboard-required-documents-heading">Proof of insurance</h4>
                            <div class="equal-height-section equal-height-section-1">
                                <div class="inner-div">
                                    <p>Ecohome Financial Inc. must be listed as additional insured</p>
                                    <p>
                                        Proof_of_insurance.pdf
                                    </p>
                                    <div class="placeholder-text">Please upload file in format PDF, jpg or png</div>
                                </div>
                            </div>
                            <div class="file-upload btn dealnet-button dealnet-success-button">
                                <span>@Resources.Upload</span>
                                <input type="file" class="upload" />
                            </div>
                        </div>
                    </div>
                    <div class="onboard-uploaded-license">
                        <h4 class="onboard-required-documents-heading">Provincial Safety Standard Licensing</h4>
                        <div class="placeholder-text">Please upload file in format PDF, jpg or png</div>
                        <ul class="onboard-license-list text-left list-unstyled">
                            <li class="onboard-license-item uploaded-document">
                                <div class="align-middle document-label">
                                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                    <span class="mandatory-field">Certificate of Qualification as a Refrigeration and Air Conditioning Mechanic (Ontario)</span>
                                </div>
                                <div class="action-holder">
                                    <div class="file-upload btn dealnet-button dealnet-link-button">
                                        <span>Replace</span>
                                        <input type="file" class="upload" />
                                    </div>
                                </div>
                            </li>
                            <li class="onboard-license-item">
                                <div class="align-middle document-label">
                                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                    <span class="mandatory-field">Master Electrician Licence (Ontario)</span>
                                </div>
                                <div class="action-holder">
                                    <div class="file-upload btn dealnet-button dealnet-link-button">
                                        <span>@Resources.Upload</span>
                                        <input type="file" class="upload" />
                                    </div>
                                </div>
                            </li>
                            <li class="onboard-license-item">
                                <div class="align-middle document-label">
                                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                    <span class="mandatory-field">Electrical License (Manitoba)</span>
                                </div>
                                <div class="action-holder">
                                    <div class="file-upload btn dealnet-button dealnet-link-button">
                                        <span>@Resources.Upload</span>
                                        <input type="file" class="upload" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed">
            <div class="panel-heading">
                <span class="panel-step">7</span>
                <h3 class="panel-title dealnet-middle-header">@Resources.Acknowledgment</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
            </div>
            <div class="panel-body">
                <p>By executing below, the Principal in his or her personal capacity (“I”, “me”) and the company (“We”) certify that all the information contained in this Dealer Application is true and complete. </p>
                <div class="onboard-owners-hold">
                    <div class="onboard-owners-row">
                        <div class="onboard-owners-col name-col">
                            <span class="onboard-owners-label">
                                Owner:
                            </span>
                            <span class="onboard-owners-value">
                                &nbsp;JOE DOE
                            </span>
                        </div>
                        <div class="onboard-owners-col date-col">
                            <span class="onboard-owners-label">
                                Date:
                            </span>
                            <span class="onboard-owners-value">
                                &nbsp;21.07.2017
                            </span>
                        </div>
                        <div class="onboard-owners-col agree-col">
                            <label class="align-middle custom-checkbox">
                                <input type="checkbox" class="dealnet-checkbox" />
                                <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                <span class="mandatory-field"> I acknowledge and agree</span>
                            </label>
                        </div>
                    </div>
                    <div class="onboard-owners-row">
                        <div class="onboard-owners-col name-col">
                            <span class="onboard-owners-label">
                                Owner:
                            </span>
                            <span class="onboard-owners-value">
                                &nbsp;BEN RICHARDSON
                            </span>
                        </div>
                        <div class="onboard-owners-col date-col">
                            <span class="onboard-owners-label">
                                Date:
                            </span>
                            <span class="onboard-owners-value">
                                &nbsp;21.07.2017
                            </span>
                        </div>
                        <div class="onboard-owners-col agree-col">
                            <label class="align-middle custom-checkbox">
                                <input type="checkbox" class="dealnet-checkbox" />
                                <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                <span class="mandatory-field">I acknowledge and agree</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <button type="submit" class="btn dealnet-success-button btn-proceed disabled btn-form-common"  id="submit">@Resources.SubmitApplication</button>
    </div>
</div>
<script id="tradeReferenceTemplate" type="text/x-jquery-tmpl">
    <div class="trade-reference" id="trade-reference-${refNumber}">
        <div class="trade-reference-header">
            <h4 class="heading-bordered">Reference #${refNumber}</h4>
            <a href="" class="remove-reference-link" data-refNumber="${refNumber}">
              <svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg>
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Name of business</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Contact name</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Phone</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-3 col-clear-md-4">
                <div class="form-group">
                    <label for="" class="mandatory-field">Email address</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-container">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.Street</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label >@Resources.UnitNumber</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.City</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.Province</label>
                    <div class="control-group">
                        <select class="form-control" id="province">
                            <option value="">Province</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.PostalCode</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearAddress</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts {


<script type="text/javascript">
    $(function () {
        setEqualHeightRows($(".equal-height-section-1"));

        $(window).on('resize', function(){
            setEqualHeightRows($(".equal-height-section-1"));
        });
    });

    var initRefNumber = 1;
    function addTradeReference(){
        $("#tradeReferenceTemplate").tmpl({refNumber: initRefNumber})
            .appendTo("#references-container");

        customizeSelect();
        addIconsToFields();
        toggleClearInputIcon();

        $('.clear-address').click(function(){
            $(this).parents('.address-container').find('input').each(function () {
                if ($(this).not('.placeholder')) {
                    $(this).val("");
                }
            });
            return false;
        });
        if($('.trade-reference').length > 0 && $('.trade-reference').length < 2){
            $('#add-reference-link').addClass('mandatory-field');
        }else{
            $('#add-reference-link').removeClass('mandatory-field');
        }
        $('.trade-reference').slice(2, $('.trade-reference').length).addClass('is-removable');


        $('.remove-reference-link').on('click', function(){
            $(this).parents('.trade-reference').remove();
            return false;
        });

        initRefNumber++;
        return false;
    }

</script>
}
