@model DealnetPortal.Web.Models.MyProfile.ProfileViewModel

@{
    ViewBag.Title = Resources.MyProfile;
}

<div class="profile-header">
    <div class="main-heading profile-heading">@Resources.MyProfile</div>
</div>

<div class="form-container profile-form-container">
    @using (Html.BeginForm("SetProfile", "Profile", FormMethod.Post, new { id = "main-form", onkeydown = "return event.keyCode!=13" }))
    {
        @Html.HiddenFor(s => s.ProfileId)
        @Html.HiddenFor(s => s.QuebecDealer, new { id = "quebecDealer" })
        @Html.HiddenFor(s => s.QuebecPostalCodes, new { id = "quebecPostalCodes" })
        @Html.AntiForgeryToken()
        <h3 class="dealnet-middle-header">@Resources.OfferedService</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="">@Resources.SelectCategory</label>
                    <div class="control-group">
                        @Html.DropDownList("SelectedCategories", (Model.EquipmentTypes).Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Description }), Resources.PleaseSelect,
                                  new { @class = "form-control dealnet-input", id = "offered-service" })
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="" class="hidden-xs">&nbsp;</label>

                    <ul class="customer-needs-list tags-list" id="selected-categories">
                        @if (Model.DealerEquipments != null)
                        {
                            @Html.Partial("Profile/_DealerEquipment", Model)
                        }
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="dealnet-middle-header">@Resources.AreaOfMyService</h3>
        <div id="postal-code-area">
            @if (Model.PostalCodes != null)
            {
                @Html.Partial("Profile/_PostalCode", Model)
            }
        </div>
        <div>
            <a id="add-postalCode" class="align-middle action-link blue">
                <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
                <span>@Resources.AddPostalCode</span>
            </a>
        </div>
    }
    <div class="clearfix">        
        <div id="infoErrors"></div>
        <br>
        <button class="btn btn-green btn-form" id="saveProfileBtn">@Resources.Save</button>
        <div id="infoErrors"></div>
        <br>
        <div class="well position-well clear-border collapse" id="success-message">
            <svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
            @Resources.YourConfigurationWasSuccessfullyUpdated
        </div>
    </div>
</div>

<div class="hidden">
    <div id="postal-template">
        <div class="row postal-code-hold">
            <div class="col-md-3 col-sm-4 col-xs-10">
                <div class="form-group">
                    <label for="">@Resources.PostalCode</label>
                    <div class="control-group">
                        @Html.HiddenFor(x => x.PostalCodes[0].Id)
                        @Html.TextBoxFor(x => x.PostalCodes[0].PostalCode, new { @class = "form-control postal-code form-control-not-clear", placeholder = "12345" })
                        @Html.ValidationMessageFor(x => x.PostalCodes[0].PostalCode, "", new { @class = "text-danger" })
                        <a href="" class="remove-postal-code link-default" id="remove-postal-code-" hidden-value=" ">
                            <svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nw-page-title">
    <div class="nw-page-title__title">My profile</div>
    <div class="icon-link-green"><i class="ic-nw-lamp ic-nw-lamp--grass"></i><a>Learn more about this page</a></div>
</div>
<div class="nw-my-profile">
    <div class="nw-my-profile-form">
        <div class="nw-my-profile-form__title"><span>Offered service</span></div>
        <div class="nw-my-profile-form__select-row">
            <div class="new-input-group">
                <div class="custom-select-wrap">
                    <label for="pr-type">Select types of projects</label>
                    <select name="pr-type" id="pr-type" class="custom-select">
                        <option value="">Dealer 1</option>
                        <option value="">Dealer 2</option>
                        <option value="">Dealer 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="nw-my-profile-form__tag-cloud">
            <span>Air Conditioner<i class="ic-nw-close-small"></i></span><span>Furnace<i class="ic-nw-close-small"></i></span>
        </div>
    </div>

    <div class="nw-my-profile-form">
        <div class="nw-my-profile-form__title"><span>Area of my service</span></div>
        <div class="nw-my-profile-form__input-row">
            <div class="new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" required>
                </div>
            </div>
            <div class="new-btn-solid-green"><span>Add</span></div>
        </div>

        <div class="nw-my-profile-form__tag-cloud">
            <span>RFT5YU<i class="ic-nw-close-small"></i></span><span>RFT5YU<i class="ic-nw-close-small"></i></span><span>RFT5YU<i class="ic-nw-close-small"></i></span>
        </div>
    </div>
</div>

<div class="cancel-save-footer">
    <div class="new-btn-grey"><span>Cancel changes</span></div><div class="new-btn-solid-red"><span>Save changes</span></div>
</div>


<div class="nw-page-title">
    <div class="nw-page-title__title">Library</div>
    <div class="icon-link-green"><i class="ic-nw-lamp ic-nw-lamp--grass"></i><a>Learn more about this page</a></div>
</div>

<div class="nw-library">
    <div class="nw-library-list">
        <div class="nw-library-list__row">
            <span class="nw-library-list__row__number">1.</span>
            <i class="pdf-lg-ico"></i>
            <div class="nw-library-list__row__info">
                <span class="nw-library-list__row__info__name">About EcoHome Financial</span>
                <span class="nw-library-list__row__info__status"><span>Updated</span><span>11/11/2017</span><span class="notification-status">New</span></span>
            </div>
        </div>
        <div class="nw-library-list__row nw-library-list__row--new">
            <span class="nw-library-list__row__number">2.</span>
            <i class="pdf-lg-ico"></i>
            <div class="nw-library-list__row__info">
                <span class="nw-library-list__row__info__name">About EcoHome Financial</span>
                <span class="nw-library-list__row__info__status"><span>Updated</span><span>11/11/2017</span><span class="notification-status">New</span></span>
            </div>
        </div>
        <div class="nw-library-list__row">
            <span class="nw-library-list__row__number">3.</span>
            <i class="pdf-lg-ico"></i>
            <div class="nw-library-list__row__info">
                <span class="nw-library-list__row__info__name">About EcoHome Financial</span>
                <span class="nw-library-list__row__info__status"><span>Updated</span><span>11/11/2017</span><span class="notification-status">New</span></span>
            </div>
        </div>
    </div>
</div>

<div class="nw-help-form">
    <div class="nw-help-form__header">
        <i class="ic-nw-letter-white"></i>Help<i class="ic-nw-close-white"></i>
    </div>

    <div class="nw-help-form__info">
        <p>
            This are pages where you can find
            answers on your questions and
            some materials that will help you:
        </p>
        <span><i class="ic-nw-faq"></i>FAQ</span>
        <span><i class="ic-nw-circle-hole"></i>Help page</span>
        <span><i class="ic-nw-education"></i>Education</span>
    </div>

    <div class="nw-help-form__question">
       <textarea placeholder="Ask question here or leave your feedback"></textarea>
       <div class="new-btn-solid-red"><span>Send</span></div>
    </div>

    <i class="triangle-2"></i>
</div>

<div class="nw-help-form-small">
    <div class="nw-help-form-small__header">
        <i class="ic-nw-letter-white"></i>Help<i class="ic-nw-close-white"></i>
    </div>

    <span><i class="ic-nw-circle-hole"></i>Help page</span>
    <span><i class="ic-nw-education"></i>Education</span>
    <p>
        Having some questions to our
        support team? Please choose one
        of the topics to send us a message:
    </p>
    <div class="icon-link-green"><i class="ic-nw-funding-support ic-nw-funding-support--grass"></i><a>Credit</a></div>
    <div class="icon-link-green"><i class="ic-nw-person-mail ic-nw-person-mail--grass"></i><a>Customer Service/Funding</a></div>
    <div class="icon-link-green"><i class="ic-nw-person-mail ic-nw-person-mail--grass"></i><a>Dealer Support</a></div>

    <p>
        or call us at <span>1-866-382-7468 </span>
    </p>

    <i class="triangle-2"></i>
</div>

@section Translations
{
    translations['ErrorWhileUpdatingData'] = "@Resources.ErrorWhileUpdatingData";
    translations['SuchPostalCodeAlreadyExist'] = "@Resources.SuchPostalCodeAlreadyExist";
    translations['ServiceAreaInQc'] = "@Resources.ServiceAreaInQc";
    translations['ServiceAreaNotInQc'] = "@Resources.ServiceAreaNotInQc";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/localization")
    @Scripts.Render("~/bundles/my-profile")

    <script type="text/javascript">
        module.require('my-profile-index');
    </script>

    <script>
        $(document).ready(function () {
            $('.remove-postal-code').on('click', function () {
                $(this).parents('.postal-code-hold').remove();
                return false;
            });
        });
    </script>

}
