@model DealnetPortal.Web.Models.MyProfile.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<div id="label-steps">
    <div class="dealnet-action-link">My Profile</div>
</div>
<div class="profile-header">
    <div class="main-heading profile-heading">My Profile</div>
</div>

<div class="form-container profile-form-container">
  @using (Html.BeginForm("SetProfile", "Profile", FormMethod.Post, new {id = "main-form", onkeydown = "return event.keyCode!=13"}))
  {
    <h3 class="dealnet-middle-header">Offered service</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-lg-3">
        <div class="form-group">
          <label for="">Select category</label>
          <div class="control-group">
            @Html.DropDownList("SelectedCategories", (Model.EquipmentTypes).Select(x => new SelectListItem { Value = x.Type, Text = x.Description }), "Please select",
              new { @class = "form-control dealnet-input", id = "offered-service" })
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-lg-6">
        <div class="form-group">
          <label for="" class="hidden-xs">&nbsp;</label>

          <ul class="customer-needs-list tags-list" id="selected-categories">
            @if (Model.Categories != null)
            {
              foreach (var category in Model.Categories)
              {
                <li><input class="hidden" name="Categories" value="@category.Type">@category.Type <span class="icon-remove" onclick="$(this).parent().remove()"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
              }
            }
          </ul>
        </div>
      </div>
    </div>
    <h3 class="dealnet-middle-header">Area of my service</h3>
    <div id="postal-code-area">
      @if (Model.PostalCodes != null)
      {
        for (int i = 0; i < Model.PostalCodes.Count; i++)
        {
        <div class="row postal-code-hold" id="postal-code-@(i)">
          <div class="col-md-3 col-sm-4 col-xs-10">
            <div class="form-group">
              <label for="">Postal Code</label>
              <div class="control-group">
                @Html.HiddenFor(x => x.PostalCodes[i].Id)
                @Html.TextBoxFor(x => x.PostalCodes[i].Value, new { @class = "form-control", placeholder = Resources.PostalCode })
                @Html.ValidationMessageFor(x => x.PostalCodes[i].Value, "", new { @class = "text-danger" })
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="">&nbsp;</label>
              <div class="control-group">
                <a href="" class="remove-postal-code" id="remove-postal-code-@(i)" hidden-value="@(i)">
                  <svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        }
      }
    </div>
    <div>
      <a id="add-postalCode" class="align-middle dealnet-info-link">
        <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
        <span>Add Postal Code</span>
      </a>
    </div>
    <div class="clearfix">
      <br>
      <br>
      <button class="btn dealnet-button dealnet-success-button btn-form-common">@Resources.Save</button>
    </div>
  }
</div>

<div class="hidden">
  <div id="postal-template">
    <div class="row postal-code-hold">
      <div class="col-md-3 col-sm-4 col-xs-10">
        <div class="form-group">
          <label for="">Postal Code</label>
          <div class="control-group">
            @Html.HiddenFor(x => x.PostalCodes[0].Id)
            @Html.TextBoxFor(x => x.PostalCodes[0].Value, new {@class = "form-control", placeholder = Resources.PostalCode})
            @Html.ValidationMessageFor(x => x.PostalCodes[0].Value, "", new { @class = "text-danger" })
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="">&nbsp;</label>
          <div class="control-group">
            <a href="" class="remove-postal-code" id="remove-postal-code-" hidden-value=" ">
              <svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts
{
  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/localization")
  @Scripts.Render("~/bundles/my-profile")

  <script type="text/javascript">
    module.require('my-profile-index');
  </script>

  <script>
    $(document).ready(function(){
        $('.remove-postal-code').on('click', function(){
            $(this).parents('.postal-code-hold').remove();
            return false;
        });
    });
</script>

}
