@using System.Globalization
@using DealnetPortal.Api.Common.Enumeration
@using DealnetPortal.Api.Common.Helpers
@using DealnetPortal.Api.Models.Contract
@using DealnetPortal.Web.Common.Enumeration
@using Microsoft.Ajax.Utilities
@model DealnetPortal.Web.Models.LoanCalculatorViewModel

@{
var deferralType = LoanDeferralType.ThreeMonth;
}

<div id="main-div" ng-cloak ng-app="calculator" ng-controller="calculator" class="calculator-redesigned standalone-calculator">
    <!-- Provide standalone payment calculator screen -->
    <div id="label-steps">
        <div class="dealnet-action-link">@Resources.Calculator</div> >
    </div>
    <div class="dealnet-large-header">@Resources.Calculator</div>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "activeForm" }))
    {
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>@Resources.ChooseProvince</label>
                @Html.DropDownListFor(m => m.ProvinceTaxRates,
                (Model.ProvinceTaxRates).Select(x => new SelectListItem {Value = x.Rate.ToStringInvariant(), Text = x.Province}),
                new {@class = "form-control", id="province-tax-rate", ng_change = "assignTaxRate()", ng_model="taxRate" })
            </div>
        </div>
    </div>
    <div class="calculators-container">
        <button class="btn dealnet-button dealnet-success-button btn-add-calc-option" type="button"
                ng-hide="calcList.length === 3"
                ng-click="addCalculator()">Add Another Option to Compare</button>
        <div class="row rate-cards-container">
            <div class="col-md-4 col-sm-6 rate-card-col" ng-repeat="calc in calcList" track by $index>
                <h2 class="dealnet-middle-header calculator-heading">Option {{$index + 1}}
                        <span class="calculator-remove" ng-click="removeCalculator($index + 1)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                </h2>
                <div class="rate-card table-mode">
                    <div class="equipments-hold" reset-Form>
                        <div ng-repeat="item in activeEquipment" class="equipment-item">
                            <div class="dealnet-middle-header equipment-heading">
                                <span>@Resources.Equipment  №{{$index + 1}}</span>
                                <div ng-if="$index !== 0" ng-click="removeActiveEquipment($index)" class="additional-remove">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Equipment.NewEquipment[0].Type, new { @for = "Equipment_NewEquipment_{{$index}}__Type" })
                                @Html.DropDownListFor(m => m.Equipment.NewEquipment[0].Type,
                                (Model.EquipmentTypes).Select(x => new SelectListItem { Value = x.Type, Text = x.Description }),
                                new { id = "Equipment_NewEquipment_{{$index}}__Type", Name = "Equipment.NewEquipment[{{$index}}].Type", @class = "form-control", ng_model = "item.type" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Equipment.NewEquipment[0].Description, new { @for = "Equipment_NewEquipment_{{$index}}__Description" })
                                <div class="control-group">
                                    @Html.TextBoxFor(m => m.Equipment.NewEquipment[0].Description, new { id = "Equipment_NewEquipment_{{$index}}__Description", Name = "Equipment.NewEquipment[{{$index}}].Description", @class = "form-control dealnet-input date-input", placeholder = Resources.Description, ng_model = "item.description" })
                                    @Html.ValidationMessageFor(m => m.Equipment.NewEquipment[0].Description, "", new { data_valmsg_for = "Equipment.NewEquipment[{{$index}}].Description", @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Equipment.NewEquipment[0].Cost, new { @for = "Equipment_NewEquipment_{{$index}}__Cost" })
                                <div class="control-group has-addon-left">
                                    <div class="control-group-addon">$</div>
                                    @Html.TextBoxFor(m => m.Equipment.NewEquipment[0].Cost, new { id = "Equipment_NewEquipment_{{$index}}__Cost", Name = "Equipment.NewEquipment[{{$index}}].Cost", @class = "form-control dealnet-input date-input equipment-cost", type="text", placeholder = Resources.Cost, ng_change = "calculateLoanValues();", ng_model = "item.cost" })
                                    @Html.ValidationMessageFor(m => m.Equipment.NewEquipment[0].Cost, "", new { data_valmsg_for = "Equipment.NewEquipment[{{$index}}].Cost", @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="align-middle dealnet-info-link add-equip-link" ng-click="addActiveEquipment()">
                        <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
                        <span>@Resources.AddAdditionalEquipment</span>
                    </div>
                    <hr>

                    <div class="row form-group">
                        <div class="col-xs-7">
                            Total Price of Equipment
                        </div>
                        <div class="col-xs-5 text-right text-semibold">
                            $ 22,400.00
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-7">
                            HST
                        </div>
                        <div class="col-xs-5 text-right text-semibold">
                            $ 2,400.00
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-7">
                            Total Cash Price
                        </div>
                        <div class="col-xs-5 text-right text-semibold">
                            $ 22,459.95
                        </div>
                    </div>
                    <h3 class="dealnet-middle-header">Financing Options</h3>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Plan
                        </div>
                        <div class="col-xs-6">
                            <select name="" id="" class="form-control">
                                <option value="">- not selected -</option>
                                <option value="">Fixed Rate</option>
                                <option value="">Deferral</option>
                                <option value="">Custom</option>
                                <option value="">No Interest</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Loan/Amortization Term
                        </div>
                        <div class="col-xs-6">
                            <select name="" id="" class="form-control">
                                <option value="">- not selected -</option>
                                <option value="">36/36</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Down Payment
                        </div>
                        <div class="col-xs-6">
                            <div class="control-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Defferal Period
                        </div>
                        <div class="col-xs-6 text-right text-semibold">
                            -
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Customer Rate
                        </div>
                        <div class="col-xs-6 text-right text-semibold">
                            7.99%
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            Your Cost
                        </div>
                        <div class="col-xs-6 text-right text-semibold">
                            0%
                        </div>
                    </div>

                    <hr>

                    <div class="table-rows-hold">
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Admin Fee
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 39.95
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Monthly Payment
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 300.89
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Cost of Borrowing
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 1229.85
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Your Cost
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 0
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Total Amount Financed
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 6139.95
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Total of All Monthly Payments
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 300.89
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Balance Owing at the End of Monthly Payments
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 1229.85
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Total Obligation
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 0
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">
                                Total Obligation
                            </div>
                            <div class="col-xs-6 text-right text-semibold">
                                $ 0
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a href="#" class="btn dealnet-button dealnet-link-button">Save to Draft</a>
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn dealnet-button dealnet-link-button">Create new application now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well success-well">
        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
        You will be able to use this information when creating new application. <a href="#">Create new application now</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Customer Email</label>
                <div class="control-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn dealnet-button dealnet-success-button" style="margin-top: 27px;">Send Quote to Customer</button>
        </div>
    </div>
    }
</div>

@section OutrunningScripts
{
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
}

@section scripts
{


<script type="text/javascript">
    var app = angular.module("calculator", []);

    app.directive('resetForm', function() {
        return {
            link: function($scope, element, attrs) {
                var watch = $scope.$watch(function() {
                    return element.children().length;
                }, function() {
                    $scope.$evalAsync(function() {
                        var form = element.parent().closest('form');
                        updateModalHeightIpad();
                        addIconsToFields();
                        toggleClearInputIcon();
                        customizeSelect();
                    });
                });
            }
        };
    });

    app.controller("calculator", function($scope) {
        $scope.isMobileMode = false;
        var defaultEquipmentType = '@Model.EquipmentTypes.First().Type';
        var defaultDefferalType = '@(Convert.ChangeType((((LoanDeferralType[])Enum.GetValues(typeof(LoanDeferralType))).First()), Enum.GetUnderlyingType(typeof(LoanDeferralType))))';
        $scope.compareStates = [];
        $scope.activeTabIndex = 0;
        $scope.activeDeferralType = defaultDefferalType;
        $scope.activeEquipment = [];
        $scope.calcIndex = 0;
        $scope.calcList = [];
        $scope.addCalculator = function() {
            if($scope.calcList.length <= 2){
                $scope.calcList.push($scope.calcIndex);
            }
            $scope.calcIndex++;

        }
        $scope.addCalculator($scope.calcIndex);
        $scope.addActiveEquipment = function() {
            $scope.activeEquipment.push({
                type: defaultEquipmentType,
                description: '',
                cost: ''
            });
        }
        $scope.removeCalculator = function(calcNumber) {
            console.log('calcNumber ' , calcNumber-1);
            console.log($scope.calcList);
            $scope.calcList.splice(calcNumber-1, 1);
            console.log($scope.calcList);
            return false;
        };
        $scope.removeActiveEquipment = function(index) {
            $scope.activeEquipment.splice(index, 1);
            $scope.calculateLoanValues();
        }
        $scope.addActiveEquipment();

        $scope.resetDisplayedValues = function(index) {
            $scope['displayedEquipmentType' + index] = '-';
            $scope['displayedEquipmentDescription' + index] = '-';
            $scope['displayedEquipmentCashPrice' + index] = '-';
            $scope['displayedHst' + index] = '-';
            $scope['displayedTotalCashPrice' + index] = '-';
            $scope['displayedTotalAmountFinanced' + index] = '-';
            $scope['displayedTotalMonthlyPayment' + index] = '-';
            $scope['displayedTotalAllMonthlyPayments' + index] = '-';
            $scope['displayedResidualBalance' + index] = '-';
            $scope['displayedTotalObligation' + index] = '-';
            $scope['displayedTotalBorrowingCost' + index] = '-';
        };
    });

    $(document)
        .ready(function() {
            toggleClearInputIcon();
            initSlider();
            $(window).on('resize', function(){
                initSlider()
            });

        });

    function initSlider() {
        if(viewport().width <= 1023){
            $('.calculators-container .rate-cards-container').not('.slick-initialized').slick({
                infinite: false,
                dots: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: false
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: false
                        }
                    }
                ]
            });
        }else {
            if($('.calculators-container .rate-cards-container').is('.slick-initialized')){
                $('.rate-cards-container').slick("unslick");
            }
        }
    }



</script>
}
