@using DealnetPortal.Web.Models.Enumeration
@model DealnetPortal.Web.Models.StandaloneCalculatorViewModel

<div class="calculator-redesigned standalone-calculator">

    <div class="dealnet-large-header centred-header">@Resources.Calculator</div>
    <div class="calculators-container centred-body">
        <div class="jcarousel-wrapper rate-cards-container steps-carousel">
            <div class="jcarousel">
                <ul no-wrap="noWrapSlides" id="options-container">
                    <li class="rate-card-col" id="option1-container">
                        <h2 class="dealnet-middle-header calculator-heading">
                            <span id="option1-header">@Resources.Option 1</span>
                            <span class="calculator-remove" id="option1-remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </h2>
                        <form class="rate-card table-mode">
                            <div class="equipments-hold">
                                <div class="equipment-item" id="option1-equipment-0">
                                    <div class="dealnet-middle-header equipment-heading">
                                        <span>@Resources.Equipment  <span class="equipment-number">№1</span></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Equipment.NewEquipment[0].Type)
                                        @Html.DropDownListFor(m => m.Equipment.NewEquipment[0].Type, Model.EquipmentTypes.Select(x => new SelectListItem { Value = x.Type, Text = x.Description }), new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Equipment.NewEquipment[0].Description)
                                        <div class="control-group">
                                            @Html.TextBoxFor(m => m.Equipment.NewEquipment[0].Description, new { @class = "form-control dealnet-input date-input", placeholder = Resources.Description })
                                            @Html.ValidationMessageFor(m => m.Equipment.NewEquipment[0].Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Equipment.NewEquipment[0].Cost)
                                        <div class="control-group has-addon-left">
                                            <div class="control-group-addon">$</div>
                                            @Html.TextBoxFor(m => m.Equipment.NewEquipment[0].Cost, new { @class = "form-control dealnet-input date-input equipment-cost", type = "text", placeholder = Resources.Cost })
                                            @Html.ValidationMessageFor(m => m.Equipment.NewEquipment[0].Cost, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-link blue add-equip-link" id="option1-addEquipment">
                                <svg aria-hidden="true" class="icon icon-add-app"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-add-app")"></use></svg>
                                <span>@Resources.AddAdditionalEquipment</span>
                            </div>
                            <hr>
                            @Html.Partial("Calculator/_RateCard", Model)
                        </form>
                    </li>
                </ul>
                <div class="jcarousel-controls">
                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <p class="jcarousel-pagination"></p>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-add-calc col-sm-6 col-xs-12" id="first-add-button">
                <button class="btn btn-green btn-add-calc-option" type="button">@Resources.AddAnotherOption</button>
            </div>
            <div class="control-add-calc col-sm-6 col-xs-12" id="second-add-button">
                <button class="btn btn-green btn-add-calc-option hidden" type="button">@Resources.AddAnotherOption</button>
            </div>
        </div>
    </div>
</div>

@*  REDESIGN
    <div class="nw-calculator-wp">
    <div class="nw-calculator">
        <div class="nw-calculator__header">
            <div class="nw-calculator__header__title">Preview (calculator)</div>
            <div class="nw-calculator__header__learn-more"><i class="lamp-ico"></i><a>Learn more about this page</a></div>
        </div>
        <div class="nw-calculator__content">
            <div class="nw-calculator-option">
                <div class="nw-calculator-option__title">
                    <span>Option 1</span>
                    <div class="icon-link-grey"><a>Delete option</a></div>
                </div>
                <div class="nw-calculator-option__info-block">
                    <div class="nw-calculator-option__info-block__title">
                        Project info #1
                    </div>
                    <span class="nw-calculator-option__info-block__name">Type of project</span>
                    <span class="nw-calculator-option__info-block__value">Air conditioner</span>
                    <span class="nw-calculator-option__info-block__name">Description</span>
                    <span class="nw-calculator-option__info-block__value">Model AR89-0334-678</span>
                    <span class="nw-calculator-option__info-block__name">Cost</span>
                    <span class="nw-calculator-option__info-block__value">$ 1,200.00</span>
                </div>
                <div class="nw-calculator-option__info-block">
                    <div class="nw-calculator-option__info-block__title">
                        Project info #2
                    </div>
                    <span class="nw-calculator-option__info-block__name">Type of project</span>
                    <span class="nw-calculator-option__info-block__value">Air conditioner</span>
                    <span class="nw-calculator-option__info-block__name">Description</span>
                    <span class="nw-calculator-option__info-block__value">Model AR89-0334-678</span>
                    <span class="nw-calculator-option__info-block__name">Cost</span>
                    <span class="nw-calculator-option__info-block__value">$ 1,200.00</span>
                </div>
                <div class="nw-calculator-option__data-block">
                    <span class="nw-calculator-option__info-block__name">Cost of borrowing</span>
                    <span class="nw-calculator-option__info-block__value">$ 3,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Loan/amortization term</span>
                    <span class="nw-calculator-option__info-block__value">36/36</span>
                    <span class="nw-calculator-option__info-block__name">Down payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 2,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Customer rate</span>
                    <span class="nw-calculator-option__info-block__value">3 %</span>
                    <span class="nw-calculator-option__info-block__name">Total amount financed</span>
                    <span class="nw-calculator-option__info-block__value">$ 4,000.89</span>
                    <span class="nw-calculator-option__info-block__name">Monthly payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 300.89</span>
                </div>
            </div>

            <div class="nw-calculator-option">
                <div class="nw-calculator-option__title">
                    <span>Option 1</span>
                    <div class="icon-link-grey"><a>Delete option</a></div>
                </div>
                <div class="nw-calculator-option__info-block">
                    <div class="nw-calculator-option__info-block__title">
                        Project info #1
                    </div>
                    <span class="nw-calculator-option__info-block__name">Type of project</span>
                    <span class="nw-calculator-option__info-block__value">Air conditioner</span>
                    <span class="nw-calculator-option__info-block__name">Description</span>
                    <span class="nw-calculator-option__info-block__value">Model AR89-0334-678</span>
                    <span class="nw-calculator-option__info-block__name">Cost</span>
                    <span class="nw-calculator-option__info-block__value">$ 1,200.00</span>
                </div>
 
                <div class="nw-calculator-option__data-block">
                    <span class="nw-calculator-option__info-block__name">Cost of borrowing</span>
                    <span class="nw-calculator-option__info-block__value">$ 3,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Loan/amortization term</span>
                    <span class="nw-calculator-option__info-block__value">36/36</span>
                    <span class="nw-calculator-option__info-block__name">Down payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 2,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Customer rate</span>
                    <span class="nw-calculator-option__info-block__value">3 %</span>
                    <span class="nw-calculator-option__info-block__name">Total amount financed</span>
                    <span class="nw-calculator-option__info-block__value">$ 4,000.89</span>
                    <span class="nw-calculator-option__info-block__name">Monthly payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 300.89</span>
                </div>
            </div>

            <div class="nw-calculator-option">
                <div class="nw-calculator-option__title">
                    <span>Option 1</span>
                    <div class="icon-link-grey"><a>Delete option</a></div>
                </div>
                <div class="nw-calculator-option__info-block">
                    <div class="nw-calculator-option__info-block__title">
                        Project info #1
                    </div>
                    <span class="nw-calculator-option__info-block__name">Type of project</span>
                    <span class="nw-calculator-option__info-block__value">Air conditioner</span>
                    <span class="nw-calculator-option__info-block__name">Description</span>
                    <span class="nw-calculator-option__info-block__value">Model AR89-0334-678</span>
                    <span class="nw-calculator-option__info-block__name">Cost</span>
                    <span class="nw-calculator-option__info-block__value">$ 1,200.00</span>
                </div>
 
                <div class="nw-calculator-option__data-block">
                    <span class="nw-calculator-option__info-block__name">Cost of borrowing</span>
                    <span class="nw-calculator-option__info-block__value">$ 3,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Loan/amortization term</span>
                    <span class="nw-calculator-option__info-block__value">36/36</span>
                    <span class="nw-calculator-option__info-block__name">Down payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 2,000.00</span>
                    <span class="nw-calculator-option__info-block__name">Customer rate</span>
                    <span class="nw-calculator-option__info-block__value">3 %</span>
                    <span class="nw-calculator-option__info-block__name">Total amount financed</span>
                    <span class="nw-calculator-option__info-block__value">$ 4,000.89</span>
                    <span class="nw-calculator-option__info-block__name">Monthly payment</span>
                    <span class="nw-calculator-option__info-block__value">$ 300.89</span>
                </div>
            </div>
        </div>
        <div class="nw-calculator__footer">
            <div class="new-input-group">
                <div class="custom-text-input-group">
                    <input type="text" name="yourName" required>
                    <label>Customer email</label>
                </div>
            </div>
            <div class="new-btn-solid-green"><span>Clear</span></div>
            <div class="new-btn-solid-red"><span>Apply</span></div>
        </div>
    </div>
</div>*@

@Html.Partial("Calculator/_EquipmentTemplate", Model)
<div class="hidden">
    @Html.DropDownList("hiddenCustomDropdown",
            EnumHelper.GetSelectList(typeof(LoanDeferralType)),
            new { @class = "form-control hidden", @id = "deferralDropdownForCustomRc" })
    @Html.DropDownList("deferralDropdownForDeferralRc", Model.DeferralPeriods.Select(x => new SelectListItem { Value = x.Key, Text = x.Value }), new { @class = "hidden" })
    @Html.HiddenFor(x => x.RateCardProgramsAvailable, new { id = "programs-available" });
    @Html.HiddenFor(x => x.DealerTier.PassAdminFee, new { id = "isPassAdminFee" })
</div>

@section Translations
{
    translations['TotalMonthlyPaymentMustBeGreaterZero'] = "@Html.Raw(Resources.TotalMonthlyPaymentMustBeGreaterZero)";
    translations['loanTermMax'] = "@Resources.LoanTermMustBe3Max";
    translations['loanTermFormat'] = "@Resources.LoanTermIncorrectFormat";
    translations['amortTermMax'] = "@Resources.AmortizationTermMustBe3Max";
    translations['amortTermFormat'] = "@Resources.AmortizationTermIncorrectFormat";
    translations['adminFeeFormat'] = "@Resources.AdminFeeIncorrectFormat";
    translations['customerRateFormat'] = "@Resources.CustomerRateIncorrectFormat";
    translations['yourCostFormat'] = "@Resources.YourRateIncorrectFormat";
    translations['customerOrYourCost'] = "@Resources.CustomerOrYourCostRequired";
    translations['enterZero'] = "@Resources.PleaseEnterAtLeastZero";
    translations['EnterValidDate'] = "@Resources.EnterValidDate";
    translations['downPaymentInvalidFormat']='@Resources.DownPaymentIncorrectFormat';
    translations['tax']='@Resources.Tax';
    translations['coveredByCustomer'] = "@Resources.CoveredByCustomer";
    translations['coveredByDealer'] = "@Resources.CoveredByDealer";
    translations['noReduction'] = "@Html.Raw(Resources.NoReduction)";
    translations['for'] = "@Resources.For";
}


<script type="text/javascript">
    var taxRate = '0';
    var customerFee = @Model.AdminFee;
    var TotalAmtFinancedFor180amortTerm = @Model.TotalAmountFinancedFor180AmortTerm;
</script>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/localization")
    @Scripts.Render("~/bundles/standalone-calculator")

    <script type="text/javascript">
        configInitialized.then(function() {
            module.require('calculator.init').init(
                @Html.Raw(Json.Encode(Model.Plans)),
                @Html.Raw(Json.Encode(Model.DealerTier.RateCards)),
                @Html.Raw(Json.Encode(Model.ProvinceTaxRates)),
                @Html.Raw(Json.Encode(Model.DealerTier.RateReductionCards)));
        });
    </script>
}


