<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="HandheldFriendly" content="true">
    <title>@ViewBag.Title - DealNet</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet"  type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/dealnet")
    <link rel="stylesheet/less" type="text/css" href="~/Content/less/main.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
</head>
<body class="@(User.Identity.IsAuthenticated ? "authorized" : "no-authorized")">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <nav class="navbar navbar-inverse navbar-fixed-side">
                    <div class="navbar-header">
                        @if (User.Identity.IsAuthenticated)
                            {
                        <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block">
                                <button class="navbar-toggle pull-left" data-target=".navbar-collapse" data-toggle="collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                        </div>
                        <div>
                            <div class="dealnet-image-ecologo main-logo">
                            </div>
                        </div>
                            }
                        <div>
                            <div class="hidden-md hidden-lg visible-xs-inline-block visible-sm-inline-block dealnet-login-buttons-holder pull-right">
                                @Html.Partial("LoginButtons")
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {

                    <div class="collapse navbar-collapse" aria-expanded="false">
                        <div class="dealnet-sidebar-header">
                            <div class="dealnet-image-ecologo">
                            </div>
                            <button class="navbar-toggle pull-right" data-target=".navbar-collapse" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        @if (Request.IsAuthenticated)
                        {
                            {
                            @*@Html.AntiForgeryToken()*@
                                <div class="dealnet-sidebar-user">
                                    <span class="icon-circle-hold">
                                        <svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
                                    </span> @User.Identity.Name
                                </div>

                            }
                        }

                        <ul class="nav navbar-nav">
                            <li class="dealnet-sidebar-item" id="sidebar-item-homepage">
                                <div class="dealnet-sidebar-item-inner dealnet-sidebar-image">
                                    <svg aria-hidden="true" class="icon icon-home"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-home")"></use></svg>
                                </div>
                                <div class="dealnet-sidebar-item-inner">@Html.ActionLink("Home page", "Index", "Home", null, new { @class = "dealnet-link" })</div>
                            </li>
                            <li class="dealnet-sidebar-item" id="sidebar-item-newrental">
                                <div class="dealnet-sidebar-item-inner dealnet-sidebar-image">
                                    <svg aria-hidden="true" class="icon icon-new-rental-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-new-rental-side")"></use></svg>
                                </div>
                                <div class="dealnet-sidebar-item-inner">@Html.ActionLink("New Application", "BasicInfo", "NewRental", null, new { @class = "dealnet-link" })</div>
                            </li>
                            <li class="dealnet-sidebar-item" id="sidebar-item-mydeals">
                                <div class="dealnet-sidebar-item-inner dealnet-sidebar-image">
                                    <svg aria-hidden="true" class="icon icon-my-deals-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-my-deals-side")"></use></svg>
                                </div>
                                <div class="dealnet-sidebar-item-inner">@Html.ActionLink("My deals", "Index", "MyDeals", null, new { @class = "dealnet-link" })</div>
                            </li>
                            <li class="dealnet-sidebar-item" id="sidebar-item-reports">
                                <div class="dealnet-sidebar-item-inner dealnet-sidebar-image">
                                    <svg aria-hidden="true" class="icon icon-reports-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-reports-side")"></use></svg>
                                </div>
                                <div class="dealnet-sidebar-item-inner">@Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "dealnet-link" })</div>
                            </li>
                            <li class="dealnet-sidebar-item" id="sidebar-item-about">
                                <div class="dealnet-sidebar-item-inner dealnet-sidebar-image">
                                    <svg aria-hidden="true" class="icon icon-info"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info")"></use></svg>
                                </div>
                                <div class="dealnet-sidebar-item-inner">@Html.ActionLink("About", "About", "Home", null, new { @class = "dealnet-link" })</div>
                            </li>
                        </ul>

                        <div class="dealnet-sidebar-logout">
                            <div class="dealnet-sidebar-item">
                                @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "dealnet-link" })
                            </div>
                        </div>

                    </div>
                    }
                </nav>
            </div>

            <div class="col-md-8 col-lg-10">
                <div class="row dealnet-page-header visible-md-block visible-lg-block">
                    <div class="col-lg-12 col-md-12  visible-md-block visible-lg-block">
                        @Html.Partial("LoginButtons")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="@(User.Identity.IsAuthenticated ? "col-md-9 col-lg-10 col-md-offset-3 col-lg-offset-2 dealnet-body-container" : "col-md-12 col-lg-12")">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 dealnet-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>

    <div id="alertModal" class="modal fade modal-wide">
        <div class="modal-dialog modal-warning">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <div class="btn-container">
                    <button type="button" class="btn dealnet-button dealnet-success-button block-button big-button" id="confirmAlert">Yes</button>
                    <button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
