<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dealnet")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 dealnet-page-header">
                <div class="col-md-2 dealnet-page-header-logo">
                    <span class="dealnet-image-ecologo"></span>
                </div>
                <div class="dealnet-page-header-login">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <span class="dealnet-button-holder">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "dealnet-link" })</span>
                            <span class="dealnet-button-holder">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "dealnet-link" })</span>
                        }
                        else
                        {
                            <span class="dealnet-button-holder">@($"Welcome, {User.Identity.Name}!")</span>
                            <span class="dealnet-button-holder">
                                @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "dealnet-link" })</span>
                            }
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 dealnet-page-sidebar">
                <div class="dealnet-sidebar-item" id="sidebar-item-homepage">
                    <div class="dealnet-sidebar-item-inner dealnet-sidebar-image dealnet-image-homepage"></div>
                    <div class="dealnet-sidebar-item-inner">@Html.ActionLink("Home page", "Index", "Home", null, new { @class = "dealnet-link" })</div>
                </div>
                <div class="dealnet-sidebar-item" id="sidebar-item-newrental">
                    <div class="dealnet-sidebar-item-inner dealnet-sidebar-image dealnet-image-newrental"></div>
                    <div class="dealnet-sidebar-item-inner">@Html.ActionLink("New rental", "BasicInfo", "NewRental", null, new { @class = "dealnet-link" })</div>
                </div>
                <div class="dealnet-sidebar-item" id="sidebar-item-checkcredit">
                    <div class="dealnet-sidebar-item-inner dealnet-sidebar-image dealnet-image-checkcredit"></div>
                    <div class="dealnet-sidebar-item-inner">@Html.ActionLink("Credit check", "Contact", "Home", null, new { @class = "dealnet-link" })</div>
                </div>
                <div class="dealnet-sidebar-item" id="sidebar-item-mydeals">
                    <div class="dealnet-sidebar-item-inner dealnet-sidebar-image dealnet-image-mydeals"></div>
                    <div class="dealnet-sidebar-item-inner">@Html.ActionLink("My deals", "Login", "Account", null, new { @class = "dealnet-link" })</div>
                </div>
                <div class="dealnet-sidebar-item" id="sidebar-item-reports">
                    <div class="dealnet-sidebar-item-inner dealnet-sidebar-image dealnet-image-reports"></div>
                    <div class="dealnet-sidebar-item-inner">@Html.ActionLink("Reports", "Register", "Account", null, new { @class = "dealnet-link" })</div>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>

            @RenderSection("Scripts", false)
        </div>
    </div>
</body>
</html>
