@using DealnetPortal.Api.Common.Helpers
@using DealnetPortal.Web.Common
@using DealnetPortal.Web.Infrastructure
<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title - DealNet</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet" type='text/css'>

    @RenderSection("Styles", false)
    <script type="text/javascript">
        //Next two lines for IE (God Damn It! What is that shit made of?!)
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () { };
        var urlContent = "@Url.Content("~/")";
        var translations = {};
        translations['IfYouChangeInfo'] = "@Resources.IfYouChangeInfo";
        translations['NavigateToStep'] = "@Resources.NavigateToStep";
        translations['GoToStep'] = "@Resources.GoToStep";
        @RenderSection("Translations", false)
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dealnet")
    @switch (ApplicationSettingsManager.PortalType)
    {
        case PortalType.Ecohome:
        default:
            <link rel="stylesheet/less" type="text/css" href="~/Content/less/main.less">
            <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
            break;
        case PortalType.Odi:
            <link rel="stylesheet/less" type="text/css" href="~/Content/less/main-dealer.less">
            <link rel="shortcut icon" href="~/favicon-dealer.ico?=1" type="image/x-icon" />
            break;
    }
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    @Html.Raw(System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsScript"])
</head>
@{
    string themeClass;
    switch (ApplicationSettingsManager.PortalType)
    {
        case PortalType.Ecohome:
        default:
            themeClass = "";
            break;
        case PortalType.Odi:
            themeClass = "theme-one-dealer";
            break;
    }
}

<body class="@(User.Identity.IsAuthenticated ? "authorized" : "no-authorized") @themeClass">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse navbar-fixed-side">
                    <div class="navbar-header">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="burger-hold">
                                <button class="navbar-toggle pull-left" data-target=".navbar-collapse" data-toggle="collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="dealnet-image-ecologo main-logo"></div>
                        }
                        <div class="user-hold">
                            <div class="dealnet-login-buttons-holder pull-right">
                                @Html.Partial("LoginButtons")
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <div class="lang-switcher pull-right">
                                <div class="chosen-language">
                                    <div class="lang-item">
                                        @switch (CultureHelper.CurrentCultureType)
                                        {
                                            case CultureType.English:
                                                @:<span class="flag-icon english-flag"></span>
                                                    break;
                                            case CultureType.French:
                                                @:<span class="flag-icon french-flag"></span>
                                                    break;
                                        }
                                        <a href="#" class="chosen-language-link">
                                            @switch (CultureHelper.CurrentCultureType)
                                            {
                                                case CultureType.English:
                                                    @:English
                                                    break;
                                                case CultureType.French:
                                                    @:Français
                                                    break;
                                            }
                                            <span class="caret"></span>
                                        </a>
                                    </div>
                                </div>
                                <ul class="lang-list">
                                    @if (CultureHelper.CurrentCultureType != CultureType.English)
                                    {
                                        <li class="lang-item active">
                                            <span class="flag-icon english-flag"></span>
                                            @Html.ActionLink("English", "ChangeCulture", "Home", new {culture = "en"}, new {@class = "lang-link"})
                                        </li>
                                    }
                                    @if (CultureHelper.CurrentCultureType != CultureType.French)
                                    {
                                        <li class="lang-item">
                                            <span class="flag-icon  french-flag"></span>
                                            @Html.ActionLink("Français", "ChangeCulture", "Home", new {culture = "fr"}, new {@class = "lang-link"})
                                        </li>
                                    }
                                </ul>
                            </div>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
            <div class="dealnet-sidebar collapse navbar-collapse" aria-expanded="false">
                <div class="sidebar-inner">
                    <div class="dealnet-sidebar-header">
                        <div class="dealnet-image-ecologo">
                        </div>
                        <button class="navbar-toggle pull-right" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                    {
                    @*@Html.AntiForgeryToken()*@
                    <div class="dealnet-sidebar-user">
                        <span class="icon-circle-hold">
                            <svg aria-hidden="true" class="icon icon-user"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-user")"></use></svg>
                        </span> @User.Identity.Name
                    </div>

                    }
                    }
                    <ul class="nav nav-sidebar">
                        <li class="dealnet-sidebar-item" id="sidebar-item-homepage">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-home"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-home")"></use></svg></span>
                            @Html.ActionLink(Resources.HomePage, "Index", "Home", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item" id="sidebar-item-newrental">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-new-rental-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-new-rental-side")"></use></svg></span>
                            @Html.ActionLink(Resources.NewApplication, "BasicInfo", "NewRental", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item" id="sidebar-item-mydeals">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-my-deals-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-my-deals-side")"></use></svg></span>
                            @Html.ActionLink(Resources.MyDeals, "Index", "MyDeals", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item" id="sidebar-item-reports">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-reports-side"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-reports-side")"></use></svg></span>
                            @Html.ActionLink(Resources.Reports, "Index", "Reports", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item" id="sidebar-item-calculator">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-calculator"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-calculator")"></use></svg></span>
                            @Html.ActionLink(Resources.Calculator, "Index", "Calculator", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-share-link"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-share-link")"></use></svg></span>
                            @Html.ActionLink("Shareable Link", "About", "Home", null, new { @class = "dealnet-sidebar-link" })
                        </li>
                        <li class="dealnet-sidebar-item" id="sidebar-item-about">
                            <span class="sidebar-icon"><svg aria-hidden="true" class="icon icon-info"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info")"></use></svg></span>
                            @Html.ActionLink(Resources.AboutUs, "About", "Home", null, new {@class = "dealnet-sidebar-link"})
                        </li>
                    </ul>


                    <div class="sidebar-bottom">
                        <div class="dealnet-sidebar-item">
                            <div class="sidebar-lang-item">
                                @switch (CultureHelper.CurrentCultureType)
                                {
                                case CultureType.English:
                                @:<span class="sidebar-icon"><span class="flag-icon french-flag"></span></span>
                                @:@Html.ActionLink("Switch to French", "ChangeCulture", "Home", new { culture = "fr" }, new { @class = "dealnet-sidebar-link" })
                                break;
                                case CultureType.French:
                                @:<span class="sidebar-icon"><span class="flag-icon english-flag"></span></span>
                                @:@Html.ActionLink("Switch to English", "ChangeCulture", "Home", new { culture = "en" }, new { @class = "dealnet-sidebar-link" })
                                break;
                                }

                            </div>
                        </div>
                        <div class="dealnet-sidebar-item">
                            @Html.ActionLink(Resources.Logout, "LogOff", "Account", null, new { @class = "dealnet-sidebar-link no-icon" })
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="@(User.Identity.IsAuthenticated ? "col-md-9 col-lg-10 col-md-offset-3 col-lg-offset-2 dealnet-body-container" : "col-md-12 col-lg-12")">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 dealnet-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>

<div id="alertModal" class="modal fade modal-wide">
    <div class="modal-dialog modal-warning">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <div class="btn-container">
                    <button type="button" class="btn dealnet-button dealnet-success-button block-button big-button" id="confirmAlert">@Resources.Yes</button>
                    <button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">@Resources.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

    @RenderSection("Scripts", false)
</body>
</html>
