@using DealnetPortal.Api.Core.Helpers
@using DealnetPortal.Web.Models.Enumeration
@using System.Security.Claims;
@using DealnetPortal.Web.Infrastructure.Managers

<!DOCTYPE html>

<html lang="@(CultureHelper.CurrentCultureType == CultureType.English ? "en-CA" : "fr-CA")">
<!--[if IE 9 ]><html lang="@(CultureHelper.CurrentCultureType == CultureType.English ? "en-CA" : "fr-CA")" class="ie9"><![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title - DealNet</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,700,800" rel="stylesheet">
    @RenderSection("Styles", false)
    @switch(ApplicationSettingsManager.PortalType)
    {
        case PortalType.Odi:
            @Styles.Render("~/Content/less/main-dealer.less")
            break;
        default:
            @Styles.Render("~/Content/less/main.less")
            break;
    }
    @Styles.Render("~/bundles/styles")
    <link rel="shortcut icon" href="@Url.Action("Favicon", "Settings", new { version = DateTime.Now.Ticks.ToString(), hashDealerName = ViewBag.HashDealerName as string })" type="image/x-icon" />
    <script type="text/javascript">
        var urlContent = "@Url.Content("~/")";
        var layotSettingsUrl = "@(User.Identity.IsAuthenticated ? Url.Action("LayoutSettings", "Home") : null)";
		var customerDealsCountUrl = "@(User.Identity.IsAuthenticated ? Url.Action("CustomersDealsCount", "Home") : null)";
        var SupportUrl = "@(User.Identity.IsAuthenticated ? Url.Action("DealerSupportRequestEmail", "Home") : null)";
        @{
            var path = Request.Path.Contains("/en") || Request.Path.Contains("/fr") ? Request.Path.Substring(3) : Request.Path;
        }
        var changeToEnglishLink = '@Url.Action("ChangeCulture","Home",new { culture="en", redirectUrl = path })';
        var changeToFrenchLink = '@Url.Action("ChangeCulture","Home",new { culture="fr", redirectUrl = path })';
		var DealerName = "@User.Identity.Name";
        var translations = {};
        translations['IfYouChangeInfo'] = "@Resources.IfYouChangeInfo";
        translations['NavigateToStep'] = "@Resources.NavigateToStep";
        translations['GoToStep'] = "@Resources.GoToStep";
        translations['ThisFieldIsRequired'] = "@Resources.ThisFieldIsRequired";
        translations['EnterValidDate'] = "@Resources.EnterValidDate";
        translations['Cancel'] = "@Resources.Cancel";
        translations['new'] = '@Resources.New';
        @RenderSection("Translations", false)
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dealnet")
    @Scripts.Render("~/bundles/jqueryval")

    @switch(CultureHelper.CurrentCultureType)
    {
        case CultureType.French:
            <script type="text/javascript"
                    src="https://cdn.rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-fr.js">
            </script>
            <script type="text/javascript">
                $.datepicker.regional['fr'].dayNamesMin = ['di', 'lu', 'ma', 'me', 'je', 've', 'sa'];
                $.datepicker.regional['fr'].monthNamesShort = ["janvier", "février", "mars", "avril", "mai", "juin",
                    "juillet", "août", "septembre", "octobre", "novembre", "décembre"];
                $.datepicker.setDefaults($.datepicker.regional['fr']);
            </script>
            break;
    }

    @Html.Raw(System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsScript"])

</head>
@{
    string phone = (bool)((ClaimsPrincipal)User)?.HasClaim("QuebecDealer", "True") ?
                           System.Configuration.ConfigurationManager.AppSettings["QuebecDealerSupportPhone"] :
                           System.Configuration.ConfigurationManager.AppSettings["DealerSupportPhone"];
    string phoneToCall = phone.Replace("-", "");
}
<body class="@(User.Identity.IsAuthenticated ? "authorized" : "no-authorized")">
    <div class="body-dark-overlay"></div>
    <header>
        <div class="header__background">
            <div class="container">
                <div class="header__logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="header__logo-img" src="@Url.Action("LogoImage","Settings")" />
                    </a>
                </div>
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="header__right-panel hidden-xs">
                        <div class="visible-lg-block">
                            @if((bool?)TempData["LangSwitcherAvailable"] ?? false)
                            {
                                <div class="header__language">
                                    <select name="" id="language" class="header__select">
                                        <option value="en" @(CultureHelper.CurrentCultureType == CultureType.English ? "selected" : "")>
                                            En
                                        </option>
                                        <option value="fr" @(CultureHelper.CurrentCultureType == CultureType.French ? "selected" : "")>
                                            Fr
                                        </option>
                                    </select>
                                </div>
                            }
                            <div class="header__user">
                                <select name="" id="user_menu" class="header__select">
                                    <option value="11" selected>@User.Identity.Name</option>
                                    <option value="12">@Resources.Logout</option>
                                </select>
                            </div>
                        </div>
                        <div class="header__help">
                            @Resources.HowCanWeHelp
                            <div class="clearfix"></div>
                            <span class="header__phone">@phone</span>
                        </div>
                        <div class="clearfix visible-lg-block"></div>
                        <div class="header__support">
                            <ul class="header__support-links-list">
                                <li class="credit-funding-contact">
                                    <span class="icon-support"></span>
                                    <a href="#">
                                        @Resources.Credit
                                    </a>
                                </li>
                                <li class="dealer-support-contact">
                                    <span class="icon-dealer-support"></span>
                                    <a href="#">
                                        @Resources.DealerSupport
                                    </a>
                                </li>
                                <li class="customer-service-contact">
                                    <span class="icon-customer-service-support"></span>
                                    <a href="#">
                                        @Resources.CustomerService
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__actions-tablet visible-md-block visible-sm-block">

                        @if((bool?)TempData["LangSwitcherAvailable"] ?? false)
                        {
                            <select name="" id="language" class="header__select">
                                <option value="en" @(CultureHelper.CurrentCultureType == CultureType.English ? "selected" : "")>
                                    En
                                </option>
                                <option value="fr" @(CultureHelper.CurrentCultureType == CultureType.French ? "selected" : "")>
                                    Fr
                                </option>
                            </select>
                        }
                        <select name="" id="user_menu" class="header__select">
                            <option value="11" selected>@User.Identity.Name</option>
                            <option value="12">@Resources.Logout</option>
                        </select>
                    </div>
                    <div class="clearfix visible-md-block visible-sm-block"></div>
                    <nav class="header__navigation hidden-xs">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <span class="header__nav-icon icon-home"></span>
                                    <span>@Resources.HomePage</span>
                                </a>
                            </li>
                            <li>
                                <a id="sidebar-item-newrental" href="@Url.Action("BasicInfo", "NewRental")">
                                    <span class="header__nav-icon icon-new_document"></span>
                                    <span>@Resources.NewApplication</span>
                                </a>
                            </li>
                            @*<li>
                                    <a>
                                        <span class="header__nav-icon icon-new_document"></span>
                                        <span>New Rental</span>
                                    </a>
                                </li>*@
                            <li>
                                <a href="@Url.Action("Index", "Calculator")">
                                    <span class="header__nav-icon icon-calculator"></span>
                                    <span>@Resources.Calculator</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ShareableLink")">
                                    <span class="header__nav-icon icon-link"></span>
                                    <span>@Resources.ShareableLink</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "MyDeals")">
                                    <span class="header__nav-icon icon-deals"></span>
                                    <span>@Resources.MyDeals</span>
                                    <div class="notification">
                                        <div class="new-deals-number"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Leads")">
                                    <span class="header__nav-icon icon-cart"></span>
                                    <span>@Resources.Leads</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Library", "Home")">
                                    <span class="header__nav-icon icon-library"></span>
                                    <span>@Resources.Library</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Profile")">
                                    <span class="header__nav-icon icon-profile"></span>
                                    <span>@Resources.MyProfile</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile-help hidden-sm-up">
                        <span class="icon-how-can-we-help"></span>
                        <select name="select-help" id="mobile-help" class="mobile-help__select">
                            <option value="How can we help?" checked>@Resources.HowCanWeHelp</option>
                            <option value="Credit">@Resources.Credit</option>
                            <option value="Credit">@Resources.DealerSupport</option>
                            <option value="Credit">@Resources.CustomerService</option>
                        </select>
                    </div>
                    <nav class="mobile-navigation hidden-sm-up" id="mobile-navigation">
                        <div class="mobile-navigation__active-item">
                            <span class="mobile-navigation__nav-icon icon-home"></span>
                            <span id="mobile-current-page">
                                @switch(Request.RequestContext.RouteData.Values["controller"].ToString())
                                {
                                    case "NewRental":
                                        <text>@Resources.NewApplication</text>
                                        break;
                                    case "Home":
                                        if(Request.RequestContext.RouteData.Values["action"].ToString() == "Library")
                                        {
                                            <text>@Resources.Library</text>
                                        }
                                        else
                                        {
                                            <text>@Resources.HomePage</text>
                                        }
                                        break;
                                    case "Calculator":
                                        <text>@Resources.Calculator</text>
                                        break;
                                    case "ShareableLink":
                                        <text>@Resources.ShareableLink</text>
                                        break;
                                    case "MyDeals":
                                        <text>@Resources.MyDeals</text>
                                        break;
                                    case "Leads":
                                        <text>@Resources.Leads</text>
                                        break;
                                    case "Profile":
                                        <text>@Resources.MyProfile</text>
                                        break;
                                }
                            </span>

                        </div>

                        <div class="mobile-navigation__dropdown">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Home")">
                                        <span class="mobile-navigation__nav-icon icon-home"></span>
                                        <span>@Resources.HomePage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("BasicInfo", "NewRental")">
                                        <span class="mobile-navigation__nav-icon icon-new_document"></span>
                                        <span>@Resources.NewApplication</span>
                                    </a>
                                </li>
                                @*<li>
                                        <a>
                                            <span class="mobile-navigation__nav-icon icon-new_document"></span>
                                            <span>New Rental</span>
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="@Url.Action("Index", "Calculator")">
                                        <span class="mobile-navigation__nav-icon icon-calculator"></span>
                                        <span>@Resources.Calculator</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ShareableLink")">
                                        <span class="mobile-navigation__nav-icon icon-link"></span>
                                        <span>@Resources.ShareableLink</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "MyDeals")">
                                        <span class="mobile-navigation__nav-icon icon-deals"></span>
                                        <span>@Resources.MyDeals</span>
                                        <div class="notification">
                                            <div class="new-deals-number"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Leads")">
                                        <span class="mobile-navigation__nav-icon icon-cart"></span>
                                        <span>@Resources.Leads</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Library", "Home")">
                                        <span class="mobile-navigation__nav-icon icon-library"></span>
                                        <span>@Resources.Library</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Profile")">
                                        <span class="mobile-navigation__nav-icon icon-profile"></span>
                                        <span>@Resources.MyProfile</span>
                                    </a>
                                </li>
                            </ul>
                            @if((bool?)TempData["LangSwitcherAvailable"] ?? false)
                            {
                                <div class="mobile-navigation__action-block">
                                    <select name="" id="language" class="header__select">
                                        <option value="en" @(CultureHelper.CurrentCultureType == CultureType.English ? "selected" : "")>En</option>
                                        <option value="fr" @(CultureHelper.CurrentCultureType == CultureType.French ? "selected" : "")>Fr</option>
                                    </select>
                                </div>
                            }
                            <div class="mobile-navigation__user">
                                @User.Identity.Name
                                @Html.ActionLink(Resources.Logout, "LogOff", "Account", null, new { @class = "mobile-navigation__logout" })
                            </div>
                        </div>
                    </nav>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
    @if(((RazorView)ViewContext.View).ViewPath.Contains("Home/Index"))
    {
        var bannerLink = System.Configuration.ConfigurationManager.AppSettings["HomeBannerLink"];
        var bannerExists = !string.IsNullOrEmpty((string)ViewBag.Banner);

        if(bannerExists)
        {
            <div class="custom-container">
                <a class="main-banner" @(!string.IsNullOrEmpty(bannerLink) ? "href=" + bannerLink + " target=\"_blank\"" : "")>
                    <img src="@Url.Content(ViewBag.Banner)" />
                </a>
            </div>
            <div class="clearfix"></div>
        }
    }
    <div class="container-fluid custom-container">
        @RenderBody()
    </div>
    <footer></footer>
    <div id="alertModal" class="modal fade modal-wide">
        <div class="modal-dialog modal-warning">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-container">
                        <button type="button" class="btn dealnet-button dealnet-success-button block-button big-button" id="confirmAlert">@Resources.Yes</button>
                        <button type="button" class="btn dealnet-button dealnet-link-button block-button big-button" data-dismiss="modal">@Resources.Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floatingHelpBtn">
        <div id="email_buttons">

            @if(User.Identity.IsAuthenticated && ((User as ClaimsPrincipal)?.IsInRole("MortgageBroker") != true))
            {
                <div class="pull-right">

                    <i onclick="sendEmailModel();">
                        <button class="btn btn-lg btn-success helpbutton">
                            <svg aria-hidden="true" class="icon icon-help-page"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-help-page")"></use></svg>
                            @Resources.Help
                        </button>
                    </i>
                </div>
            }
        </div>
    </div>
    @Html.Partial("_HelpPopUp", new DealnetPortal.Web.Models.HelpPopUpViewModal())
    <!-- include: "type": "js", "files": "js/*.js" -->
    @RenderSection("Scripts", false)
    <!-- /include -->
</body>
</html>
