
@{
    ViewBag.Title = "Apply for financing";
}

<div class="customer-loan-page">
    <h2 class="dealnet-large-header">Apply for financing</h2>
    <div class="equipment-customer-section">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="">What equipment/service are you interested in?</label>
                    <div class="control-group">
                        <select class="form-control">
                            <option value="">-not selected-</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customer-loan-form-steps">
        <div class="panel customer-loan-form-panel active-panel" id="yourInfoPanel">
            <div class="panel-heading">
                <span class="panel-step">1</span>
                <h3 class="panel-title dealnet-middle-header">Your Information</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
            </div>
            <div class="panel-body" id="yourInfoForm" >
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">First Name</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="First Name" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Last Name</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Last Name" id="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Date of Birth</label>
                            <div class="control-group date-group">
                                <input type="text" class="form-control dealnet-input" id="birth-date-customer" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="">SIN (Social insurance number)</label>
                            <div class="control-group control-hidden-value">
                                <input type="password" class="form-control dealnet-input" placeholder="SIN (Social insurance number)" id="sin" autocomplete="new-password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed" id="installationAddressPanel">
            <div class="panel-heading">
                <span class="panel-step">2</span>
                <h3 class="panel-title dealnet-middle-header">Installation Address Information</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
            </div>
            <div class="panel-body" id="installationAddressForm">
                <div id="address">
                    <div class="row address-info1">
                        <div class="col-sm-9 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="street" class="mandatory-field">Street</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="St." id="street">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="unit_number" class="mandatory-field">Unit #</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="12345" id="unit">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="locality" class="mandatory-field">City</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="Ottawa" id="city">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="administrative_area_level_1" class="mandatory-field">Province</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="Nepean" id="province">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="postal_code" class="mandatory-field">Postal Code</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="12345" id="postalCode">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a href="#" class="dealnet-disabled-text clear-address" id="clearAddress">
                                <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Home Owner Information-->
                <div id="borrower-is-homeowner" class="form-group">
                    <label for="homeowner-checkbox" class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" id="homeowner-checkbox"/>
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <strong class="mandatory-field">I own this property</strong>
                    </label>
                </div>
                <!--Home Owner Information-->
                <!--Living time-->
                <div id="living-time" class="form-group">
                    <label for="living-time-checkbox" class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" id="living-time-checkbox" onChange="$(this).is(':checked') ? $('#previous-address').slideDown() : $('#previous-address').slideUp()"/>
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <strong>Lived at current address less than 6 month</strong>
                    </label>
                </div>
                <div id="previous-address" style="display: none;">
                    <h2 class="dealnet-middle-header no-margin-top">Previous Address Information</h2>
                    <div class="row address-info1">
                        <div class="col-sm-9 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="street" class="mandatory-field">Street</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="St.">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="unit_number" class="mandatory-field">Unit #</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="12345">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="locality" class="mandatory-field">City</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="Ottawa">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="administrative_area_level_1" class="mandatory-field">Province</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="Nepean">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="postal_code" class="mandatory-field">Postal Code</label>
                                <div class="control-group">
                                    <input type="text" class="form-control dealnet-input" placeholder="12345">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <a href="#" class="dealnet-disabled-text clear-address">
                                <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>Clear Address</span>
                            </a>
                        </div>
                    </div>
                    <div class="well danger-well over-aged-well" id="age-error-message">
                        <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                        @Resources.AtLeastOne75OrLess
                    </div>
                </div>
                <!--End Living time-->


            </div>
        </div>
        <div class="panel customer-loan-form-panel panel-collapsed">
            <div class="panel-heading">
                <span class="panel-step">3</span>
                <h3 class="panel-title dealnet-middle-header">Contact Information</h3>
                <span class="arrow"><i class="glyphicon"></i></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="">Home Phone</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Home Phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Cell Phone</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Cell Phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="">Business Phone</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Business Phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Email Address</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="" class="mandatory-field">Add Comment</label>
                            <div class="control-group">
                                <textarea name="" class="form-control" placeholder="Write your comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="agreement1" class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" id="agreement1"/>
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <strong class="mandatory-field">I agree to pass information to credit check</strong>
                    </label>
                </div>
                <div class="form-group">
                    <label for="agreement2" class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" id="agreement2"/>
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <strong class="mandatory-field">I agree that dealer or its representatives may contact me by email or phone</strong>
                    </label>
                </div>
                <div class="captcha-section">
                    <img src="~/Content/images/recaptcha.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="btn-proceed-inline-hold btn-form-common" data-toggle="popover" data-placement="top" title="" data-content="You should fill all mandatory fields">
            <button class="btn dealnet-success-button btn-proceed disabled btn-form-common">Submit Application</button>
        </div>
    </div>
</div>

<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@section scripts
{
    @Scripts.Render("~/bundles/customer-form")
}

