<div id="leads-body" data-bind="with: table">
    <div class="margin-block" data-bind="visible: list().length > 0" style="display:none;">
        <div class="row">
            <div class="filters my-deals-page">
                <div class="filters-head">
                    <div class="filters-head__title">@Resources.Leads</div>
                    <div class="filters-head__learn-more">
                        @*<i class="lamp-ico"></i>
                        <a data-bind="click:function(){showLearnMore(!showLearnMore());}">
                            <!-- ko if: showLearnMore -->
                            @Resources.Hide
                            <!-- /ko-->
                            <!-- ko ifnot: showLearnMore -->
                            @Resources.LearnMoreAboutThisPage
                            <!-- /ko -->
                        </a>*@
                    </div>
                    <div class="filters-head__search new-input-group">
                        <div class="custom-text-input-group">
                            <input type="text" name="search" required>
                            <label>Search</label>
                            <span class="search-ico"></span>
                        </div>
                    </div>
                    <div class="filters-head__clear-btn new-btn-grey" data-bind="click: clearFilters">
                        <span>@Resources.Clear</span>
                    </div>
                    <div class="filters-head__save-btn" data-bind="click: saveFilters">
                        <div class="new-btn-green">
                            <span>@Resources.Save</span>
                        </div>
                        <span class="save-btn-status">
                            <i class="checked-ico"></i>(@Resources.ForNextTime)
                        </span>
                    </div>
                    <div class="filters-head__divider"></div>
                    <div class="filters-head__filter-btn new-btn-red-filter" data-bind="click: toggleFilters">
                        <i class="filter-ico filter-ico--red"></i>
                        <span>@Resources.Filters</span>
                    </div>
                    <div class="filters-head__sort-btn new-sort-btn-red"><i class="sort-button-red-ico"></i><span>Sort</span></div>
                </div>
                <div class="filters-advanced" data-bind="visible: showFilters() || showSorters()">
                    <div class="filters-advanced__type new-input-group">
                        <div class="custom-select-wrap">
                            <label for="postal-code">@Resources.PostalCode</label>
                            <select data-bind="options:postalCodesOptions, selectric:postalCode"></select>
                        </div>
                    </div>
                    <div class="filters-advanced__status new-input-group">
                        <div class="custom-select-wrap">
                            <label for="pre-approved">@Resources.PreApprovedFor</label>
                            <select data-bind="options:preApprovedForOptions, selectric:preApprovedFor"></select>
                        </div>
                    </div>

                    <div class="filters-advanced__date-from new-input-group">
                        <div class="custom-text-input-group icon date-group">
                            <input type="text" class="date-input" required data-bind="datePicker: dateFrom, datePickerOptions: datePickerOptions">
                            <label>@Resources.DateFrom</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__date-to new-input-group">
                        <div class="custom-text-input-group icon date-group">
                            <input type="text" class="date-input" required data-bind="datePicker: dateTo, datePickerOptions: datePickerOptions">
                            <label>@Resources.DateTo</label>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>

                    <div class="filters-advanced__filters-cloud">
                        <div class="filters-advanced__contract-number">Contract number - ascending<i class="cross-ico"></i></div>
                        <div class="filters-advanced__deal-status">Deal status - <i class="info-ico info-ico--red"></i> to <i class="info-ico info-ico--grey"></i> <i class="cross-ico"></i></div>
                        <div class="filters-advanced__e-sign">E-sign status - <i class="sign-ico sign-ico--red"></i> to <i class="sign-ico sign-ico--grey"></i> <i class="cross-ico"></i></div>
                        <div class="filters-advanced__applicant-name">Applicant name from Z to A<i class="cross-ico"></i></div>
                        <div class="filters-advanced__last-activity">Last activity — latest<i class="cross-ico"></i></div>
                        <div class="filters-advanced__days-left">Days left from ... to 1<i class="cross-ico"></i></div>
                    </div>

                    <div class="filters-advanced__clear-btn new-btn-grey"><span>Clear</span></div>
                    <div class="filters-advanced__apply-btn new-btn-solid-red" data-bind="click: filterList">
                        <span>@Resources.Apply</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="margin-block">
            <div class="row">
                <div class="new-lead-notification-wp">
                    <div class="new-lead-notification new-lead-notification--success">
                        <span class="new-lead-notification__left-icon-block">
                            <i class="new-lead-notification__notification-ico"></i>
                        </span>
                        <span class="new-lead-notification__message">Unfortunately this lead is no longer available, please try another one <a>application # 1234</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-block">
            <div class="row">
                <div class="new-lead-notification-wp">
                    <div class="new-lead-notification new-lead-notification--error">
                        <span class="new-lead-notification__left-icon-block">
                            <i class="new-lead-notification__notification-ico"></i>
                        </span>
                        <span class="new-lead-notification__message">Unfortunately this lead is no longer available, please try another one <a>application # 1234</a></span>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="margin-block" data-bind="visible: list().length > 0" style="display:none;">
        <div class="row">

            <div class="main-table leads-page">
                <div class="main-table__block main-table__block--header">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__cell date" data-bind="click:configureSortClick(sortFields.date)">
                            <span>@Resources.Date</span>
                            <span class="filter-ico filter-ico--asc" data-bind="attr:{class:filterClasses(sortFields.date)}">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>
                        <div class="main-table__block__row__cell pos-code" data-bind="click:configureSortClick(sortFields.postalCode)">
                            <span>@Resources.PostalCode</span>
                            <span class="filter-ico filter-ico--asc" data-bind="attr:{class:filterClasses(sortFields.postalCode)}">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell pre-approved-for" data-bind="click:configureSortClick(sortFields.preApprovedFor)">
                            <span>@Resources.PreApprovedFor</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.preApprovedFor)}">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell project-type" data-bind="click:configureSortClick(sortFields.projectType)">
                            <span>@Resources.ProjectType</span>
                            <span class="filter-ico filter-ico--default" data-bind="attr:{class:filterClasses(sortFields.projectType)}">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell customer-comment" data-bind="click:configureSortClick(sortFields.customerComment)">
                            <span>@Resources.CustomerComment</span>
                            <span class="filter-ico filter-ico--desc" data-bind="click:configureSortClick(sortFields.customerComment)">
                                <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                            </span>
                        </div>

                        <div class="main-table__block__row__cell accept-lead">

                        </div>

                        <div class="main-table__block__row__cell info">

                        </div>
                    </div>
                </div>
                <!-- ko foreach: pager.pagedList -->
                <div class="main-table__block main-table__block--body">
                    <div class="main-table__block__row">
                        <div class="main-table__block__row__cell date">
                            <span data-bind="text: $data.Date"></span>
                        </div>
                        <div class="main-table__block__row__cell pos-code">
                            <span data-bind="text: $data.PostalCode"></span>
                        </div>
                        <div class="main-table__block__row__cell pre-approved-for">
                            <span data-bind="text: $data.PreApprovalAmount"></span>
                        </div>
                        <div class="main-table__block__row__cell project-type">
                            <span data-bind="text: $data.Equipment"></span>
                        </div>  
                        <div class="main-table__block__row__cell customer-comment">
                            <span data-bind="text: $data.CustomerComment"></span>
                        </div>
                        <div class="main-table__block__row__cell accept-lead">
                            <span>+</span><span>Accept lead</span>
                        </div>
                        <div class="main-table__block__row__cell info">
                            <i class="i-letter-ico"></i>
                            <span class="show-details">
                                <i class="sort-arrow-bottom sort-arrow-bottom--green"></i>
                            </span>
                        </div>
                    </div>
                    <div class="main-table__block__row">
                        <div class="table-row-details opened">
                            <div class="table-row-details__left">


                                <div class="table-row-details__left__customer-comment">
                                    <span>Customer comment</span>
                                    <span class="filter-ico filter-ico--default">
                                        <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__value">Here some comment from customer. Here some comment from customer. Some comment.</div>

                                <div class="table-row-details__left__info">
                                    <span>
                                        <i class="i-letter-ico"></i>
                                    </span>
                                </div>
                                <div class="table-row-details__left__accept-lead"><span>+</span><span>Accept lead</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="main-table__entries-number new-input-group">
                    <div class="custom-select-wrap">
                        <label for="entries-number">@Resources.NumberOfEntries</label>
                        <select name="entries-number"
                                id="entries-number"
                                data-bind="options: pager.pageSizes, selectric:pager.pageSize"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-block" data-bind="with: pager, visible: list().length > 0" style="display:none;">
        <div class="row">
            <div class="new-pagination-wp">
                <div class="new-pagination">
                    <a data-bind="click: goToPreviousPage, disable: pageIndex() == 1">
                        <i class="pagination-left-ico"></i>
                    </a>
                    <ul class="new-pagination__pages" data-bind="foreach: allPages">
                        <li data-bind="css: { active: $data.active, disabled: $data.disabled}">
                            <a data-bind="text: $data.pageText, enable: !$data.disabled, click: $parent.moveToPage"></a>
                        </li>
                    </ul>
                    <a data-bind="click: goToNextPage, disable: pageIndex() == maxPageIndex()">
                        <i class="pagination-right-ico"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @*<div class="accept-lead-popup">
        <i class="cross-ico"></i>
        <span class="accept-lead-popup__title">Accept lead</span>
        <span class="accept-lead-popup__legend">Are you sure? </br>On acceptance of lead a 1% of pre-approved loan value will be applied to your account as a lead free.</span>
        <div class="accept-lead-popup__buttons">
            <div class="new-btn-grey"><span>Cancel</span></div>
            <div class="new-btn-solid-green"><span>Accept lead</span></div>
        </div>
    </div>*@

    <div class="nw-placeholder" data-bind="visible: list().length < 1">
        <i class="nw-placeholder__icon my-deals-placeholder-ico"></i>
        <p>
            @Resources.YouDontHaveDealsClickBelowToCreate
        </p>
        <div class="nw-placeholder__links">
            <div class="icon-link-green">
                <i class="lamp-ico"></i>
                @* Change to Resources.CreateNewLoan for phase 4 *@
                @Html.ActionLink(Resources.NewApplication, "BasicInfo", "NewRental")
            </div>
            @*
                        Uncomment in phase 4
                        <div class="icon-link-green">
                        <i class="lamp-ico"></i>
                        @Html.ActionLink(Resources.CreateNewLease, "BasicInfo", "NewRental")
                    </div>
                *@
        </div>
    </div>
</div>

@section Translations
{
    translations['NotSelected'] = "@Resources.NotSelected";
    translations['Search'] = "@Resources.Search";
    translations['Show'] = "@Resources.Show";
    translations['Entries'] = "@Resources.Entries";
    translations['NoMatchingRecordsFound'] = "@Resources.NoMatchingRecordsFound";
    translations['LeadsNoMatchingRecordsFound'] = "@Resources.LeadsNoMatchingRecordsFound";
    translations['Leads'] = "@Resources.Leads";
    translations['AcceptLead'] = "@Resources.AcceptLead";
    translations['AreYouSure'] = "@Resources.AreYouSure";
    translations['AcceptanceOfLeadFeeAppliedToYourAccount'] = "@Resources.AcceptanceOfLeadFeeAppliedToYourAccount.Replace("{0}", Resources.PreApprovedLoanValueFee)"; //Replace fee value here.
    translations['PreApprovedLoanValueFeeWillBeApplied'] = "@Resources.PreApprovedLoanValueFeeWillBeApplied";
    translations['RequestedService'] = '@Html.Raw(Resources.RequestedServiceCustomerComment)';
}

@section Styles
{
    @Styles.Render("~/bundles/data-tables-content")
}

@section scripts
{
    <script type="text/javascript">
      var itemsUrl = '@Url.Action("GetLeads", "Home")';
      var isCompletedProfile = '@ViewBag.IsCompletedProfile' === 'True' ? true : false;

    </script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/leads")
    <script type="text/javascript">
        $(document).ready(function () {
            module.require('leads-page-index').init();
        });
    </script>
}
