<div class="expand-filter-template leads-filter">
    <div class="reset-form-inline">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">@Resources.PostalCode</label>
                    <div class="control-group">
                        <select id="postal-code" class="form-control select-filter filter-input"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">@Resources.PreApprovedFor</label>
                    <div class="control-group">
                        <select id="pre-approved-for" class="form-control select-filter filter-input"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="">@Resources.DateFrom</label>
                    <div class="control-group date-group">
                        <input type="text" class="form-control date-input filter-input" id="date-from">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label for="">@Resources.DateTo</label>
                    <div class="control-group date-group">
                        <input type="text" class="form-control date-input filter-input" id="date-to">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="control-group">
                        <a class="action-link grey not-positioned-link" id="clear-filters">
                            <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearFilters</span>
                        </a>
                    </div>
			    </div>
		    </div>
	        <div class="col-md-2 col-sm-6 text-right col-md-offset-10 col-sm-offset-6">
	            <div class="form-group">
	                <button class="btn btn-green col-xs-12 filter-button">@Resources.Filter</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>

@{
    var wasAcceptedResource = Resources.LeadWasAcceptedYouCanFind.Split(new[] { "{0}" }, StringSplitOptions.None);
}
<div class="well position-well clear-border collapse" id="msg-lead-accepted">
  <svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
  <span id="lead-msg"></span>
</div>

<div class="well position-well danger-well error-descr clear-border collapse" id="leads-error-message">
  <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
  <span id="error-msg-text"></span>
</div>

<div class="hidden" id="success-message-template">
    @if (wasAcceptedResource.Length >= 2)
    {
        @: @wasAcceptedResource[0]@Html.ActionLink(Resources.MyDeals, "Index", "MyDeals", null, new { @class = "dealnet-sidebar-link" })@wasAcceptedResource[1]
    }
</div>

<table id="work-items-table" class="display responsive my-deals-table my-leads-table " width="100%">
    <thead>
        <tr>
            <th class="all date-cell">@Resources.Date</th>
            <th class="min-mobile code-cell">@Resources.PostalCode</th>
            <th class="min-mobile-l preapproved-cell">@Resources.PreApprovedFor</th>
            <th class="min-tablet equipment-cell">@Resources.ProjectType</th>
            <th class="min-tablet customer-cell">@Resources.CustomerComment</th>
            <th class="all controls-cell accept-cell">@Resources.AcceptLead</th>
        </tr>
    </thead>
</table>

<div class="margin-block">
    <div class="row">
        <div class="filters my-deals-page">
            <div class="filters-head">
                <div class="filters-head__title">My Deals</div>
                <div class="filters-head__learn-more"><i class="lamp-ico"></i><a>Learn more about this page</a></div>
                <div class="filters-head__search new-input-group">
                    <div class="custom-text-input-group">
                        <input type="text" name="search" required>
                        <label>Search</label>
                        <span class="search-ico"></span>
                    </div>
                </div>
                <div class="filters-head__filter-btn new-btn-red-filter"><i class="filter-ico filter-ico--red"></i><span>Filters</span></div>
                <div class="filters-head__sort-btn new-sort-btn-red"><i class="sort-button-red-ico"></i><span>Sort</span></div>
            </div>
            <div class="filters-advanced detailed-mod">

                <div class="filters-advanced__type new-input-group">
                    <div class="custom-select-wrap">
                        <label for="project-type">Deal type</label>
                        <select name="project-type" id="project-type" class="custom-select">
                            <option value="">Air conditioner</option>
                            <option value="">Air filtration</option>
                            <option value="">Air handler</option>
                        </select>
                    </div>
                </div>
                <div class="filters-advanced__status new-input-group">
                    <div class="custom-select-wrap">
                        <label for="project-type">Deal status</label>
                        <select name="project-type" id="project-type" class="custom-select">
                            <option value="">Air conditioner</option>
                            <option value="">Air filtration</option>
                            <option value="">Air handler</option>
                        </select>
                    </div>
                </div>

                <div class="filters-advanced__date-from new-input-group">
                    <div class="custom-text-input-group icon">
                        <input type="text" required>
                        <label>Date from</label>
                        <span class="icon-calendar"></span>
                    </div>
                </div>

                <div class="filters-advanced__date-to new-input-group">
                    <div class="custom-text-input-group icon">
                        <input type="text" required>
                        <label>Date to</label>
                        <span class="icon-calendar"></span>
                    </div>
                </div>

                <div class="filters-advanced__created-by new-input-group">
                    <div class="custom-select-wrap">
                        <label for="project-type">Created by</label>
                        <select name="project-type" id="project-type" class="custom-select">
                            <option value="">Air conditioner</option>
                            <option value="">Air filtration</option>
                            <option value="">Air handler</option>
                        </select>
                    </div>
                </div>

                <div class="filters-advanced__sales-rep new-input-group">
                    <div class="custom-select-wrap">
                        <label for="project-type">Sales rep</label>
                        <select name="project-type" id="project-type" class="custom-select">
                            <option value="">Air conditioner</option>
                            <option value="">Air filtration</option>
                            <option value="">Air handler</option>
                        </select>
                    </div>
                </div>

                <div class="filters-advanced__filters-cloud">
                    <div class="filters-advanced__contract-number">Contract number - ascending<i class="cross-ico"></i></div>
                    <div class="filters-advanced__deal-status">Deal status - <i class="info-ico info-ico--red"></i> to <i class="info-ico info-ico--grey"></i> <i class="cross-ico"></i></div>
                    <div class="filters-advanced__e-sign">E-sign status - <i class="sign-ico sign-ico--red"></i> to <i class="sign-ico sign-ico--grey"></i> <i class="cross-ico"></i></div>
                    <div class="filters-advanced__applicant-name">Applicant name from Z to A<i class="cross-ico"></i></div>
                    <div class="filters-advanced__last-activity">Last activity — latest<i class="cross-ico"></i></div>
                    <div class="filters-advanced__days-left">Days left from ... to 1<i class="cross-ico"></i></div>
                </div>

                <div class="filters-advanced__clear-btn new-btn-grey"><span>Clear</span></div>
                <div class="filters-advanced__apply-btn new-btn-solid-red"><span>Apply</span></div>
            </div>
        </div>
    </div>
</div>

<div class="margin-block">
    <div class="row">
        <div class="new-lead-notification-wp">
            <div class="new-lead-notification new-lead-notification--success">
                <span class="new-lead-notification__left-icon-block">
                    <i class="new-lead-notification__notification-ico"></i>
                </span>
                <span class="new-lead-notification__message">Unfortunately this lead is no longer available, please try another one <a>application # 1234</a></span>
            </div>
        </div>
    </div>
</div>

<div class="margin-block">
    <div class="row">
        <div class="new-lead-notification-wp">
            <div class="new-lead-notification new-lead-notification--error">
                <span class="new-lead-notification__left-icon-block">
                    <i class="new-lead-notification__notification-ico"></i>
                </span>
                <span class="new-lead-notification__message">Unfortunately this lead is no longer available, please try another one <a>application # 1234</a></span>
            </div>
        </div>
    </div>
</div>

<div class="margin-block">
    <div class="row">

        <div class="main-table leads-page">
            <div class="main-table__block main-table__block--header">
                <div class="main-table__block__row">
                    <div class="main-table__block__row__cell checkbox-cell">
                        <label class="customized-checkbox-icon">
                            <input id="checkBox" type="checkbox" />
                            <span class="customized-checkbox-icon__image"></span>
                        </label>
                    </div>
                    <div class="main-table__block__row__cell date">
                        <span>Date</span>
                        <span class="filter-ico filter-ico--asc">
                            <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                        </span>
                    </div>
                    <div class="main-table__block__row__cell pos-code">
                        <span>Postal code</span>
                        <span class="filter-ico filter-ico--desc">
                            <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                        </span>
                    </div>

                    <div class="main-table__block__row__cell pre-approved-for">
                        <span>Pre-approved for</span>
                        <span class="filter-ico filter-ico--default">
                            <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                        </span>
                    </div>

                    <div class="main-table__block__row__cell project-type">
                        <span>Project type</span>
                        <span class="filter-ico filter-ico--default">
                            <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                        </span>
                    </div>

                    <div class="main-table__block__row__cell customer-comment">
                        <span>Customer comment</span>
                        <span class="filter-ico filter-ico--desc">
                            <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                        </span>
                    </div>

                    <div class="main-table__block__row__cell accept-lead">

                    </div>

                    <div class="main-table__block__row__cell info">

                    </div>
                </div>
            </div>

            <div class="main-table__block main-table__block--body">
                <div class="main-table__block__row">
                    <div class="main-table__block__row__cell checkbox-cell">
                        <label class="customized-checkbox-icon">
                            <input id="checkBox" type="checkbox" />
                            <span class="customized-checkbox-icon__image"></span>
                        </label>
                    </div>
                    <div class="main-table__block__row__cell date">
                        <span>11/11/17</span>
                    </div>
                    <div class="main-table__block__row__cell pos-code">
                        <span>L6M***</span>
                    </div>
                    <div class="main-table__block__row__cell pre-approved-for">
                        <span>$ 15,000.00</span>
                    </div>
                    <div class="main-table__block__row__cell project-type">
                        <span>Air conditioner</span>
                    </div>
                    <div class="main-table__block__row__cell customer-comment">
                        <span>Here some comment from customer. Here some comment from customer. Some comment.</span>
                    </div>
                    <div class="main-table__block__row__cell accept-lead">
                        <span>+</span><span>Accept lead</span>
                    </div>
                    <div class="main-table__block__row__cell info">
                        <i class="i-letter-ico"></i>
                        <span class="show-details">
                            <i class="sort-arrow-bottom sort-arrow-bottom--green"></i>
                        </span>
                    </div>
                </div>
                <div class="main-table__block__row">
                    <div class="table-row-details opened">
                        <div class="table-row-details__left">


                            <div class="table-row-details__left__customer-comment">
                                <span>Customer comment</span>
                                <span class="filter-ico filter-ico--default">
                                    <i class="sort-arrow-top"></i><i class="sort-arrow-bottom"></i>
                                </span>
                            </div>
                            <div class="table-row-details__left__value">Here some comment from customer. Here some comment from customer. Some comment.</div>

                            <div class="table-row-details__left__info">
                                <span>
                                    <i class="i-letter-ico"></i>
                                </span>
                            </div>
                            <div class="table-row-details__left__accept-lead"><span>+</span><span>Accept lead</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-table__block main-table__block--body">
                <div class="main-table__block__row">
                    <div class="main-table__block__row__cell checkbox-cell">
                        <label class="customized-checkbox-icon">
                            <input id="checkBox" type="checkbox" />
                            <span class="customized-checkbox-icon__image"></span>
                        </label>
                    </div>
                    <div class="main-table__block__row__cell date">
                        <span>11/11/17</span>
                    </div>
                    <div class="main-table__block__row__cell pos-code">
                        <span>L6M***</span>
                    </div>
                    <div class="main-table__block__row__cell pre-approved-for">
                        <span>$ 15,000.00</span>
                    </div>
                    <div class="main-table__block__row__cell project-type">
                        <span>Air conditioner</span>
                    </div>
                    <div class="main-table__block__row__cell customer-comment">
                        <span></span>
                    </div>
                    <div class="main-table__block__row__cell accept-lead">
                        <span>+</span><span>Accept lead</span>
                    </div>
                    <div class="main-table__block__row__cell info">
                        <i class="i-letter-ico"></i>
                    </div>
                </div>
            </div>

            <div class="main-table__block main-table__block--body">
                <div class="main-table__block__row">
                    <div class="main-table__block__row__cell checkbox-cell">
                        <label class="customized-checkbox-icon">
                            <input id="checkBox" type="checkbox" />
                            <span class="customized-checkbox-icon__image"></span>
                        </label>
                    </div>
                    <div class="main-table__block__row__cell date">
                        <span>11/11/17</span>
                    </div>
                    <div class="main-table__block__row__cell pos-code">
                        <span>L6M***</span>
                    </div>
                    <div class="main-table__block__row__cell pre-approved-for">
                        <span>$ 15,000.00</span>
                    </div>
                    <div class="main-table__block__row__cell project-type">
                        <span>Air conditioner</span>
                    </div>
                    <div class="main-table__block__row__cell customer-comment">
                        <span>Here some comment from customer. Here some comment from customer. Some comment.</span>
                    </div>
                    <div class="main-table__block__row__cell accept-lead">
                        <span>+</span><span>Accept lead</span>
                    </div>
                    <div class="main-table__block__row__cell info">
                        <i class="i-letter-ico"></i>
                    </div>
                </div>
            </div>
            <div class="main-table__entries-number new-input-group">
                <div class="custom-select-wrap">
                    <label for="entries-number">Numbers of entries</label>
                    <select name="entries-number" id="entries-number" class="custom-select">
                        <option value="">10</option>
                        <option value="">20</option>
                        <option value="">30</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="margin-block">
    <div class="row">
        <div class="new-pagination-wp">
            <div class="new-pagination">
                <a><i class="pagination-left-ico"></i></a>
                <ul class="new-pagination__pages">
                    <li><a>1</a></li>
                    <li class="active"><a>2</a></li>
                    <li><a>...</a></li>
                    <li><a>10</a></li>
                    <li><a>11</a></li>
                </ul>
                <a><i class="pagination-right-ico"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="help-cloud">
    <span class="icon-help-button"></span>
    Help
</div>
@section Translations
{
    translations['NotSelected'] = "@Resources.NotSelected";
    translations['Search'] = "@Resources.Search";
    translations['Show'] = "@Resources.Show";
    translations['Entries'] = "@Resources.Entries";
    translations['NoMatchingRecordsFound'] = "@Resources.NoMatchingRecordsFound";
    translations['LeadsNoMatchingRecordsFound'] = "@Resources.LeadsNoMatchingRecordsFound";
    translations['Leads'] = "@Resources.Leads";
    translations['AcceptLead'] = "@Resources.AcceptLead";
    translations['AreYouSure'] = "@Resources.AreYouSure";
    translations['AcceptanceOfLeadFeeAppliedToYourAccount'] = "@Resources.AcceptanceOfLeadFeeAppliedToYourAccount.Replace("{0}", Resources.PreApprovedLoanValueFee)"; //Replace fee value here.
    translations['PreApprovedLoanValueFeeWillBeApplied'] = "@Resources.PreApprovedLoanValueFeeWillBeApplied";
    translations['RequestedService'] = '@Html.Raw(Resources.RequestedServiceCustomerComment)';
}

@section Styles
{
    @Styles.Render("~/bundles/data-tables-content")
}

@section scripts
{
    <script type="text/javascript">
      var itemsUrl = '@Url.Action("GetLeads", "Home")';
      var isCompletedProfile = '@ViewBag.IsCompletedProfile' === 'True' ? true : false;

    </script>

    @Scripts.Render("~/bundles/data-tables-scripts")
    @Scripts.Render("~/bundles/leads")
}
