@model DealnetPortal.Web.Models.Dealer.DealerOnboardingViewModel

@{
    ViewBag.Title = "On Boarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

<script id="tradeReferenceTemplate" type="text/x-jquery-tmpl">
    <div class="trade-reference" id="trade-reference-${refNumber}">
        <div class="trade-reference-header">
            <h4 class="heading-bordered">Reference #${refNumber}</h4>
            <a href="" class="remove-reference-link" data-refNumber="${refNumber}">
                <svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg>
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Name of business</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Contact name</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <label for="" class="mandatory-field">Phone</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-3 col-clear-md-4">
                <div class="form-group">
                    <label for="" class="mandatory-field">Email address</label>
                    <div class="control-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-container">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.Street</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label>@Resources.UnitNumber</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.City</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-lg-4 col-clear-md-4 col-clear-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.Province</label>
                    <div class="control-group">
                        <select class="form-control" id="province">
                            <option value="">Province</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="mandatory-field">@Resources.PostalCode</label>
                    <div class="control-group">
                        <input type="text" class="form-control dealnet-input">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-clear-sm-6">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs hidden-sm">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <a href="#" class="dealnet-disabled-text clear-address">
                            <svg aria-hidden="true" class="icon icon-remove"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove")"></use></svg><span>@Resources.ClearAddress</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="aknowledgmentTemplate" type="text/x-jquery-tmpl">
    <div class="onboard-owners-row">
        <div class="onboard-owners-col name-col">
            <span class="onboard-owners-label">
                @Resources.Owner:&nbsp;
            </span>
            <span class="onboard-owners-value" id="${owner}-name-holder">
            </span>
        </div>
        <div class="onboard-owners-col date-col">
            <span class="onboard-owners-label">
                @Resources.Date:
            </span>
            <span class="onboard-owners-value">
                &nbsp;@DateTime.Now.ToString("dd.MM.yyyy")
            </span>
        </div>
        <div class="onboard-owners-col agree-col">
            <label class="align-middle custom-checkbox">
                <input type="checkbox" class="dealnet-checkbox" id="${owner}-agreement" />
                <span class="checkbox-icon">
                    <svg aria-hidden="true" class="icon icon-checked">
                        <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use>
                    </svg>
                </span>
                <span class="mandatory-field">@Resources.AcknowledgeAndAgree </span>
            </label>
        </div>
    </div>
</script>

<script type="text/x-jquery-tmpl" id="equipment-template">
    <li id="equipment-${index}-index">
        <input type="hidden" id="ProductInfo_EquipmentTypes_${index}__Id" name="ProductInfo.EquipmentTypes[${index}].Id" value="${id}" />
        <input type="hidden" id="ProductInfo_EquipmentTypes_${index}__Description" name="ProductInfo.EquipmentTypes[${index}].Description" value="${description}">
        <span id="equipment-${index}-display">${description}</span>
        <span class="icon-remove" id="equipment-${id}">
            <svg aria-hidden="true" class="icon icon-remove-cross">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
            </svg>
        </span>
    </li>
</script>

<script id="manufacturerBrandTemplate" type="text/x-jquery-tmpl">
    <div class="col-md-4 col-sm-6 new-brand-group">
        <div class="form-group">
            <label for="">@Resources.SecondaryManufacturerBrandSold</label>
            <div class="control-group removable-form-group">
                <input id="ProductInfo_Brands_${brandNumber}" name="ProductInfo.Brands[${brandNumber}]" type="text" class="form-control dealnet-input secondary-brand" value="">
                <a href="" class="remove-link remove-brand-link">
                    <svg aria-hidden="true" class="icon icon-remove-cross">
                        <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="province-template">
    <li id="province-0-index">
        <input id="province-0" name="CompanyInfo.Provinces[0]" type="hidden" value="" /><span id="province-0-display"></span>
        <span class="icon-remove">
            <svg aria-hidden="true" class="icon icon-remove-cross">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
            </svg>
        </span>
    </li>
</script>

<div class="modal onboard-modal fade" tabindex="-1" role="dialog" id="save-resume-modal"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/localization")
    @Scripts.Render("~/bundles/onboarding")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["PlacesAutocompleteKey"])&libraries=places&callback=init" async defer></script>
    <script type="text/javascript">
        module.require('onboarding.index').init(@Html.Raw(Json.Encode(Model)));
    </script>

    <script type="text/javascript">
        $(function () {
            setEqualHeightRows($(".equal-height-section-1"));


            $(window).on('resize', function () {
                setEqualHeightRows($(".equal-height-section-1"));
            });
            clearAddress();
        });

        var initRefNumber = 1;
        function addTradeReference() {
            $("#tradeReferenceTemplate").tmpl({ refNumber: initRefNumber })
                .appendTo("#references-container");

            customizeSelect();
            addIconsToFields();
            toggleClearInputIcon();
            clearAddress();


            if ($('.trade-reference').length > 0 && $('.trade-reference').length < 2) {
                $('#add-reference-link').addClass('mandatory-field');
            } else {
                $('#add-reference-link').removeClass('mandatory-field');
            }
            $('.trade-reference').slice(2, $('.trade-reference').length).addClass('is-removable');


            $('.remove-reference-link').on('click', function () {
                $(this).parents('.trade-reference').remove();
                return false;
            });

            initRefNumber++;
            return false;
        }

        function clearAddress() {
            $('.clear-address').click(function () {
                $(this).parents('.address-container').find('input').each(function () {
                    if ($(this).not('.placeholder')) {
                        $(this).val("");
                    }
                });
                return false;
            });
        }

        var saveDraftUrl = '@Url.Action("SaveDraft")';
        var sendLinkUrl = '@Url.Action("SendLink")';
        var uploadDocumentUrl = '@Url.Action("UploadDocument")';
    </script>
}

@section Translations {
    translations['SelectOneProduct'] = '@Resources.SelectOneProduct';
    translations['SelectOneProvince']= '@Resources.SelectOneProvince';
    translations['TheFieldMustBeMinimumAndMaximum'] = '@Resources.TheFieldMustBeMinimumAndMaximum';
    translations['SecondaryBrandIncorrectFormat'] = '@Resources.SecondaryBrandIncorrectFormat';
}
