@model DealnetPortal.Web.Models.Dealer.DealerOnboardingViewModel

@{
    ViewBag.Title = "On Boarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

<script id="aknowledgmentTemplate" type="text/x-jquery-tmpl">
    <div class="onboard-owners-row" id ="${owner}-aknowledgment-holder">
        <div class="onboard-owners-col name-col">
            <span class="onboard-owners-label">
                @Resources.Owner:&nbsp;
            </span>
            <span class="onboard-owners-value" id="${owner}-name-holder">
            </span>
        </div>
        <div class="onboard-owners-col date-col">
            <span class="onboard-owners-label">
                @Resources.Date:
            </span>
            <span class="onboard-owners-value">
                &nbsp;@DateTime.Now.ToString("dd.MM.yyyy")
            </span>
        </div>
        <div class="onboard-owners-col agree-col">
            <label class="align-middle custom-checkbox">
                <input type="checkbox" class="dealnet-checkbox" id="${owner}-agreement" name="Owners[${index}].Acknowledge" />
                <span class="checkbox-icon">
                    <svg aria-hidden="true" class="icon icon-checked">
                        <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use>
                    </svg>
                </span>
                <span class="mandatory-field">@Resources.AcknowledgeAndAgree </span>
            </label>
        </div>
    </div>
</script>

<script type="text/x-jquery-tmpl" id="equipment-template">
    <li id="equipment-${index}-index">
        <input type="hidden" id="ProductInfo_EquipmentTypes_${index}__Id" name="ProductInfo.EquipmentTypes[${index}].Id" value="${id}" />
        <input type="hidden" id="ProductInfo_EquipmentTypes_${index}__Description" name="ProductInfo.EquipmentTypes[${index}].Description" value="${description}">
        <span id="equipment-${index}-display">${description}</span>
        <span class="icon-remove" id="equipment-${id}">
            <svg aria-hidden="true" class="icon icon-remove-cross">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
            </svg>
        </span>
    </li>
</script>

<script id="manufacturerBrandTemplate" type="text/x-jquery-tmpl">
  <div class="col-md-4 col-sm-6 new-brand-group ${brandNumber===1?'col-clear-sm-6':''}">
    <div class="form-group">
      <label for="">@Resources.SecondaryManufacturerBrandSold</label>
      <div class="control-group removable-form-group">
                <input id="brands_${brandNumber}" name="ProductInfo.Brands[${brandNumber}]" type="text" data-val="true" data-val-length-min="2" data-val-length="The field Secondary brand must be a string with a minimum length of 2 and a maximum length of 50." data-val-length-max="50" class="form-control dealnet-input secondary-brand" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="ProductInfo.Brands[${brandNumber}]" data-valmsg-replace="true"></span>
                <a href="" class="remove-link remove-brand-link">
                    <svg aria-hidden="true" class="icon icon-remove-cross">
                        <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="province-template">
    <li id="province-0-index">
        <input id="province-0" name="CompanyInfo.Provinces[0]" type="hidden" value="" /><span id="province-0-display"></span>
        <span class="icon-remove">
            <svg aria-hidden="true" class="icon icon-remove-cross">
                <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
            </svg>
        </span>
    </li>
</script>

<script id="fileUploadedTemplate" type="text/x-jquery-tmpl">
    <li>
        <span class="uploaded-docs-title">
            ${filename}
            <a href="" class="remove-link remove-docs">
                <svg aria-hidden="true" class="icon icon-remove-cross">
                    <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use>
                </svg>
            </a>
        </span>
    </li>
</script>

<script id="licenseDocumentTemplate" type="text/x-jquery-tmpl">
    <div class="onboard-standart-doc-item" id="${id}-license-holder">
        <input data-val="true" data-val-number="The field LicenseTypeId must be a number." id="${id}-license-id" name="AdditionalDocuments[0].LicenseTypeId" type="hidden" value="${id}">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <div class="dealnet-label hidden-sm hidden-xs">&nbsp;</div>
                    <div class="onboard-standart-license-title">${name}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="">@Resources.RegistrationNumber</label>
                    <div class="control-group">
                        <input type="text" value="" id="${id}-license-number" data-val="true" data-val-length="@Resources.TheFieldMustBeMaximum.Replace("{0}", "Number").Replace("{1}", "20")" data-val-length-max="20" name="AdditionalDocuments[0].Number" class="form-control">
                        <span class="text-danger field-validation-error" data-valmsg-for="AdditionalDocuments[0].Number" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <label for="">@Resources.ExpiryDate</label>
                    <div class="control-group date-group">
                        <input type="text" class="form-control dealnet-input" data-val-date name="AdditionalDocuments[0].ExpiredDate" id="${id}-license-date">
                        <span class="field-validation-valid text-danger" data-valmsg-for="AdditionalDocuments[0].ExpiredDate" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="form-group">
                    <div class="dealnet-label hidden-xs">&nbsp;</div>
                    <div class="control-group flex-centered-text">
                        <label class="align-middle custom-checkbox">
                            <input type="checkbox" class="dealnet-checkbox" id="${id}-license-checkbox" name="AdditionalDocuments[0].NotExpired" value="false" />
                            <span class="icon checkbox-icon">
                                <svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg>
                            </span>
                            <span>@Resources.NoExpiry</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</script>

<div class="modal onboard-modal fade" tabindex="-1" role="dialog" id="save-resume-modal"></div>

@Html.Partial("_AgreementPersonalData")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/localization")
    @Scripts.Render("~/bundles/onboarding")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["PlacesAutocompleteKey"])&libraries=places&callback=initAutocomplete" async defer></script>
    <script type="text/javascript">
        module.require('onboarding.index');
        $(document).ready(function () {
            init(@Html.Raw(Json.Encode(Model)));
        });
    </script>

    <script type="text/javascript">
        $(function () {
            setEqualHeightRows($(".equal-height-section-1"));


            $(window).on('resize', function () {
                setEqualHeightRows($(".equal-height-section-1"));
            });
            clearAddress();

            $.validator.addMethod('validurl', function (value, element) {
                return $.validator.methods.url.call(this, value, element) ||  $.validator.methods.url.call(this, 'http://' + value, element);
            }, translations.SiteInvalidFormat);

            $('select').on('change',function(){
                if(!this.value){
                    $(this).addClass('no-value');
                }else{
                    $(this).removeClass('no-value');
                }
            })
        });

        function clearAddress() {
            $('.clear-address').click(function () {
                $(this).parents('.address-container').find('input, select').each(function () {
                    if ($(this).not('.placeholder')) {
                        $(this).val("");
                    }
                });
                return false;
            });
        }

        var saveDraftUrl = '@Url.Action("SaveDraft")';
        var sendLinkUrl = '@Url.Action("SendDraftLink")';
        var uploadDocumentUrl = '@Url.Action("UploadDocument")';
        var removeDocumentUrl = '@Url.Action("DeleteDocument")';
        var urlContent = "@Url.Content("~/")";
    </script>
}

@section Translations {
    translations['SelectOneProduct'] = '@Resources.SelectOneProduct';
    translations['SelectOneProvince']= '@Resources.SelectOneProvince';
    translations['TheFieldMustBeMinimumAndMaximum'] = '@Resources.TheFieldMustBeMinimumAndMaximum';
    translations['SecondaryBrandIncorrectFormat'] = '@Resources.SecondaryBrandIncorrectFormat';
    translations['SiteInvalidFormat']='@Resources.SiteInvalidFormat';
    translations['ErrorWhileUploadingFile'] = "@Resources.ErrorWhileUploadingFile";
    translations['YourFileTypeIsNotSupported'] = "@Resources.YourFileTypeIsNotSupported";
}
