@{
    ViewBag.Title = "OnBoardSuccess";
}
<div class="align-middle-section">
    <div class="navbar onboard-navbar navbar-fixed-side">
        <div class="navbar-header customer-navbar-header">
            <div class="dealnet-image-ecologo"></div>
        </div>
    </div>
    <div class="onboard-success-page align-middle-inner">
        <svg aria-hidden="true" class="icon icon-error">
            <use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use>
        </svg>
        <h2 class="page-heading">
            @Resources.SomethingWentWrong <br/> @Resources.CheckYourLink
        </h2>
        <div>
            @Resources.QuestionsContactDealerSupport<br />
            @Resources.Phone: @System.Configuration.ConfigurationManager.AppSettings["DealerSupportPhone"]<br />
            @Resources.Email: @System.Configuration.ConfigurationManager.AppSettings["InfoEmail"]
        </div>
    </div>
</div>

