@model DealnetPortal.Web.Models.ShareableLinkViewModel

<div id="label-steps">
    <div class="dealnet-action-link">@Resources.ShareableLink</div> >
</div>
<div class="dealnet-large-header main-heading">@Resources.ShareableLink</div>


<div class="shareable-link-page">
    @using (Html.BeginForm("Index", "ShareableLink", FormMethod.Post, new {id = "mainForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.HashDealerName)
        <div class="get-link-section">
            <div class="form-group">
                <div class="labels-hold">
                    <label for="enLink" class="dealnet-field-caption">@Resources.FormInEnglish</label>
                    <label class="checkbox-toggle">
                        <input class="toggle-language-link" @if(Model?.EnglishLinkEnabled ?? false) { <text>checked</text> } data-val="true" data-val-required="The EnglishLinkEnabled field is required." id="EnglishLinkEnabled" name="EnglishLinkEnabled" type="checkbox" value="true" />
                        <div class="slider"></div>
                        <input name="EnglishLinkEnabled" type="hidden" value="false" />
                    </label>
                </div>
                <div class="controls-hold">
                    <div class="control-group">
                        <input type="url" id="enLink" class="form-control dealnet-input" readonly="readonly" value="@Url.Action("Index", "CustomerForm", new { culture = "en", hashDealerName = Model?.HashDealerName }, Request.Url.Scheme)">
                    </div>
                    <button type="button" class="btn dealnet-success-button btn-small" id="copyEn">@Resources.Copy</button>
                </div>
            </div>
            <div class="form-group">
                <div class="labels-hold">
                    <label for="frLink" class="dealnet-field-caption">@Resources.FormInFrench</label>
                    <label class="checkbox-toggle">
                        <input class="toggle-language-link" @if(Model?.FrenchLinkEnabled ?? false) { <text>checked</text> } data-val="true" data-val-required="The FrenchLinkEnabled field is required." id="FrenchLinkEnabled" name="FrenchLinkEnabled" type="checkbox" value="true" />
                        <div class="slider"></div>
                        <input name="FrenchLinkEnabled" type="hidden" value="false" />
                    </label>
                </div>
                <div class="controls-hold">
                    <div class="control-group">
                        <input type="url" id="frLink" class="form-control dealnet-input" readonly="readonly" value="@Url.Action("Index", "CustomerForm", new { culture = "fr", hashDealerName = Model?.HashDealerName }, Request.Url.Scheme)">
                    </div>
                    <button type="button" class="btn dealnet-success-button btn-small" id="copyFr">@Resources.Copy</button>
                </div>
            </div>
        </div>
        <div class="equipment-section">
            <div class="sub-heading">@Resources.EquipmentService</div>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" id="englishBtn">
                    <a href="#equipment-en" aria-controls="equipment-en" role="tab" data-toggle="tab">
                        English
                    </a>
                </li>
                <li role="presentation" id="frenchBtn">
                    <a href="#equipment-fr" aria-controls="equipment-fr" role="tab" data-toggle="tab">
                        Français
                    </a>
                </li>
            </ul>
            <div class="form-group define-equipment-input">
                <label for="enEquipmentTags" class="dealnet-field-caption">@Resources.DefineYourEquipmentService</label>
                <div class="controls-hold">
                    <div class="control-group">
                        <input id="enEquipmentTags" class="form-control dealnet-input" value="" placeholder="@Resources.TypeYourEquipmentService">
                    </div>
                    <button type="button" class="btn dealnet-success-button btn-small" id="addEquipment">@Resources.Add</button>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="equipment-en">
                    <ul class="equipment-linked-tags tags-list" id="englishTagsList">
                        @if (Model?.EnglishServices != null)
                        {
                            foreach (var service in Model.EnglishServices)
                            {
                                <li><input class="hidden" name="EnglishServices" value="@service">@service <span class="icon-remove" onclick="$(this).parent().remove()"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                            }
                        }
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="equipment-fr">
                    <ul class="equipment-linked-tags tags-list" id="frenchTagsList">
                        @if (Model?.FrenchServices != null)
                        {
                            foreach (var service in Model.FrenchServices)
                            {
                                <li><input class="hidden" name="FrenchServices" value="@service">@service <span class="icon-remove" onclick="$(this).parent().remove()"><svg aria-hidden="true" class="icon icon-remove-cross"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-remove-cross")"></use></svg></span></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    <div class="save-proceed-btn-hold">
        <button class="btn dealnet-button dealnet-success-button btn-form-common" id="saveBtn">
            @Resources.Save
        </button>
        <div class="well success-well success-message collapse" id="success-message-enabled">
            <svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
            @Resources.FormUpdatedCustomersCanUse
        </div>

        <div class="well success-well success-message collapse" id="success-message-disabled">
            <svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
            @Resources.FormUpdatedButCustomersNotAbleToUse
        </div>
    </div>
</div>

@section Translations
{
    translations['ErrorWhileUpdatingData'] = "@Resources.ErrorWhileUpdatingData";
}

@section scripts
{
    @Scripts.Render("~/bundles/shareable-link")
}