@model DealnetPortal.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-12">
        <div class="login-container">
            <div class="dealnet-large-header">@ViewBag.Title</div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = ""})
                    <div>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control dealnet-input", type = "email"})
                    </div>
                </div>
                if (ViewBag.RegisterWithPassword)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new {@class = ""})
                        <div class="control-group control-group-pass">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control dealnet-input"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = ""})
                        <div class="control-group control-group-pass">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control dealnet-input"})
                        </div>
                    </div>
                }
<!--                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <label class="align-middle custom-checkbox">
                                    <input type="checkbox" />
                                    <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                                    <span>Remember me?</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 col-xs-12 col-lg-12 col-md-12">
                            <input type="submit" class="btn dealnet-button dealnet-success-button" value="@Resources.Register"/>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div class="form-group text-center">
                    @Html.ActionLink(@Resources.Login, "Login", "Account", null, new { @class = "" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
